<div class='slots-container'>
  <div class='index-tools-container'>
    <div class='index-tools-filter-container'>
      <%= search_form_for @q, class: 'index-search-form' do |f| %>
        <%= f.search_field :date_eq, id: 'search-field',
                            class: 'index-search-field',
                            value: @q.date_eq ? @q.date_eq .strftime('%d/%m/%Y') : '',
                            placeholder: t('search_appointment_placeholder') %>

        <%= f.submit t('search'), class: 'index-search-button' %>
      <% end %>
    </div>

    <div class='index-tools-controls-container'>
      <% if policy(:slot).new? %>
        <%= button_to t('new_slot_title'), new_slot_path,
                                                  class: 'link-to-new-slot-button',
                                                  form_class: 'link-to-new-slot-form',
                                                  method: :get %>
      <% end %>
    </div>
  </div>

  <div class='index-table-container'>
    <div class='slots-header'>
      <div class='slots-header-title slots-column-1'>
        <%= t('activerecord.attributes.slot.place') %>
      </div>
      <div class='slots-header-title slots-column-2'>
        <%= t('activerecord.attributes.slot.date') %>
      </div>
      <div class='slots-header-title slots-column-3'>
        <%= t('activerecord.attributes.slot.starting_time') %>
      </div>
      <div class='slots-header-title slots-column-4'>
        <%= t('activerecord.attributes.slot.available') %>
      </div>
    </div>

    <% @slots.each do |slot| %>
      <div class='slots-item-container'>
        <div class='slot-data slots-column-1'>
          <%= slot.place.name %>
        </div>

        <div class='slot-data slots-column-2'>
          <%= slot.date.to_s(:base_date_format) %>
        </div>

        <div class='slot-data slots-column-3'>
          <%= slot.starting_time.to_s(:time) %>
        </div>

        <div class='slots-column-4'>
          <%= t(slot.available) %>
        </div>

        <div class='index-controls-container'>
          <%= link_to t('delete'), slot_path(slot),
                                   data: { confirm: t('delete_confirmation') },
                                   class: 'index-control',
                                    method: :delete %>
        </div>
      </div>
    <% end %>

    <%= paginate @slots %>
  </div>
</div>
