<div class="fr-grid-row fr-grid-row--left fr-grid-row--middle fr-grid-row--gutters">
  <div class="fr-col-4">
    <h3 class="fr-mr-2w">Créneaux</h3>
  </div>
  <div class="fr-col-8">
    <div class="fr-grid-row fr-grid-row--right fr-grid-row--gutters">
      <ul class="fr-btns-group fr-btns-group--inline-lg">
        <% if policy(:slot).new? %>
          <%= link_to t('slots.new_batch_title'), new_slots_batch_path, class: 'fr-btn'%>
        <% end %>
        <% if policy(@slots).update_all? %>
          <%= button_tag t('index_slots_batch_close'), type: 'submit',
                                                   form: 'index-slots-update-form',
                                                   data: { 'turbo-confirm': t('basic_confirmation') },
                                                   class: 'fr-btn fr-btn--secondary-danger' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<%= search_form_for @q, id: 'index-header-filters-form' do |f| %>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col">
      <%= f.date_field :date_eq, id: 'search-field',
                            class: 'fr-input',
                            value: @q.date_eq ? @q.date_eq.strftime('%Y-%m-%d') : '',
                            placeholder: t('search-appointment-placeholder') %>
    </div>
    <div class="fr-col">
      <%= f.select :agenda_place_id_eq, options_for_select(options_for_select(places_options_for_select(@places), @q.agenda_place_id_eq), @q.agenda_place_id_eq),
                                          { include_blank: t('slots.index_place_filter') },
                                          { class: 'fr-select' } %>
    </div>
    <div class="fr-col">
      <%= f.select :agenda_id_eq, options_for_select(agendas_options_for_select(@agendas), @q.agenda_id_eq),
                                    { include_blank: t('index-appointment-agenda-filter') },
                                    { class: 'fr-select' } %>
    </div>
    <div class="fr-col">
      <%= f.select :appointment_type_id_eq, options_from_collection_for_select(@appointment_types, 'id', 'name', @q.appointment_type_id_eq),
                                    { include_blank: t('index-slots-appointment-type-filter') },
                                    { class: 'fr-select' } %>
    </div>
    <div class="fr-col">
      <%= button_tag t('filter'), type: 'submit', class: 'fr-btn fr-btn--secondary', form: 'index-header-filters-form' %>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
    <div class="fr-col fr-checkbox-group">
      <%= f.check_box :full_eq, { class: 'fr-checkbox', checked: params.dig(:q, :full_eq).blank? } %>
      <%= f.label :full_eq, t('index-slots-full-filter'), class: 'fr-label' %>
    </div>
  </div>
<% end %>
<div class="fr-table fr-table--lg fr-table--layout-fixed fr-mt-2w">
  <div class="fr-table__wrapper">
    <div class="fr-table__container">
      <div class="fr-table__content">
        <%= form_tag slots_batch_path, method: 'put', id: 'index-slots-update-form' do %>
          <table>
            <thead>
              <tr>
                <th scope="col white-space-normal"></th>
                <th scope="col white-space-normal"><%= t('activerecord.attributes.slot.place') %></th>
                <th scope="col white-space-normal"><%= t('activerecord.models.agenda') %></th>
                <th scope="col white-space-normal"><%= t('activerecord.attributes.slot.appointment_type') %></th>
                <th scope="col white-space-normal"><%= t('activerecord.attributes.slot.date') %></th>
                <th scope="col white-space-normal"><%= t('activerecord.attributes.slot.starting_time') %></th>
                <th scope="col white-space-normal"><%= t('index-slots-available-capacity') %></th>
                <th scope="col white-space-normal"></th>
              </tr>
            </thead>
            <tbody>
              <% @slots.each do |slot| %>
                <tr>
                  <td class="white-space-normal">
                    <div class="fr-grid-row fr-grid-row--middle fr-grid-row--center">
                      <% if policy(slot).update? %>
                        <%= check_box_tag "slot_ids[]", slot.id, false, id: "slot_#{slot.id}" %>
                      <% end %>
                    </div>
                  </td>
                  <td class="white-space-normal"><%= slot.agenda.place.name %></td>
                  <td class="white-space-normal"><%= slot.agenda.name %></td>
                  <td class="white-space-normal"><%= slot.appointment_type.name %></td>
                  <td class="white-space-normal"><%= slot.date.to_fs(:base_date_format) %></td>
                  <td class="white-space-normal"><%= slot.localized_time.to_fs(:time) %></td>
                  <td class="white-space-normal">
                    <div class="fr-grid-row fr-grid-row--middle fr-grid-row--center fr-grid-row--gutters">
                      <div class="col-fr">
                        <span>
                          <%= slot.capacity - slot.used_capacity %> / <%= slot.capacity %>
                        </span>
                      </div>
                    </div>
                  </td>
                  <td class="white-space-normal">
                    <div class="fr-grid-row fr-grid-row--middle fr-grid-row--center">
                      <% if policy(slot).update? %>
                        <%= link_to t('close'), slot_path(slot, slot: { available: false }),
                                                  data: { 'turbo-confirm': t('basic_confirmation'), "turbo_method": :put },
                                                  class: 'slots-index-control' %>
                        <%= link_to t('edit'), edit_slot_path(slot), class: 'slots-index-control' %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <%= paginate @slots %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'slots_index', "data-turbo-track": "reload", defer: true %>
