<div class='slots-container'>
  <div class='index-tools-container'>
    <div class='index-tools-filter-container'>
      <%= search_form_for @q, class: 'index-search-form' do |f| %>
        <%= f.search_field :date_eq, id: 'search-field',
                            class: 'index-search-field',
                            value: @q.date_eq ? @q.date_eq.strftime('%d/%m/%Y') : '',
                            placeholder: t('search-appointment-placeholder') %>

        <%= f.select :agenda_place_id_eq, options_from_collection_for_select(Place.in_department(current_user.organization.departments.first), 'id', 'name', @q.agenda_place_id_eq),
                                          { include_blank: t('index_slot_place_filter') },
                                          { class: 'form-select index-place-filter-field' } %>

        <%= f.select :agenda_id_eq, options_from_collection_for_select(Agenda.in_organization(current_user.organization), 'id', 'name', @q.agenda_id_eq),
                                    { include_blank: t('index-appointment-agenda-filter') },
                                    { class: 'form-select index-place-filter-field' } %>

        <%= f.submit t('filter'), class: 'index-search-button' %>
      <% end %>
    </div>

    <div class='index-tools-controls-container'>
      <% if policy(:slot).new? %>
        <%= button_to t('new_slot_title'), new_slot_path,
                                           class: 'link-to-new-slot-button',
                                           form_class: 'link-to-new-slot-form',
                                           method: :get %>
      <% end %>
    </div>
  </div>

  <div class='index-table-container'>
    <div class='slots-header'>
      <div class='slots-header-title slots-column-1'>
        <%= t('activerecord.attributes.slot.place') %>
      </div>
      <div class='slots-header-title slots-column-2'>
        <%= t('activerecord.models.agenda') %>
      </div>
      <div class='slots-header-title slots-column-3'>
        <%= t('activerecord.attributes.slot.date') %>
      </div>
      <div class='slots-header-title slots-column-4'>
        <%= t('activerecord.attributes.slot.starting_time') %>
      </div>
      <div class='slots-header-title slots-column-5'>
        <%= t('activerecord.attributes.slot.available') %>
      </div>
      <div class='slots-header-title slots-column-6'>
        <%= t('activerecord.attributes.slot.capacity') %>
      </div>
      <div class='index-controls-container'></div>
    </div>

    <% @slots.each do |slot| %>
      <div class='slots-item-container'>
        <div class='slot-data slots-column-1'>
          <%= slot.agenda.place.name %>
        </div>

        <div class='slot-data slots-column-2'>
          <%= slot.agenda.name %>
        </div>

        <div class='slot-data slots-column-3'>
          <%= slot.date.to_s(:base_date_format) %>
        </div>

        <div class='slot-data slots-column-4'>
          <%= slot.starting_time.to_s(:time) %>
        </div>

        <div class='slots-column-5'>
          <%= t(slot.available) %>
        </div>

        <div class='slots-column-6'>
          <%= slot.used_capacity %> / <%= slot.capacity %>
        </div>

        <div class='index-controls-container'>


          <%= link_to t('close'), slot_path(slot, slot: { available: false }),
                                  method: :put,
                                  data: { confirm: t('basic_confirmation') },
                                  class: 'index-control' %>
        </div>
      </div>
    <% end %>

    <%= paginate @slots %>
  </div>
</div>
