<% unless current_user.organization.jap_modal_content.empty? %>
  <section class='agendas-modal-trigger-container'>
    <%= button_tag(t('new-appointment-jap-agendas'), type: 'button',
                                                     class: 'jap-agendas-modal-trigger',
                                                     data: { :'micromodal-trigger' => 'jap-agendas-modal' }) %>
  </section>
<% end %>

<h1 class='form-title'><%= t('new_slot_title') %></h1>

<%= simple_form_for @slot, html: { class: 'basic-form' } do |f| %>
  <%= f.association :agenda, collection: Agenda.in_organization(current_user.organization),
                             label: t('activerecord.models.agenda'),
                             input_html: { class: 'form-select' } %>
  <%= f.association :appointment_type, collection: AppointmentType.with_slot_types,
                                       label: t('activerecord.models.appointment_type'),
                                       input_html: { class: 'form-select' } %>
  <%= f.input :date, input_html: { class: 'form-select' }, wrapper: :custom_date, start_year: Time.zone.now.year %>
  <%= f.input :starting_time, input_html: { class: 'form-select', value: f.object.starting_time.to_s },
                              wrapper: :custom_time,
                              start_hour: 7,
                              end_hour: 20,
                              minute_step: 5 %>

  <%= f.input :duration %>
  <%= f.input :capacity %>
  <%= f.button :submit, t('new_slot_submit'), class: 'form-submit-button' %>
<% end %>

<%= render 'shared/jap_agendas_modal' %>
