<div class='fr-container static-content-container fr-pb-6w fr-pt-8w'>
  <h1 class='static-simple-title static-title-orange'><%= t('amenagements.titre') %></h1>

  <div class='static-content'>
    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.reponse1_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste3') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.reponse1_c') %></p>

    <h2 class='comprendre-ma-peine-secondary-title'><%= t('amenagements.type1.titre') %></h2>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse1_c') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse2_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse3_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste4') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse3_c') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse4_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse5_b') %></p>

    <h2 class='comprendre-ma-peine-secondary-title'><%= t('amenagements.type2.titre') %></h2>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse1_c') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse2_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse3_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste4') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse3_c') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse4_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse5_b') %></p>

    <h2 class='comprendre-ma-peine-secondary-title'><%= t('amenagements.type3.titre') %></h2>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse1_exemple') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse2_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse3_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse4_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse5_b') %></p>

    <h2 class='comprendre-ma-peine-secondary-title'><%= t('amenagements.type4.titre') %></h2>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse1_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse2_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse3_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste4') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse3_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse4_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse5_a') %></p>

    <h2 class='comprendre-ma-peine-secondary-title'><%= t('amenagements.type5.titre') %></h2>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse1_c') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse2_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse3_b') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse4_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse5_a') %></p>

    <h2 class='comprendre-ma-peine-secondary-title'><%= t('amenagements.type6.titre') %></h2>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse1_exemple') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse2_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse3_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse4_a') %></p>

    <h2 class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse5_a') %></p>
  </div>
</div>
