<div class='static-page-container'>
  <h1 class='static-title'><%= t('amenagements.titre') %></h1>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.question1') %></p>
    <p class='static-text-bloc'><%= t('amenagements.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.reponse1_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste3') %></li>
    </ul>

    <p class='static-text-bloc'><%= t('amenagements.reponse1_c') %></p>
  </div>

  <h2 class='static-secondary-title'><%= t('amenagements.type1.titre') %></h2>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type1.question1') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse1_b') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse1_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type1.question2') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse2_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse2_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type1.question3') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse3_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse3_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste4') %></li>
    </ul>

    <p class='static-text-bloc'><%= t('amenagements.type1.reponse3_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type1.question4') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type1.question5') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse5_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type1.reponse5_b') %></p>
  </div>

  <h2 class='static-secondary-title'><%= t('amenagements.type2.titre') %></h2>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type2.question1') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse1_b') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse1_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type2.question2') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse2_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse2_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type2.question3') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse3_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse3_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste4') %></li>
    </ul>

    <p class='static-text-bloc'><%= t('amenagements.type2.reponse3_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type2.question4') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type2.question5') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse5_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type2.reponse5_b') %></p>
  </div>

  <h2 class='static-secondary-title'><%= t('amenagements.type3.titre') %></h2>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type3.question1') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse1_b') %></p>
    <p class='static-text-bloc static-example'><%= t('amenagements.type3.reponse1_exemple') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type3.question2') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse2_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse2_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type3.question3') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse3_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse3_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type3.question4') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type3.question5') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse5_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type3.reponse5_b') %></p>
  </div>

  <h2 class='static-secondary-title'><%= t('amenagements.type4.titre') %></h2>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type4.question1') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type4.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type4.reponse1_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type4.question2') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type4.reponse2_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type4.reponse2_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type4.question3') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type4.reponse3_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste4') %></li>
    </ul>

    <p class='static-text-bloc'><%= t('amenagements.type4.reponse3_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type4.question4') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type4.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type4.question5') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type4.reponse5_a') %></p>
  </div>

  <h2 class='static-secondary-title'><%= t('amenagements.type5.titre') %></h2>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type5.question1') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse1_b') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse1_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type5.question2') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse2_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse2_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type5.question3') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse3_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse3_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type5.question4') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type5.question5') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type5.reponse5_a') %></p>
  </div>

  <h2 class='static-secondary-title'><%= t('amenagements.type6.titre') %></h2>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type6.question1') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type6.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type6.reponse1_b') %></p>
    <p class='static-text-bloc static-example'><%= t('amenagements.type6.reponse1_exemple') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type6.question2') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type6.reponse2_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type6.question3') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type6.reponse3_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type6.question4') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type6.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('amenagements.type6.question5') %></p>
    <p class='static-text-bloc'><%= t('amenagements.type6.reponse5_a') %></p>
  </div>
</div>
