<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange'><%= t('amenagements.titre') %></h1>

  <div class='static-content'>
    <h2 class='static-secondary-title fr-mb-3w'><%= t('amenagements.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.reponse1_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.reponse1_liste3') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.reponse1_c') %></p>
  </div>

  <label for="toggle-amenagement1" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div><%= t('amenagements.type1.titre') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="amenagement1-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="amenagement1-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-amenagement1" class='static-hidden-checkbox'>

  <div class='static-content amenagement1-content'>
    <h2 class='static-tertiary-title fr-mb-3w'><%= t('amenagements.type1.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse1_c') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse2_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse3_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type1.reponse3_liste4') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse3_c') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse4_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type1.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type1.reponse5_b') %></p>
  </div>

  <label for="toggle-amenagement2" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div><%= t('amenagements.type2.titre') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="amenagement2-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="amenagement2-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-amenagement2" class='static-hidden-checkbox'>

  <div class='static-content amenagement2-content'>
    <h2 class='static-tertiary-title fr-mb-3w'><%= t('amenagements.type2.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse1_c') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse2_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse3_b') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type2.reponse3_liste4') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse3_c') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse4_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type2.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type2.reponse5_b') %></p>
  </div>

  <label for="toggle-amenagement3" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div><%= t('amenagements.type3.titre') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="amenagement3-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="amenagement3-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-amenagement3" class='static-hidden-checkbox'>

  <div class='static-content amenagement3-content'>
    <h2 class='static-tertiary-title fr-mb-3w'><%= t('amenagements.type3.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse1_exemple') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse2_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse3_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse4_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type3.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type3.reponse5_b') %></p>
  </div>

  <label for="toggle-amenagement4" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div><%= t('amenagements.type4.titre') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="amenagement4-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="amenagement4-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-amenagement4" class='static-hidden-checkbox'>

  <div class='static-content amenagement4-content'>
    <h2 class='static-tertiary-title fr-mb-3w'><%= t('amenagements.type4.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse1_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse2_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse3_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste1') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste2') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste3') %></li>
      <li class='static-list-short-item'><%= t('amenagements.type4.reponse3_liste4') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse3_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse4_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type4.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type4.reponse5_a') %></p>
  </div>

  <label for="toggle-amenagement5" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div><%= t('amenagements.type5.titre') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="amenagement5-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="amenagement5-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-amenagement5" class='static-hidden-checkbox'>

  <div class='static-content amenagement5-content'>
    <h2 class='static-tertiary-title fr-mb-3w'><%= t('amenagements.type5.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse1_c') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse2_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse3_b') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse4_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type5.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type5.reponse5_a') %></p>
  </div>

  <label for="toggle-amenagement6" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div><%= t('amenagements.type6.titre') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="amenagement6-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="amenagement6-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-amenagement6" class='static-hidden-checkbox'>

  <div class='static-content amenagement6-content'>
    <h2 class='static-tertiary-title fr-mb-3w'><%= t('amenagements.type6.question1') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse1_exemple') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question2') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse2_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question3') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse3_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question4') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse4_a') %></p>

    <h2 class='static-tertiary-title fr-mt-2w fr-mb-3w'><%= t('amenagements.type6.question5') %></h2>
    <p class='fr-text fr-mb-2w'><%= t('amenagements.type6.reponse5_a') %></p>
  </div>
</div>

<%= javascript_pack_tag 'static/amenagements', 'data-turbolinks-eval': false, defer: true %>
