<div class='fr-container'>
  <h1><%= t('amenagements.titre') %></h1>

  <p class='fr-text--lead'><%= t('amenagements.question1') %></p>
  <p class='fr-text'><%= t('amenagements.reponse1_a') %></p>
  <p class='fr-text'><%= t('amenagements.reponse1_b') %></p>

  <ul>
    <li><%= t('amenagements.reponse1_liste1') %></li>
    <li><%= t('amenagements.reponse1_liste2') %></li>
    <li><%= t('amenagements.reponse1_liste3') %></li>
  </ul>

  <p class='fr-text'><%= t('amenagements.reponse1_c') %></p>

  <h2><%= t('amenagements.type1.titre') %></h2>

  <p class='fr-text--lead'><%= t('amenagements.type1.question1') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse1_a') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse1_b') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse1_c') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type1.question2') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse2_a') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse2_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type1.question3') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse3_a') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse3_b') %></p>

  <ul>
    <li><%= t('amenagements.type1.reponse3_liste1') %></li>
    <li><%= t('amenagements.type1.reponse3_liste2') %></li>
    <li><%= t('amenagements.type1.reponse3_liste3') %></li>
    <li><%= t('amenagements.type1.reponse3_liste4') %></li>
  </ul>

  <p class='fr-text'><%= t('amenagements.type1.reponse3_c') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type1.question4') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse4_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type1.question5') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse5_a') %></p>
  <p class='fr-text'><%= t('amenagements.type1.reponse5_b') %></p>

  <h2><%= t('amenagements.type2.titre') %></h2>

  <p class='fr-text--lead'><%= t('amenagements.type2.question1') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse1_a') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse1_b') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse1_c') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type2.question2') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse2_a') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse2_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type2.question3') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse3_a') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse3_b') %></p>

  <ul>
    <li><%= t('amenagements.type2.reponse3_liste1') %></li>
    <li><%= t('amenagements.type2.reponse3_liste2') %></li>
    <li><%= t('amenagements.type2.reponse3_liste3') %></li>
    <li><%= t('amenagements.type2.reponse3_liste4') %></li>
  </ul>

  <p class='fr-text'><%= t('amenagements.type2.reponse3_c') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type2.question4') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse4_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type2.question5') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse5_a') %></p>
  <p class='fr-text'><%= t('amenagements.type2.reponse5_b') %></p>

  <h2><%= t('amenagements.type3.titre') %></h2>

  <p class='fr-text--lead'><%= t('amenagements.type3.question1') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse1_a') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse1_b') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse1_exemple') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type3.question2') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse2_a') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse2_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type3.question3') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse3_a') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse3_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type3.question4') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse4_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type3.question5') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse5_a') %></p>
  <p class='fr-text'><%= t('amenagements.type3.reponse5_b') %></p>

  <h2><%= t('amenagements.type4.titre') %></h2>

  <p class='fr-text--lead'><%= t('amenagements.type4.question1') %></p>
  <p class='fr-text'><%= t('amenagements.type4.reponse1_a') %></p>
  <p class='fr-text'><%= t('amenagements.type4.reponse1_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type4.question2') %></p>
  <p class='fr-text'><%= t('amenagements.type4.reponse2_a') %></p>
  <p class='fr-text'><%= t('amenagements.type4.reponse2_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type4.question3') %></p>
  <p class='fr-text'><%= t('amenagements.type4.reponse3_a') %></p>

  <ul>
    <li><%= t('amenagements.type4.reponse3_liste1') %></li>
    <li><%= t('amenagements.type4.reponse3_liste2') %></li>
    <li><%= t('amenagements.type4.reponse3_liste3') %></li>
    <li><%= t('amenagements.type4.reponse3_liste4') %></li>
  </ul>

  <p class='fr-text'><%= t('amenagements.type4.reponse3_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type4.question4') %></p>
  <p class='fr-text'><%= t('amenagements.type4.reponse4_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type4.question5') %></p>
  <p class='fr-text'><%= t('amenagements.type4.reponse5_a') %></p>

  <h2><%= t('amenagements.type5.titre') %></h2>

  <p class='fr-text--lead'><%= t('amenagements.type5.question1') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse1_a') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse1_b') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse1_c') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type5.question2') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse2_a') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse2_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type5.question3') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse3_a') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse3_b') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type5.question4') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse4_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type5.question5') %></p>
  <p class='fr-text'><%= t('amenagements.type5.reponse5_a') %></p>

  <h2><%= t('amenagements.type6.titre') %></h2>

  <p class='fr-text--lead'><%= t('amenagements.type6.question1') %></p>
  <p class='fr-text'><%= t('amenagements.type6.reponse1_a') %></p>
  <p class='fr-text'><%= t('amenagements.type6.reponse1_b') %></p>
  <p class='fr-text'><%= t('amenagements.type6.reponse1_exemple') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type6.question2') %></p>
  <p class='fr-text'><%= t('amenagements.type6.reponse2_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type6.question3') %></p>
  <p class='fr-text'><%= t('amenagements.type6.reponse3_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type6.question4') %></p>
  <p class='fr-text'><%= t('amenagements.type6.reponse4_a') %></p>

  <p class='fr-text--lead'><%= t('amenagements.type6.question5') %></p>
  <p class='fr-text'><%= t('amenagements.type6.reponse5_a') %></p>
</div>
