<div class='fr-container static-content-container'>
  <h1 class='static-simple-title'><%= t('donnees.title') %></h1>

  <div class='static-content'>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text1') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text2') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text3') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text4') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text5') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text6') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('donnees.sub_title2') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text7') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('donnees.sub_title3') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text8') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text9') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('donnees.sub_title4') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text10') %></p>
    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('donnees.text11') %></li>
      <li class='static-list-short-item'><%= t('donnees.text12') %></li>
      <li class='static-list-short-item'><%= t('donnees.text13') %></li>
    </ul>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('donnees.sub_title5') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text14') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text15') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('donnees.text16') %></li>
      <li class='static-list-short-item'><%= t('donnees.text17') %></li>
    </ul>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text18') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text19') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('donnees.sub_title6') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text20') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text21') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text22') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text23') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text24') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('donnees.sub_title7') %></p>
    <p class='fr-text fr-mb-2w'><%= t('donnees.text25') %></p>
  </div>
</div>
