<div class='static-info-page-header-wrapper'>
  <div class='static-info-page-header fr-container'>
    <div class='static-infos-page-header-icon'><%= image_tag 'static/docs_reverse.svg' %></div>
    <div class='static-infos-page-header-content'>
      <h1 class='static-infos-page-header-category'><%= t('obligations.category') %></h1>
      <h1 class='static-infos-page-header-title'><%= t('obligations.title') %></h1>
      <div class='static-infos-page-header-subtitle'><%= t('obligations.subtitle') %></div>
    </div>
  </div>
</div>

  <div class='fr-container static-content-container'>
    <p class='fr-text fr-mb-2w'><%= t('obligations.intro') %></p>

    <label for="toggle-op1" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec1_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op1-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op1-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op1" class='static-hidden-checkbox'>

    <div class='obligations-op1-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec1_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec1_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec1_explication2') %></p>
    </div>

    <label for="toggle-op2" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec2_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op2-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op2-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op2" class='static-hidden-checkbox'>

    <div class='obligations-op2-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication3') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication4') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication5') %></p>
    </div>

    <label for="toggle-op3" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec3_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op3-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op3-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op3" class='static-hidden-checkbox'>

    <div class='obligations-op3-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_explication3') %></p>
    </div>

    <label for="toggle-op4" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec4_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op4-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op4-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op4" class='static-hidden-checkbox'>

    <div class='obligations-op4-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_explication3') %></p>
    </div>

    <label for="toggle-op5" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec5_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op5-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op5-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op5" class='static-hidden-checkbox'>

    <div class='obligations-op5-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_explication3') %></p>
    </div>

    <label for="toggle-op6" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec6_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op6-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op6-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op6" class='static-hidden-checkbox'>

    <div class='obligations-op6-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_explication3') %></p>
    </div>

    <label for="toggle-op7" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec7_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op7-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op7-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op7" class='static-hidden-checkbox'>

    <div class='obligations-op7-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7_explication1') %></p>
    </div>

    <label for="toggle-op7bis" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec7bis_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op7bis-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op7bis-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op7bis" class='static-hidden-checkbox'>

    <div class='obligations-op7bis-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7bis_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7bis_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7bis_explication2') %></p>
    </div>

    <label for="toggle-op8" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec8_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op8-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op8-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op8" class='static-hidden-checkbox'>

    <div class='obligations-op8-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_explication3') %></p>
    </div>

    <label for="toggle-op9" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec9_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op9-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op9-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op9" class='static-hidden-checkbox'>

    <div class='obligations-op9-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_explication3') %></p>
    </div>

    <label for="toggle-op10" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec10_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op10-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op10-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op10" class='static-hidden-checkbox'>

    <div class='obligations-op10-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec10_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec10_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec10_explication2') %></p>
    </div>

    <label for="toggle-op11" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec11_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op11-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op11-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op11" class='static-hidden-checkbox'>

    <div class='obligations-op11-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec11_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec11_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec11_explication2') %></p>
    </div>

    <label for="toggle-op12" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec12_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op12-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op12-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op12" class='static-hidden-checkbox'>

    <div class='obligations-op12-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec12_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec12_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec12_explication2') %></p>
    </div>

    <label for="toggle-op13" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec13_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op13-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op13-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op13" class='static-hidden-checkbox'>

    <div class='obligations-op13-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec13_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec13_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec13_explication2') %></p>
    </div>

    <label for="toggle-op14" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec14_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op14-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op14-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op14" class='static-hidden-checkbox'>

    <div class='obligations-op14-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec14_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec14_explication1') %></p>
    </div>

    <label for="toggle-op15" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec15_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op15-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op15-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op15" class='static-hidden-checkbox'>

    <div class='obligations-op15-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec15_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec15_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec15_explication2') %></p>
    </div>

    <label for="toggle-op16" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec16_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op16-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op16-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op16" class='static-hidden-checkbox'>

    <div class='obligations-op16-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec16_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec16_explication1') %></p>
    </div>

    <label for="toggle-op17" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec17_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op17-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op17-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op17" class='static-hidden-checkbox'>

    <div class='obligations-op17-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec17_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec17_explication1') %></p>
    </div>

    <label for="toggle-op18" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec18_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op18-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op18-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op18" class='static-hidden-checkbox'>

    <div class='obligations-op18-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18_explication2') %></p>
    </div>

    <label for="toggle-op18bis" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec18bis_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op18bis-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op18bis-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op18bis" class='static-hidden-checkbox'>

    <div class='obligations-op18bis-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18bis_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18bis_explication1') %></p>
    </div>

    <label for="toggle-op19" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec19_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op19-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op19-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op19" class='static-hidden-checkbox'>

    <div class='obligations-op19-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec19_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec19_explication1') %></p>
    </div>

    <label for="toggle-op20" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec20_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op20-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op20-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op20" class='static-hidden-checkbox'>

    <div class='obligations-op20-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec20_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec20_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec20_explication2') %></p>
    </div>

    <label for="toggle-op21" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec21_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op21-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op21-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op21" class='static-hidden-checkbox'>

    <div class='obligations-op21-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec21_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec21_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec21_explication2') %></p>
    </div>

    <label for="toggle-op22" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec22_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op22-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op22-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op22" class='static-hidden-checkbox'>

    <div class='obligations-op22-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication2') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication3') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication4') %></p>
    </div>

    <label for="toggle-op23" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec23_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op23-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op23-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op23" class='static-hidden-checkbox'>

    <div class='obligations-op23-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec23_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec23_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec23_explication2') %></p>
    </div>

    <label for="toggle-op24" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec24_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op24-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op24-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op24" class='static-hidden-checkbox'>

    <div class='obligations-op24-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec24_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec24_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec24_explication2') %></p>
    </div>

    <label for="toggle-op25" class='static-dropdown-trigger obligations-menu-trigger'>
      <div class='obligations-menu-text'><%= t('obligations.obligation_spec25_titre') %></div>

      <span class="fr-fi-arrow-down-s-line obligations-menu-picto" id="op25-picto-down" aria-hidden="true"></span>
      <span class="fr-fi-arrow-up-s-line obligations-menu-picto static-dropdown-picto-inactive" id="op25-picto-up" aria-hidden="true"></span>
    </label>

    <input type='checkbox' id="toggle-op25" class='static-hidden-checkbox'>

    <div class='obligations-op25-content static-content'>
      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_qui_est_ecrit') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec25_convocation') %></p>

      <p class='obligations-secondary-title fr-mb-3w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec25_explication1') %></p>
      <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec25_explication2') %></p>
    </div>
  </div>

<%= javascript_pack_tag 'static_obligations', 'data-turbolinks-eval': false, defer: true %>
