<div class='fr-container fr-pb-6w'>
  <h1 class='fr-my-8w'><%= t('obligations.titre') %></h1>

  <p class='fr-text fr-mt-4w fr-mb-2w'><%= t('obligations.intro') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec1_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec1_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec1_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec1_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec2_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication3') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication4') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec2_explication5') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec3_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec3_explication3') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec4_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec4_explication3') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec5_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec5_explication3') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec6_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec6_explication3') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec7_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7_explication1') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec7bis_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7bis_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7bis_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec7bis_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec8_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec8_explication3') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec9_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec9_explication3') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec10_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec10_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec10_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec10_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec11_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec11_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec11_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec11_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec12_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec12_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec12_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec12_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec13_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec13_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec13_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec13_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec14_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec14_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec14_explication1') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec15_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec15_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec15_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec15_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec16_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec16_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec16_explication1') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec17_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec17_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec17_explication1') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec18_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec18bis_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18bis_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec18bis_explication1') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec19_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec19_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec19_explication1') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec20_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec20_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec20_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec20_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec21_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec21_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec21_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec21_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec22_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication3') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec22_explication4') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec23_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec23_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec23_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec23_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec24_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec24_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec24_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec24_explication2') %></p>

  <h2 class='fr-my-5w'><%= t('obligations.obligation_spec25_titre') %></h2>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_qui_est_ecrit') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec25_convocation') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('obligations.ce_que_ca_veut_dire') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec25_explication1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('obligations.obligation_spec25_explication2') %></p>
</div>
