<div class='fr-container static-wrapper fr-pb-6w fr-pt-8w'>
  <h1 class='static-title preparer-title fr-mb-4w'><%= t('preparer.title') %></h1>
  <div class='static-intro'><%= t('preparer.intro') %></div>


  <h2 class='preparer-secondary-title fr-mt-8w fr-mb-4w'><%= t('preparer.secondary_title1') %></h2>

  <div class='preparer-head-trigger-container'>
    <label for="toggle-head-spip" id='toggle-head-label-spip' class='preparer-head-trigger'><%= t('preparer.toggle-head-label-spip') %></label>
    <label for="toggle-head-tribunal" id='toggle-head-label-tribunal' class='preparer-head-trigger'><%= t('preparer.toggle-head-label-tribunal') %></label>
  </div>

  <input type="checkbox" id="toggle-head-spip" class="static-hidden-checkbox">
  <input type="checkbox" id="toggle-head-tribunal" class="static-hidden-checkbox">

  <div class='preparer-head-content static-content-container preparer-head-text preparer-head-spip'>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-spip-text1') %></p>

    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.head-spip-title1') %></h2>

    <p class='static-text fr-mb-2w'><%= t('preparer.head-spip-text2') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-spip-text3') %></p>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.head-spip-text4') %></li>
      <li class='static-list-item'><%= t('preparer.head-spip-text5.html') %></li>
      <li class='static-list-item'><%= t('preparer.head-spip-text6.html') %></li>
      <li class='static-list-item'><%= t('preparer.head-spip-text7') %></li>
    </ul>

    <p class='static-text fr-mb-2w'><%= t('preparer.head-spip-text8') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-spip-text9') %></p>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.head-spip-text10') %></li>
      <li class='static-list-item'><%= t('preparer.head-spip-text11') %></li>
    </ul>

    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.head-spip-text12') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-spip-text13') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-spip-text14') %></p>
  </div>

  <div class='preparer-head-content static-content-container preparer-head-text preparer-head-tribunal'>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-tribunal-intro') %></p>

    <h2 class='preparer-head-tribunal-title fr-mb-2w'><%= t('preparer.head-tribunal-text1') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-tribunal-text2') %></p>

    <h2 class='preparer-head-tribunal-title fr-mb-2w'><%= t('preparer.head-tribunal-text3') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-tribunal-text4') %></p>

    <h2 class='preparer-head-tribunal-title fr-mb-2w'><%= t('preparer.head-tribunal-text5') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-tribunal-text6') %></p>

    <p class='static-text fr-mb-2w'><%= t('preparer.head-tribunal-text7') %> <%= t('preparer.head-tribunal-text8') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.head-tribunal-text9') %> <%= t('preparer.head-tribunal-text10') %></p>
  </div>

  <div class='preparer-general-content static-content-container'>
    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.justificatifs-title') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.justificatifs-text1') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.justificatifs-text2') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.justificatifs-text3') %></p>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.justificatifs-type1.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type2.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type3.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type4.html') %></li>
    </ul>

    <p class='static-text fr-mb-2w'><%= t('preparer.justificatifs-bonne-pratique') %></p>
  </div>

  <div class='preparer-absence-content static-content-container preparer-absence-spip'>
    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.absence-title') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.absence-text1') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.absence-text-spip') %></p>
  </div>

  <div class='preparer-absence-content static-content-container preparer-absence-tribunal'>
    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.absence-title') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.absence-text1') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.absence-text-tribunal') %></p>
  </div>

  <div class='preparer-place-content static-content-container preparer-place-spip'>
    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.place-title') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-spip-text1') %></p>

    <%= link_to 'https://goo.gl/maps/ejsmD6nAmqEfWAf4A', target: '_blank', class: 'static-google-map-link' do %>
      <div class='static-google-map-link-button'>
        <%= t('preparer.place-google') %>
      </div>
    <% end %>

    <p class='static-text fr-mb-2w'><%= t('preparer.place-spip-text2') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-spip-text3') %></p>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-train') %></h3>

    <ol class='static-list'>
      <li class='static-list-item'><%= t('preparer.place-spip-train1') %></li>
      <li class='static-list-item'><%= t('preparer.place-spip-train2') %></li>
      <li class='static-list-item'><%= t('preparer.place-spip-train3') %></li>
      <li class='static-list-item'><%= t('preparer.place-spip-train4') %></li>
      <li class='static-list-item'><%= t('preparer.place-spip-train5') %></li>
    </ol>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-bus') %></h3>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.place-spip-bus1') %></li>
      <li class='static-list-item'><%= t('preparer.place-spip-bus2') %></li>
      <li class='static-list-item'><%= t('preparer.place-spip-bus3') %></li>
      <li class='static-list-item'><%= t('preparer.place-spip-bus4') %></li>
    </ul>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-car') %></h3>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-spip-car') %></p>
  </div>

  <div class='preparer-place-content static-content-container preparer-place-tribunal'>
    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.place-title') %></h2>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-tribunal-text1') %></p>

    <%= link_to 'https://goo.gl/maps/NdpnVo23UZTeVUne7', target: '_blank', class: 'static-google-map-link' do %>
      <div class='static-google-map-link-button'>
        <%= t('preparer.place-google') %>
      </div>
    <% end %>

    <p class='static-text fr-mb-2w'><%= t('preparer.place-tribunal-text2') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-tribunal-text3') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-tribunal-text4') %></p>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-train') %></h3>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-tribunal-train1') %></p>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-bus') %></h3>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.place-tribunal-bus1') %></li>
      <li class='static-list-item'><%= t('preparer.place-tribunal-bus2') %></li>
      <li class='static-list-item'><%= t('preparer.place-tribunal-bus3') %></li>
    </ul>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-car') %></h3>

    <p class='static-text fr-mb-2w'><%= t('preparer.place-tribunal-car1') %></p>
    <p class='static-text fr-mb-2w'><%= t('preparer.place-tribunal-car2') %></p>
  </div>

</div>

<%= javascript_pack_tag 'static_preparer', 'data-turbolinks-eval': false, defer: true %>
