<div class='fr-container static-wrapper fr-pb-6w fr-pt-8w'>
  <h1 class='static-title preparer-place-title'><%= t('preparer.spip92.title') %></h1>

  <p class='static-place-intro'><%= t('preparer.spip92.intro') %></p>

  <label for="toggle-menu-place" class='static-dropdown-trigger preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line fa-3x preparer-menu-picto" id="menu-place-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line fa-3x preparer-menu-picto preparer-menu-picto-inactive" id="menu-place-picto-down" aria-hidden="true"></span>

    <div class='preparer-menu-text'><%= t('preparer.spip92.question-place') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-place" class='static-hidden-checkbox'>

  <div class='preparer-place-content static-content-container'>
    <p class='fr-mb-2w'><%= t('preparer.spip92.place-text1') %></p>

    <%= link_to 'https://goo.gl/maps/ejsmD6nAmqEfWAf4A', target: '_blank', class: 'static-google-map-link' do %>
      <div class='static-google-map-link-button'>
        <%= t('preparer.place-google') %>
      </div>
    <% end %>

    <p class='fr-mb-2w'><%= t('preparer.spip92.place-text2') %></p>
    <p class='fr-mb-2w'><%= t('preparer.spip92.place-text3') %></p>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-train') %></h3>

    <ol class='static-list'>
      <li class='static-list-item'><%= t('preparer.spip92.place-train1') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.place-train2') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.place-train3') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.place-train4') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.place-train5') %></li>
    </ol>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-bus') %></h3>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.spip92.place-bus1') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.place-bus2') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.place-bus3') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.place-bus4') %></li>
    </ul>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-car') %></h3>
    <p class='fr-mb-2w'><%= t('preparer.spip92.place-car') %></p>
  </div>

  <label for="toggle-menu-no-show" class='static-dropdown-trigger preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line preparer-menu-picto" id="menu-no-show-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line preparer-menu-picto preparer-menu-picto-inactive" id="menu-no-show-picto-down" aria-hidden="true"></span>
    <div class='preparer-menu-text'><%= t('preparer.question-no-show') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-no-show" class='static-hidden-checkbox'>

  <div class='preparer-no-show-content static-content-container'>
    <p class='fr-mb-2w'><%= t('preparer.absence-text1') %></p>
    <p class='fr-mb-2w'><%= t('preparer.spip92.absence-text') %></p>
  </div>

  <label for="toggle-menu-justif" class='static-dropdown-trigger preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line preparer-menu-picto" id="menu-justif-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line preparer-menu-picto preparer-menu-picto-inactive" id="menu-justif-picto-down" aria-hidden="true"></span>
    <div class='preparer-menu-text'><%= t('preparer.question-justif') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-justif" class='static-hidden-checkbox'>

  <div class='preparer-justif-content static-content-container'>
    <p class='fr-mb-2w'><%= t('preparer.justificatifs-text1') %></p>
    <p class='fr-mb-2w'><%= t('preparer.justificatifs-text2') %></p>
    <p class='fr-mb-2w'><%= t('preparer.justificatifs-text3') %></p>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.justificatifs-type1.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type2.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type3.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type4.html') %></li>
    </ul>

    <p class='fr-mb-2w'><%= t('preparer.justificatifs-bonne-pratique') %></p>
  </div>

  <label for="toggle-menu-process" class='static-dropdown-trigger preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line preparer-menu-picto" id="menu-process-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line preparer-menu-picto preparer-menu-picto-inactive" id="menu-process-picto-down" aria-hidden="true"></span>
    <div class='preparer-menu-text'><%= t('preparer.question-process') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-process" class='static-hidden-checkbox'>

  <div class='preparer-process-content static-content-container preparer-head-text'>
    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.spip92.head-title1') %></h2>

    <p class='fr-mb-2w'><%= t('preparer.spip92.head-text2') %></p>
    <p class='fr-mb-2w'><%= t('preparer.spip92.head-text3') %></p>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.spip92.head-text4') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.head-text5.html') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.head-text6.html') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.head-text7') %></li>
    </ul>

    <p class='fr-mb-2w'><%= t('preparer.spip92.head-text8') %></p>
    <p class='fr-mb-2w'><%= t('preparer.spip92.head-text9') %></p>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.spip92.head-text10') %></li>
      <li class='static-list-item'><%= t('preparer.spip92.head-text11') %></li>
    </ul>

    <h2 class='static-secondary-title fr-mb-2w'><%= t('preparer.spip92.head-text12') %></h2>
    <p class='fr-mb-2w'><%= t('preparer.spip92.head-text13') %></p>
    <p class='fr-mb-2w'><%= t('preparer.spip92.head-text14') %></p>
  </div>
</div>

<%= javascript_pack_tag 'static_preparer', 'data-turbolinks-eval': false, defer: true %>
