<div class='fr-container static-wrapper fr-pb-6w fr-pt-8w'>
  <h1 class='static-title preparer-title fr-mb-8w'><%= t('preparer.sap_nanterre.title') %></h1>

  <label for="toggle-menu-place" class='preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line fa-3x preparer-menu-picto" id="menu-place-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line fa-3x preparer-menu-picto preparer-menu-picto-inactive" id="menu-place-picto-down" aria-hidden="true"></span>

    <div class='preparer-menu-text'><%= t('preparer.sap_nanterre.question-place') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-place" class='static-hidden-checkbox'>

  <div class='preparer-place-content static-content-container'>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.place-text1') %></p>

    <%= link_to 'https://goo.gl/maps/NdpnVo23UZTeVUne7', target: '_blank', class: 'static-google-map-link' do %>
      <div class='static-google-map-link-button'>
        <%= t('preparer.place-google') %>
      </div>
    <% end %>

    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.place-text2') %></p>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.place-text3') %></p>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.place-text4') %></p>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-train') %></h3>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.place-train1') %></p>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-bus') %></h3>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.sap_nanterre.place-bus1') %></li>
      <li class='static-list-item'><%= t('preparer.sap_nanterre.place-bus2') %></li>
      <li class='static-list-item'><%= t('preparer.sap_nanterre.place-bus3') %></li>
    </ul>

    <h3 class='static-tertiary-title fr-mb-2w'><%= t('preparer.place-car') %></h3>

    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.place-car1') %></p>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.place-car2') %></p>
  </div>

  <label for="toggle-menu-no-show" class='preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line preparer-menu-picto" id="menu-no-show-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line preparer-menu-picto preparer-menu-picto-inactive" id="menu-no-show-picto-down" aria-hidden="true"></span>
    <div class='preparer-menu-text'><%= t('preparer.question-no-show') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-no-show" class='static-hidden-checkbox'>

  <div class='preparer-no-show-content static-content-container'>
    <p class='fr-mb-2w'><%= t('preparer.absence-text1') %></p>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.absence-text') %></p>
  </div>

  <label for="toggle-menu-justif" class='preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line preparer-menu-picto" id="menu-justif-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line preparer-menu-picto preparer-menu-picto-inactive" id="menu-justif-picto-down" aria-hidden="true"></span>
    <div class='preparer-menu-text'><%= t('preparer.question-justif') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-justif" class='static-hidden-checkbox'>

  <div class='preparer-justif-content static-content-container'>
    <p class='fr-mb-2w'><%= t('preparer.justificatifs-text1') %></p>
    <p class='fr-mb-2w'><%= t('preparer.justificatifs-text2') %></p>
    <p class='fr-mb-2w'><%= t('preparer.justificatifs-text3') %></p>

    <ul class='static-list'>
      <li class='static-list-item'><%= t('preparer.justificatifs-type1.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type2.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type3.html') %></li>
      <li class='static-list-item'><%= t('preparer.justificatifs-type4.html') %></li>
    </ul>

    <p class='fr-mb-2w'><%= t('preparer.justificatifs-bonne-pratique') %></p>
  </div>

  <label for="toggle-menu-process" class='preparer-menu-trigger'>
    <span class="fr-fi-arrow-right-s-line preparer-menu-picto" id="menu-process-picto-right" aria-hidden="true"></span>
    <span class="fr-fi-arrow-down-s-line preparer-menu-picto preparer-menu-picto-inactive" id="menu-process-picto-down" aria-hidden="true"></span>
    <div class='preparer-menu-text'><%= t('preparer.question-process') %></div>
  </label>

  <input type='checkbox' id="toggle-menu-process" class='static-hidden-checkbox'>

  <div class='preparer-process-content static-content-container preparer-head-text'>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.head-intro') %></p>

    <h2 class='preparer-head-tribunal-title fr-mb-2w'><%= t('preparer.sap_nanterre.head-text1') %></h2>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.head-text2') %></p>

    <h2 class='preparer-head-tribunal-title fr-mb-2w'><%= t('preparer.sap_nanterre.head-text3') %></h2>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.head-text4') %></p>

    <h2 class='preparer-head-tribunal-title fr-mb-2w'><%= t('preparer.sap_nanterre.head-text5') %></h2>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.head-text6') %></p>

    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.head-text7') %> <%= t('preparer.sap_nanterre.head-text8') %></p>
    <p class='fr-mb-2w'><%= t('preparer.sap_nanterre.head-text9') %> <%= t('preparer.sap_nanterre.head-text10') %></p>
  </div>
</div>

<%= javascript_pack_tag 'static_preparer', 'data-turbolinks-eval': false, defer: true %>
