<div class='fr-container fr-pb-6w fr-pt-8w'>
  <h1 class='static-title preparer-title fr-mb-4w'><%= t('preparer.title') %></h1>
  <div class='static-intro'><%= t('preparer.intro') %></div>

  <h2 class='preparer-secondary-title fr-mt-8w fr-mb-4w'><%= t('preparer.secondary_title1') %></h2>

  <div class='preparer-links-container'>
    <%= link_to t('preparer.link-spip92'), preparer_spip92_path, class: 'preparer-link fr-mb-4w' %>
    <%= link_to t('preparer.link-sap-nanterre'), preparer_sap_nanterre_path, class: 'preparer-link fr-mb-4w' %>
  </div>

  <div class='preparer-links-container'>
    <%= link_to t('preparer.link-spip28'), preparer_spip28_path, class: 'preparer-link fr-mb-4w' %>
    <%= link_to t('preparer.link-sap-chartres'), preparer_sap_chartres_path, class: 'preparer-link fr-mb-4w' %>
  </div>
</div>
