<div class='static-info-page-header-wrapper'>
  <div class='static-info-page-header fr-container'>
    <div class='static-infos-page-header-icon'><%= image_tag 'static/docs_reverse.svg' %></div>
    <div class='static-infos-page-header-content'>
      <h1 class='static-infos-page-header-category'><%= t('regles.category') %></h1>
      <h1 class='static-infos-page-header-title'><%= t('regles.title') %></h1>
      <div class='static-infos-page-header-subtitle'><%= t('regles.subtitle') %></div>
    </div>
  </div>
</div>

<div class='static-page-wrapper fr-pb-6w'>
  <div class='static-infos-page-content-container'>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.paragraphe1') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.paragraphe2') %></p>

    <h2 class='fr-my-5w static-infos-page-title'><%= t('regles.obligation1_titre') %></h2>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_qui_est_ecrit') %></p>
    <p class='static-infos-page-text static-infos-page-text-convocation fr-mb-2w'><%= t('regles.obligation1_convocation') %></p>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_que_ca_veut_dire') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation1_explication1') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation1_explication2') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation1_explication3') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation1_explication4') %></p>

    <h2 class='fr-my-5w static-infos-page-title'><%= t('regles.obligation2_titre') %></h2>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_qui_est_ecrit') %></p>
    <p class='static-infos-page-text static-infos-page-text-convocation fr-mb-2w'><%= t('regles.obligation2_convocation') %></p>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_que_ca_veut_dire') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation2_explication1') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation2_explication2') %></p>

    <h2 class='fr-my-5w static-infos-page-title'><%= t('regles.obligation3_titre') %></h2>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_qui_est_ecrit') %></p>
    <p class='static-infos-page-text static-infos-page-text-convocation fr-mb-2w'><%= t('regles.obligation3_convocation') %></p>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_que_ca_veut_dire') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation3_explication1') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation3_explication2') %></p>

    <h2 class='fr-my-5w static-infos-page-title'><%= t('regles.obligation4_titre') %></h2>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_qui_est_ecrit') %></p>
    <p class='static-infos-page-text static-infos-page-text-convocation fr-mb-2w'><%= t('regles.obligation4_convocation') %></p>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_que_ca_veut_dire') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation4_explication1') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation4_explication2') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation4_explication3') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation4_explication4') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation4_explication5') %></p>

    <h2 class='fr-my-5w static-infos-page-title'><%= t('regles.obligation5_titre') %></h2>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_qui_est_ecrit') %></p>
    <p class='static-infos-page-text static-infos-page-text-convocation fr-mb-2w'><%= t('regles.obligation5_convocation') %></p>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_que_ca_veut_dire') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation5_explication1') %></p>

    <h2 class='fr-my-5w static-infos-page-title'><%= t('regles.obligation6_titre') %></h2>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_qui_est_ecrit') %></p>
    <p class='static-infos-page-text static-infos-page-text-convocation fr-mb-2w'><%= t('regles.obligation6_convocation') %></p>

    <p class='static-infos-page-text-header fr-my-4w'><%= t('regles.ce_que_ca_veut_dire') %></p>
    <p class='static-infos-page-text fr-mb-2w'><%= t('regles.obligation6_explication1') %></p>
    <p class='static-infos-page-text fr-mb-4w'><%= t('regles.obligation6_explication2') %></p>
  </div>
</div>
