<div class='static-home-links-wrapper fr-container'>
  <div class='static-home-link-container'>
    <%= link_to secret_path, class: 'static-home-link' do %>
      <div class='static-home-link-wrapper'>
        <div class='static-home-link-picto'><%= image_tag 'static/home_picto_preparer.svg', class: 'static-home-link-picto-img' %></div>
        <p class='static-home-link-text'><%= t('static-home.preparer-text') %></p>
      </div>
      <div class='static-home-link-button static-home-link-preparer'>
        <p class='static-home-link-button-head'><%= t('static-home.preparer-button-head') %></p>
        <p class='static-home-link-button-sub'><%= t('static-home.preparer-button-sub') %></p>
      </div>
    <% end %>
  </div>

  <div class='static-home-link-container'>
    <%= link_to comprendre_ma_peine_path, class: 'static-home-link' do %>
      <div class='static-home-link-wrapper static-home-link-wrapper-reverse'>
        <div class='static-home-link-picto'><%= image_tag 'static/home_picto_comprendre.svg', class: 'static-home-link-picto-img' %></div>
        <p class='static-home-link-text'><%= t('static-home.comprendre-text') %></p>
      </div>
      <div class='static-home-link-button static-home-link-comprendre'>
        <p class='static-home-link-button-head'><%= t('static-home.comprendre-button-head') %></p>
        <p class='static-home-link-button-sub'><%= t('static-home.comprendre-button-sub') %></p>
      </div>
    <% end %>
  </div>

  <div class='static-home-link-container'>
    <%= link_to secret_path, class: 'static-home-link' do %>
      <div class='static-home-link-wrapper'>
        <div class='static-home-link-picto'><%= image_tag 'static/home_picto_investir.svg', class: 'static-home-link-picto-img' %></div>
        <p class='static-home-link-text'><%= t('static-home.investir-text') %></p>
      </div>
      <div class='static-home-link-button static-home-link-investir'>
        <p class='static-home-link-button-head'><%= t('static-home.investir-button-head') %></p>
        <p class='static-home-link-button-sub'><%= t('static-home.investir-button-sub') %></p>
      </div>
    <% end %>
  </div>
</div>

<div class='how-to-wrapper'>
  <div class='how-to-container'>
    <%= image_tag "static/phone-icon.png", class: 'phone-icon' %>
    <p class='phone-text'>Mon Suivi Justice vous rappelle par SMS vos rendez-vous avec la Justice*. Ces rendez-vous avec les Conseillers pénitentiaires d’insertion et de probation et les juges d’applications des peines sont essentiels pour garantir que vous êtes sur la bonne voie. </p>
    <p class='phone-precision'>* Actuellement disponible dans le 92</p>
  </div>
</div>
