<div class='fr-container'>
  <h1 class='static-title'><%= t('stage.titre') %></h1>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('stage.question1') %></p>
    <p class='static-text-bloc'><%= t('stage.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('stage.reponse1_b') %></p>
    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('stage.reponse1_liste1') %></li>
      <li class='static-list-short-item'><%= t('stage.reponse1_liste2') %></li>
      <li class='static-list-short-item'><%= t('stage.reponse1_liste3') %></li>
      <li class='static-list-short-item'><%= t('stage.reponse1_liste4') %></li>
      <li class='static-list-short-item'><%= t('stage.reponse1_liste5') %></li>
      <li class='static-list-short-item'><%= t('stage.reponse1_liste6') %></li>
      <li class='static-list-short-item'><%= t('stage.reponse1_liste7') %></li>
    </ul>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('stage.question2') %></p>
    <p class='static-text-bloc'><%= t('stage.reponse2_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('stage.question3') %></p>
    <p class='static-text-bloc'><%= t('stage.reponse3_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('stage.question4') %></p>
    <p class='static-text-bloc'><%= t('stage.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('stage.question5') %></p>
    <p class='static-text-bloc'><%= t('stage.reponse5_a') %></p>
    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('stage.reponse5_liste1') %></li>
      <li class='static-list-short-item'><%= t('stage.reponse5_liste2') %></li>
    </ul>
  </div>
</div>
