<div class='fr-container fr-pb-6w'>
  <h1 class='fr-my-8w'><%= t('stage.titre') %></h1>

  <p class='fr-text--lead fr-my-4w'><%= t('stage.question1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('stage.reponse1_a') %></p>
  <p class='fr-text fr-mb-2w'><%= t('stage.reponse1_b') %></p>

  <ul>
    <li class='fr-ml-3w'><%= t('stage.reponse1_liste1') %></li>
    <li class='fr-ml-3w'><%= t('stage.reponse1_liste2') %></li>
    <li class='fr-ml-3w'><%= t('stage.reponse1_liste3') %></li>
    <li class='fr-ml-3w'><%= t('stage.reponse1_liste4') %></li>
    <li class='fr-ml-3w'><%= t('stage.reponse1_liste5') %></li>
    <li class='fr-ml-3w'><%= t('stage.reponse1_liste6') %></li>
    <li class='fr-ml-3w'><%= t('stage.reponse1_liste7') %></li>
  </ul>

  <p class='fr-text--lead fr-my-4w'><%= t('stage.question2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('stage.reponse2_a') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('stage.question3') %></p>
  <p class='fr-text fr-mb-2w'><%= t('stage.reponse3_a') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('stage.question4') %></p>
  <p class='fr-text fr-mb-2w'><%= t('stage.reponse4_a') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('stage.question5') %></p>
  <p class='fr-text fr-mb-2w'><%= t('stage.reponse5_a') %></p>
  <ul>
    <li class='fr-ml-3w'><%= t('stage.reponse5_liste1') %></li>
    <li class='fr-ml-3w'><%= t('stage.reponse5_liste2') %></li>
  </ul>
</div>
