<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange'><%= t('suivi_socio_judiciaire.titre') %></h1>

  <label for="toggle-suivi1" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('suivi_socio_judiciaire.question1') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="suivi1-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="suivi1-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-suivi1" class='static-hidden-checkbox'>

  <div class='suivi1-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse1_b') %></p>
  </div>

  <label for="toggle-suivi2" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('suivi_socio_judiciaire.question2') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="suivi2-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="suivi2-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-suivi2" class='static-hidden-checkbox'>

  <div class='suivi2-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse2_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste1') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste2') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste3') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse2_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse2_c') %></p>
  </div>

  <label for="toggle-suivi3" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('suivi_socio_judiciaire.question3') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="suivi3-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="suivi3-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-suivi3" class='static-hidden-checkbox'>

  <div class='suivi3-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse3_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse3_c') %></p>
  </div>

  <label for="toggle-suivi4" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('suivi_socio_judiciaire.question4') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="suivi4-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="suivi4-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-suivi4" class='static-hidden-checkbox'>

  <div class='suivi4-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse4_a') %></p>
  </div>

  <label for="toggle-suivi5" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('suivi_socio_judiciaire.question5') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="suivi5-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="suivi5-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-suivi5" class='static-hidden-checkbox'>

  <div class='suivi5-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse5_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse5_liste1') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse5_liste2') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse5_b') %></p>
  </div>
</div>

<%= javascript_pack_tag 'static/suivi', 'data-turbolinks-eval': false, defer: true %>
