<div class='fr-container'>
  <h1><%= t('suivi_socio_judiciaire.titre') %></h1>

    <p class='fr-text--lead'><%= t('suivi_socio_judiciaire.question1') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse1_a') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse1_b') %></p>
    <p class='fr-text--lead'><%= t('suivi_socio_judiciaire.question2') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse2_a') %></p>
    <ul>
      <li><%= t('suivi_socio_judiciaire.reponse2_liste1') %></li>
      <li><%= t('suivi_socio_judiciaire.reponse2_liste2') %></li>
      <li><%= t('suivi_socio_judiciaire.reponse2_liste3') %></li>
    </ul>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse2_b') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse2_c') %></p>
    <p class='fr-text--lead'><%= t('suivi_socio_judiciaire.question3') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse3_a') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse3_b') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse3_c') %></p>
    <p class='fr-text--lead'><%= t('suivi_socio_judiciaire.question4') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse4_a') %></p>
    <p class='fr-text--lead'><%= t('suivi_socio_judiciaire.question5') %></p>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse5_a') %></p>
    <ul>
      <li><%= t('suivi_socio_judiciaire.reponse5_liste1') %></li>
      <li><%= t('suivi_socio_judiciaire.reponse5_liste2') %></li>
    </ul>
    <p class='fr-text'><%= t('suivi_socio_judiciaire.reponse5_b') %></p>
</div>
