<div class='static-page-container'>
  <h1 class='static-title'><%= t('suivi_socio_judiciaire.titre') %></h1>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('suivi_socio_judiciaire.question1') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse1_b') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('suivi_socio_judiciaire.question2') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse2_a') %></p>
    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste1') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste2') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste3') %></li>
    </ul>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse2_b') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse2_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('suivi_socio_judiciaire.question3') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse3_a') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse3_b') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse3_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('suivi_socio_judiciaire.question4') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('suivi_socio_judiciaire.question5') %></p>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse5_a') %></p>
    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse5_liste1') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse5_liste2') %></li>
    </ul>
    <p class='static-text-bloc'><%= t('suivi_socio_judiciaire.reponse5_b') %></p>
  </div>
</div>
