<div class='fr-container static-content-container fr-pb-6w fr-pt-8w'>
  <h1 class='static-simple-title static-title-orange'><%= t('suivi_socio_judiciaire.titre') %></h1>

  <div class='static-content'>
    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('suivi_socio_judiciaire.question1') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse1_b') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('suivi_socio_judiciaire.question2') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse2_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste1') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste2') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse2_liste3') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse2_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse2_c') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('suivi_socio_judiciaire.question3') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse3_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse3_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse3_c') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('suivi_socio_judiciaire.question4') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse4_a') %></p>

    <p class='static-secondary-title fr-mt-2w fr-mb-3w'><%= t('suivi_socio_judiciaire.question5') %></p>
    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse5_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse5_liste1') %></li>
      <li class='static-list-short-item'><%= t('suivi_socio_judiciaire.reponse5_liste2') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('suivi_socio_judiciaire.reponse5_b') %></p>
  </div>
</div>
