<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange'><%= t('sursis_probatoire.titre') %></h1>

  <label for="toggle-sursis-prob1" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('sursis_probatoire.question1') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="sursis-prob1-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="sursis-prob1-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-sursis-prob1" class='static-hidden-checkbox'>

  <div class='sursis-prob1-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_c') %></p>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_d') %></p>
  </div>

  <label for="toggle-sursis-prob2" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('sursis_probatoire.question2') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="sursis-prob2-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="sursis-prob2-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-sursis-prob2" class='static-hidden-checkbox'>

  <div class='sursis-prob2-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse2_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse2_b') %></p>
  </div>

  <label for="toggle-sursis-prob3" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('sursis_probatoire.question3') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="sursis-prob3-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="sursis-prob3-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-sursis-prob3" class='static-hidden-checkbox'>

  <div class='sursis-prob3-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse3_a') %></p>
  </div>

  <label for="toggle-sursis-prob4" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('sursis_probatoire.question4') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="sursis-prob4-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="sursis-prob4-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-sursis-prob4" class='static-hidden-checkbox'>

  <div class='sursis-prob4-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse4_a') %></p>
  </div>

  <label for="toggle-sursis-prob5" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('sursis_probatoire.question5') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="sursis-prob5-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="sursis-prob5-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-sursis-prob5" class='static-hidden-checkbox'>

  <div class='sursis-prob5-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse5_b') %></p>
  </div>
</div>

<%= javascript_pack_tag 'static/sursis_prob', 'data-turbolinks-eval': false, defer: true %>
