<div class='fr-container fr-pb-6w fr-pt-8w'>
  <h1><%= t('sursis_probatoire.titre') %></h1>

  <p class='fr-text--lead fr-my-4w'><%= t('sursis_probatoire.question1') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_a') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_b') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_c') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse1_d') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('sursis_probatoire.question2') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse2_a') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse2_b') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('sursis_probatoire.question3') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse3_a') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('sursis_probatoire.question4') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse4_a') %></p>

  <p class='fr-text--lead fr-my-4w'><%= t('sursis_probatoire.question5') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse5_a') %></p>
  <p class='fr-text fr-mb-2w'><%= t('sursis_probatoire.reponse5_b') %></p>
</div>
