<div class='fr-container static-content-container'>
  <h1 class='static-simple-title static-title-orange'><%= t('tig.titre') %></h1>

  <div class='static-card static-link-card'>
    <p class='static-link-card-intro'><%= t('tig.link-intro') %></p>
    <div class='static-link-container'>
      <a href=<%= t('tig.link') %> target="_blank" class='static-link-card-anchor'><%= t('tig.link-anchor') %></a>
    </div>
  </div>

  <label for="toggle-tig1" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('tig.question1') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="tig1-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="tig1-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-tig1" class='static-hidden-checkbox'>

  <div class='tig1-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse1_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse1_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse1_c') %></p>

    <p class='fr-text fr-mb-2w'><%= t('tig.paragraphe1') %></p>

    <ul class='static-list'>
      <li class='static-list-item'>
        <%= t('tig.liste1_titre1') %> <%= t('tig.liste1_explication1') %><div><%= t('tig.liste1_exemple1') %></div>
      </li>
      <li class='static-list-item'>
        <%= t('tig.liste1_titre2') %> <%= t('tig.liste1_explication2') %><div><%= t('tig.liste1_exemple2') %></div>
      </li>
      <li class='static-list-item'>
        <%= t('tig.liste1_titre3') %> <%= t('tig.liste1_explication3') %><div><%= t('tig.liste1_exemple3') %></div>
      </li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('tig.paragraphe2') %></p>
  </div>

  <label for="toggle-tig2" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('tig.question2') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="tig2-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="tig2-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-tig2" class='static-hidden-checkbox'>

  <div class='tig2-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse2_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('tig.reponse2_liste1') %></li>
      <li class='static-list-short-item'><%= t('tig.reponse2_liste2') %></li>
    </ul>

    <p class='fr-text fr-mb-2w'><%= t('tig.reponse2_b') %></p>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse2_c') %></p>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse2_exemple') %></p>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse2_d') %></p>
  </div>

  <label for="toggle-tig3" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('tig.question3') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="tig3-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="tig3-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-tig3" class='static-hidden-checkbox'>

  <div class='tig3-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse3_a') %></p>
  </div>

  <label for="toggle-tig4" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('tig.question4') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="tig4-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="tig4-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-tig4" class='static-hidden-checkbox'>

  <div class='tig4-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse4_a') %></p>
  </div>

  <label for="toggle-tig5" class='static-dropdown-trigger comprendre-ma-peine-menu-trigger'>
    <div class='obligations-menu-text'><%= t('tig.question5') %></div>

    <span class="fr-fi-arrow-down-s-line comprendre-ma-peine-menu-picto" id="tig5-picto-down" aria-hidden="true"></span>
    <span class="fr-fi-arrow-up-s-line comprendre-ma-peine-menu-picto static-dropdown-picto-inactive" id="tig5-picto-up" aria-hidden="true"></span>
  </label>

  <input type='checkbox' id="toggle-tig5" class='static-hidden-checkbox'>

  <div class='tig5-content static-content'>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse5_a') %></p>
    <p class='fr-text fr-mb-2w'><%= t('tig.reponse5_b') %></p>
  </div>
</div>

<%= javascript_pack_tag 'static/tig', 'data-turbolinks-eval': false, defer: true %>
