<div class='static-page-container'>
  <h1 class='static-title'><%= t('tig.titre') %></h1>

  <div class='static-link-container'>
    <a href=<%= t('tig.link') %>><%= t('tig.link') %></a>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('tig.question1') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse1_a') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse1_b') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse1_c') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-bloc'><%= t('tig.paragraphe1') %></p>

    <ul class='static-list'>
      <li class='static-list-item'>
        <%= t('tig.liste1_titre1') %> <%= t('tig.liste1_explication1') %><div class='static-example'><%= t('tig.liste1_exemple1') %></div>
      </li>
      <li class='static-list-item'>
        <%= t('tig.liste1_titre2') %> <%= t('tig.liste1_explication2') %><div class='static-example'><%= t('tig.liste1_exemple2') %></div>
      </li>
      <li class='static-list-item'>
        <%= t('tig.liste1_titre3') %> <%= t('tig.liste1_explication3') %><div class='static-example'><%= t('tig.liste1_exemple3') %></div>
      </li>
    </ul>

    <p class='static-text-bloc'><%= t('tig.paragraphe2') %></p>
    <p class='static-text-bloc'><%= t('tig.paragraphe3') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('tig.question2') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse2_a') %></p>

    <ul class='static-list'>
      <li class='static-list-short-item'><%= t('tig.reponse2_liste1') %></li>
      <li class='static-list-short-item'><%= t('tig.reponse2_liste2') %></li>
    </ul>
    <p class='static-text-bloc'><%= t('tig.reponse2_b') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse2_c') %></p>
    <p class='static-example static-text-bloc'><%= t('tig.reponse2_exemple') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse2_d') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('tig.question3') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse3_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('tig.question4') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse4_a') %></p>
  </div>

  <div class='static-text-container'>
    <p class='static-text-question'><%= t('tig.question5') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse5_a') %></p>
    <p class='static-text-bloc'><%= t('tig.reponse5_b') %></p>
  </div>
</div>
