<h1 class='form-title'><%= t('index_slot_types_title', place: @agenda.place.name, agenda: @agenda.name) %></h1>
<%= link_to t('index_slot_types_back_link', place: @agenda.place.name), edit_place_path(@agenda.place) %>

<% @slot_types.each do |slot_type| %>
  <%= simple_form_for slot_type, html: { class: 'basic-form' } do |f| %>
    <%= f.hidden_field :agenda_id, value: @agenda.id %>
    <%= f.association :appointment_type, label: t('activerecord.models.appointment_type'), input_html: { class: 'form-select' } %>
    <%= f.input :week_day, collection: SlotType.week_days.keys,
                           label_method: lambda {|k| t("simple_form.options.slot_type.week_day.#{k}")},
                           wrapper_html: { class: 'appointment-type-slot-form-line1' },
                           input_html: { class: 'form-select' } %>
    <%= f.input :starting_time, input_html: { class: 'form-select', value: f.object.starting_time.to_s },
                                wrapper: :custom_time,
                                start_hour: 8,
                                end_hour: 20,
                                minute_step: 5 %>
    <%= f.input :duration %>
    <%= f.input :capacity %>
    <%= f.button :submit, 'Update sot type', class: 'form-submit-button' %>
    <%= link_to 'Delete slot type', slot_type_path(slot_type), method: :delete, class: 'form-submit-button' %>
  <% end %>
<% end %>

<%= simple_form_for @slot_type, html: { class: 'basic-form' } do |f| %>
  <%= f.hidden_field :agenda_id, value: @agenda.id %>
  <%= f.association :appointment_type, label: t('activerecord.models.appointment_type'), input_html: { class: 'form-select' } %>
  <%= f.input :week_day, collection: SlotType.week_days.keys,
                         label_method: lambda {|k| t("simple_form.options.slot_type.week_day.#{k}")},
                         wrapper_html: { class: 'appointment-type-slot-form-line1' },
                         input_html: { class: 'form-select' } %>
  <%= f.input :starting_time, input_html: { class: 'form-select', value: f.object.starting_time.to_s },
                              wrapper: :custom_time,
                              start_hour: 8,
                              end_hour: 20,
                              minute_step: 5 %>
  <%= f.input :duration %>
  <%= f.input :capacity %>
  <%= f.button :submit, 'Add new slot type', class: 'form-submit-button' %>
<% end %>
