<%= link_to t('get_back'), appointment_types_path, class: 'index-slot-types-back-button' %>

<h1 class='form-title'><%= t('appointment_type.edit_title') %></h1>

<%= simple_form_for @appointment_type, html: { class: 'appointment-type-form' } do |f| %>
  <% if @organization %><%= f.input :orga, as: :hidden, input_html: { value: params[:orga] } %><% end %>

  <div class='edit-appointment-type-container'>
    <div class='edit-appointment-type-header'>
      <div class='edit-appointment-type-header-type'>
        <div class='edit-appointment-type-header-type-title'><%= t('appointment_type.type_title') %></div>
        <div class='edit-appointment-type-header-type-value'><%= @appointment_type.name %></div>
      </div>
      <div class='edit-appointment-type-header-organization'>
        <div class='edit-appointment-type-header-organization-title'><%= t('appointment_type.organization_title') %></div>
        <% if @organization.nil? %>
          <div class='edit-appointment-type-header-organization-value'><%= t('appointment_type.default_templates') %></div>
        <% else %>
          <div class='edit-appointment-type-header-organization-value'><%= @organization.name %></div>
        <% end %>
      </div>
    </div>

    <% if @appointment_type.errors.present? %>
      <p class='errors-box'><%= @appointment_type.errors.map(&:message).join(" - ") %></p>
    <% end %>

    <% if @notification_types.find_by(role: :summon).present? %>
      <% summon_notif = @notification_types.find_by(role: :summon) %>
      <%= f.simple_fields_for :notification_types, summon_notif do |p| %>
        <div class='notification-type-container summon-container'>
          <div class='notification-type-header'>
            <p class='notification-type-role'>
              <%= t("activerecord.attributes.notification_type.notification_type_roles.#{summon_notif.role}").capitalize %>
            </p>

            <div class='notification-type-status-title'>
              <%= template_status(summon_notif) %>

              <% if summon_notif.is_default == false && summon_notif.still_default == false %>
                <%= link_to t('appointment_type.reset_link'), notification_types_reset_path(summon_notif.id), class: 'notification-type-reset-link', data: { 'turbo-confirm': t('basic_confirmation'), "turbo-method": :put } %>
              <% end %>
            </div>
          </div>

          <%= p.input :template, input_html: { class: 'form-textarea' } %>

          <div class='notification-type-status-updated-at'>
            <%= template_updated_at(summon_notif) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr class='notification-type-separator' noshade=true>

    <% if @notification_types.find_by(role: :reminder).present? %>
      <% reminder_notif = @notification_types.find_by(role: :reminder) %>
      <%= f.simple_fields_for :notification_types, reminder_notif do |p| %>
        <div class='notification-type-container reminder-container'>
          <div class='notification-type-header'>
            <p class='notification-type-role'>
              <%= t("activerecord.attributes.notification_type.notification_type_roles.#{reminder_notif.role}").capitalize %>
            </p>

            <div class='notification-type-status'>
              <%= template_status(reminder_notif) %>

              <% if reminder_notif.is_default == false && reminder_notif.still_default == false %>
                <%= link_to t('appointment_type.reset_link'), notification_types_reset_path(reminder_notif.id), class: 'notification-type-reset-link', data: { 'turbo-confirm': t('basic_confirmation'), 'turbo-method': :put } %>
              <% end %>
            </div>
          </div>

          <%= p.input :reminder_period, collection: NotificationType.reminder_periods.symbolize_keys.keys,
                                        input_html: { class: 'form-select' },
                                        required: true %>

          <%= p.input :template, input_html: { class: 'form-textarea' } %>

          <div class='notification-type-status-updated-at'>
            <%= template_updated_at(reminder_notif) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr class='notification-type-separator' noshade=true>

    <% if @notification_types.find_by(role: :cancelation).present? %>
      <% cancelation_notif = @notification_types.find_by(role: :cancelation) %>
      <%= f.simple_fields_for :notification_types, cancelation_notif do |p| %>
        <div class='notification-type-container cancelation-container'>
          <div class='notification-type-header'>
            <p class='notification-type-role'>
              <%= t("activerecord.attributes.notification_type.notification_type_roles.#{cancelation_notif.role}").capitalize %>
            </p>

            <div class='notification-type-status'>
              <%= template_status(cancelation_notif) %>

              <% if cancelation_notif.is_default == false && cancelation_notif.still_default == false %>
                <%= link_to t('appointment_type.reset_link'), notification_types_reset_path(cancelation_notif.id), class: 'notification-type-reset-link', data: { 'turbo-confirm': t('basic_confirmation'), "turbo_method": :put } %>
              <% end %>
            </div>
          </div>

          <%= p.input :template, input_html: { class: 'form-textarea' } %>

          <div class='notification-type-status-updated-at'>
            <%= template_updated_at(cancelation_notif) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr class='notification-type-separator' noshade=true>

    <% if @notification_types.find_by(role: :no_show).present? %>
      <% no_show_notif = @notification_types.find_by(role: :no_show) %>
      <%= f.simple_fields_for :notification_types, no_show_notif do |p| %>
        <div class='notification-type-container no-show-container'>
          <div class='notification-type-header'>
            <p class='notification-type-role'>
              <%= t("activerecord.attributes.notification_type.notification_type_roles.#{no_show_notif.role}").capitalize %>
            </p>

            <div class='notification-type-status'>
              <%= template_status(no_show_notif) %>

              <% if no_show_notif.is_default == false && no_show_notif.still_default == false %>
                <%= link_to t('appointment_type.reset_link'), notification_types_reset_path(no_show_notif.id), class: 'notification-type-reset-link', data: { 'turbo-confirm': t('basic_confirmation'), 'turbo-method': :put } %>
              <% end %>
            </div>
          </div>

          <%= p.input :template, input_html: { class: 'form-textarea' } %>

          <div class='notification-type-status-updated-at'>
            <%= template_updated_at(no_show_notif) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr class='notification-type-separator' noshade=true>

    <% if @notification_types.find_by(role: :reschedule).present? %>
      <% reschedule_notif = @notification_types.find_by(role: :reschedule) %>
      <%= f.simple_fields_for :notification_types, reschedule_notif do |p| %>
        <div class='notification-type-container no-show-container'>
          <div class='notification-type-header'>
            <p class='notification-type-role'>
              <%= t("appointment_type.replanification") %>
            </p>

            <div class='notification-type-status'>
              <%= template_status(reschedule_notif) %>

              <% if reschedule_notif.is_default == false && reschedule_notif.still_default == false %>
                <%= link_to t('appointment_type.reset_link'), notification_types_reset_path(reschedule_notif.id), class: 'notification-type-reset-link', data: { 'turbo-confirm': t('basic_confirmation'), "turbo_method": :put } %>
              <% end %>
            </div>
          </div>

          <%= p.input :template, input_html: { class: 'form-textarea' } %>

          <div class='notification-type-status-updated-at'>
            <%= template_updated_at(reschedule_notif) %>
          </div>
        </div>
      <% end %>
    <% end %>

    <hr class='notification-type-separator' noshade=true>

    <div class='appointment-type-tutorial-container'>
      <h2 class='appointment-type-tutorial-title'><%= t("appointment_type.tutorial.title") %></h2>

      <p class='appointment-type-tutrial-text'><%= t("appointment_type.tutorial.text1") %></p>
      <p class='appointment-type-tutrial-text'><%= t("appointment_type.tutorial.text2") %></p>
      <p class='appointment-type-tutrial-text'><%= t("appointment_type.tutorial.text3") %></p>

      <p class='appointment-type-tutorial-secondary-title'><%= t("appointment_type.tutorial.title2") %></p>

      <p class='appointment-type-tutorial-sample-title'><%= t("appointment_type.tutorial.sample1_title") %></p>
      <p class='appointment-type-tutorial-sample'><%= t("appointment_type.tutorial.sample1_data") %></p>
      <p class='appointment-type-tutorial-sample-title'><%= t("appointment_type.tutorial.sample2_title") %></p>
      <p class='appointment-type-tutorial-sample'><%= t("appointment_type.tutorial.sample2_data") %></p>

      <p class='appointment-type-tutorial-secondary-title'><%= t("appointment_type.tutorial.title3") %></p>

      <div class='appointment-type-tutorial-key-table'>
        <div class='appointment-type-tutorial-key-table-line'>
          <div class='appointment-type-tutorial-key-name'><%= t("appointment_type.tutorial.key1_title") %></div>
          <div class='appointment-type-tutorial-key-content'><%= t("appointment_type.tutorial.key1_meaning") %></div>
          <div class='appointment-type-tutorial-key-sample'><%= t("appointment_type.tutorial.key1_sample") %></div>
        </div>
        <div class='appointment-type-tutorial-key-table-line'>
          <div class='appointment-type-tutorial-key-name'><%= t("appointment_type.tutorial.key2_title") %></div>
          <div class='appointment-type-tutorial-key-content'><%= t("appointment_type.tutorial.key2_meaning") %></div>
          <div class='appointment-type-tutorial-key-sample'><%= t("appointment_type.tutorial.key2_sample") %></div>
        </div>
        <div class='appointment-type-tutorial-key-table-line'>
          <div class='appointment-type-tutorial-key-name'><%= t("appointment_type.tutorial.key3_title") %></div>
          <div class='appointment-type-tutorial-key-content'><%= t("appointment_type.tutorial.key3_meaning") %></div>
          <div class='appointment-type-tutorial-key-sample'><%= t("appointment_type.tutorial.key3_sample") %></div>
        </div>
        <div class='appointment-type-tutorial-key-table-line'>
          <div class='appointment-type-tutorial-key-name'><%= t("appointment_type.tutorial.key4_title") %></div>
          <div class='appointment-type-tutorial-key-content'><%= t("appointment_type.tutorial.key4_meaning") %></div>
          <div class='appointment-type-tutorial-key-sample'><%= t("appointment_type.tutorial.key4_sample") %></div>
        </div>
        <div class='appointment-type-tutorial-key-table-line'>
          <div class='appointment-type-tutorial-key-name'><%= t("appointment_type.tutorial.key5_title") %></div>
          <div class='appointment-type-tutorial-key-content'><%= t("appointment_type.tutorial.key5_meaning") %></div>
          <div class='appointment-type-tutorial-key-sample'><%= t("appointment_type.tutorial.key5_sample") %></div>
        </div>
        <div class='appointment-type-tutorial-key-table-line'>
          <div class='appointment-type-tutorial-key-name'><%= t("appointment_type.tutorial.key6_title") %></div>
          <div class='appointment-type-tutorial-key-content'><%= t("appointment_type.tutorial.key6_meaning") %></div>
          <div class='appointment-type-tutorial-key-sample'><%= t("appointment_type.tutorial.key6_sample") %></div>
        </div>
        <div class='appointment-type-tutorial-key-table-line'>
          <div class='appointment-type-tutorial-key-name'><%= t("appointment_type.tutorial.key7_title") %></div>
          <div class='appointment-type-tutorial-key-content'><%= t("appointment_type.tutorial.key7_meaning") %></div>
          <div class='appointment-type-tutorial-key-sample'><%= t("appointment_type.tutorial.key7_sample") %></div>
        </div>
      </div>
    </div>
  </div>

  <div class='edit-appointment-type-container-submit-container'>
    <%= f.button :submit, t('submit'), class: 'form-submit-button' %>
  </div>
<% end %>
