<div class="fr-container fr-mt-5w fr-mb-5w">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-alert fr-alert--warning">
      <h3 class="fr-alert__title"><%= allow_force_create ? "Nous avons répéré un probationnaire similaire" : "Attention : ce probationnaire existe déjà"%></h3>
      <p>Merci de vérifier s'il s'agit de la même personne.</p>
      <% if allow_force_create %>
        <p>Si ce n'est pas le cas, vous pouvez forcer la création à l'aide des boutons précédents</p>
      <% end %>
      <% dups_details&.each do |result| %>
        <% duplicate_convict = result[:convict] %>
        <p><%= result[:alert] %></p>
        <p><%= result[:alert_details] %></p>
        <% if duplicate_convict.phone.present? %>
          <p><%= t('activerecord.attributes.convict.phone')%>: <%= duplicate_convict.display_phone %></p>
        <% end %>
        <% if duplicate_convict.appi_uuid.present? %>
          <p><%= t('activerecord.attributes.convict.appi_uuid') %>: <%= duplicate_convict.appi_uuid %></p>
        <% end %>
        <% if result[:show_button] %>
          <div class="fr-container fr-mt-5w fr-mb-5w">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
              <% if policy(duplicate_convict).be_divested? %>
                <% button_message = (user.work_at_bex? && duplicate_convict.valid?) ? t('new_divestment_bex') : t('new_divestment') %>
                <%= button_to button_message, divestments_path, method: :post, class: 'fr-btn', params: { convict_id: duplicate_convict.id }, data: { confirm: t('new_divestment_confirm'), turbo: false } %>
              <% else %>
                Code 12 - Dessaisissement impossible pour ce probationnaire, veuillez contacter un administrateur.
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>