<%= turbo_stream_from user, convict, "convict_invitation_card" %>
<%= turbo_frame_tag "convict_invitation_card" do %>
  <% if ConvictInvitationPolicy.new(user, convict).create? || convict.already_invited_to_interface? %>
    <div class="fr-grid-row fr-mt-2w">
      <div class="fr-col">
        <div class="fr-card fr-p-2w">
          <div class="fr-grid-row  fr-grid-row--middle">
            <div class="fr-col-4">
              <h3 class="fr-mr-2w"><%= t('.title') %></h3>
            </div>
            <div class="fr-col-8 ">
              <div class="fr-grid-row  fr-grid-row--right">
                <ul class="fr-btns-group fr-btns-group--inline-lg">
                  <% if ConvictInvitationPolicy.new(user, convict).create? %>
                    <%= button_to convict.invitation_to_convict_interface_count == 1 ? t('.reinvite') : t('.invite'), convict_invitation_path(convict), class: 'fr-btn fr-btn--secondary', id: 'convict-invitation-button', disabled: flash[:notice] == t('convict_invitations.create.invitation_pending') || convict.invitation_to_convict_interface_count >= 2 %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <p>
              <strong><%= t('.interface_invitation_state') %></strong> :
              <span id="convict-invitation-text">
                <% if flash[:notice] == t('convict_invitations.create.invitation_pending') %>
                  <%= t("convict_invitations.create.invitation_pending") %>
                <% else %>
                  <%= t(".#{convict.interface_invitation_state}", last_invite: convict.last_invite_to_convict_interface.present? ? l(convict.last_invite_to_convict_interface, format: :clear) : nil) %>
                <% end %>
              </span>
            </p>
            <p>
              <strong><%= t('.interface_access_timestamp')%></strong> :
              <% if convict.can_access_convict_inferface? %>
                <%= l(convict.timestamp_convict_interface_creation, format: :clear) %>
              <% else %>
                <%= t('.interface_no_access') %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% elsif user.can_invite_to_convict_interface?(convict) && !convict.can_receive_sms? %>
    <div class="fr-grid-row fr-mt-2w">
      <div class="fr-col">
        <div class="fr-card fr-p-2w">
          <div class="fr-grid-row  fr-grid-row--middle">
            <div class="fr-col-4">
              <h3 class="fr-mr-2w"><%= t('.title') %></h3>
            </div>
          </div>
          <div>
            <p>
              <strong><%= t('.cannot_invite') %></strong><br>
              <%= t('.cannot_invite_reason') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>