<h1 class='form-title'><%= t('edit_convict_title') %></h1>
<%= simple_form_for @convict, html: { class: 'basic-form' } do |f| %>
  <%= f.input :last_name %>
  <%= f.input :first_name %>
  <%= f.input :appi_uuid %>
  <%= f.label :city_id, "Commune", class: "form-label" %>
  <%= f.select(:city_id, options_for_select(City.with_at_least_one_service.map{ |c| ["#{c.name} - #{c.zipcode}", c.id]}, @convict.city&.id ), {prompt: 'Choisir une commune', html_options: {class: 'city-selector'}}) %>

  <div id="city-organizations"></div>

  <%= f.input :homeless, input_html: { class: 'form-checkbox' },
                              label_html: { class: 'form-checkbox-label' },
                              wrapper_html: { class: 'form-checkbox-wrapper'} %>

  <%= f.input :lives_abroad, input_html: { class: 'form-checkbox' },
                              label_html: { class: 'form-checkbox-label' },
                              wrapper_html: { class: 'form-checkbox-wrapper fr-mb-1w'} %>

  <% if current_user.work_at_spip? || current_user.admin? %>
    <%= f.association :user, collection: cpip_for_select(current_user.organization),
                             label: t('.cpip_label'),
                             selected: @convict.user&.id,
                             as: :select,
                             include_blank: t('.cpip_blank_option'),
                             label_method: :name,
                             input_html: { class: 'form-select', id: 'agent-name-autocomplete' } %>
  <% end %>
  <%= f.input :phone, required: true, input_html: { value: @convict.display_phone } %>
  <%= f.input :no_phone, input_html: { class: 'form-checkbox' },
                         label_html: { class: 'form-checkbox-label' },
                         wrapper_html: { class: 'form-checkbox-wrapper'} %>
  <%= f.input :refused_phone, input_html: { class: 'form-checkbox' },
                              label_html: { class: 'form-checkbox-label' },
                              wrapper_html: { class: 'form-checkbox-wrapper'} %>
  <%= f.button :submit, t('edit_convict_submit'), class: 'form-submit-button edit-convict-submit-button' %>
<% end %>

<%= javascript_pack_tag 'convict_new' %>