<h1 class='form-title'><%= t('edit_convict_title') %></h1>
<%= simple_form_for @convict, html: { class: 'basic-form' } do |f| %>
  <%= f.input :last_name %>
  <%= f.input :first_name %>
  <% if current_user.admin? || current_user.work_at_bex? %>
    <%= f.input :prosecutor_number %>
  <% end %>
  <%= f.input :appi_uuid %>
  <%= f.association :user, collection: policy_scope(User.cpip),
                           label: @convict.cpip.present? ? t('.cpip_present_label', cpip_name: @convict.cpip.name) : t('.cpip_label'),
                           selected: selected_cpip_for(@convict, current_user).id,
                           as: :select,
                           label_method: :name,
                           input_html: { class: 'form-select', id: 'name-autocomplete' } %>
  <%= f.input :phone, required: true, input_html: { value: @convict.display_phone } %>
  <%= f.input :no_phone, input_html: { class: 'form-checkbox' },
                         label_html: { class: 'form-checkbox-label' },
                         wrapper_html: { class: 'form-checkbox-wrapper'} %>
  <%= f.input :refused_phone, input_html: { class: 'form-checkbox' },
                              label_html: { class: 'form-checkbox-label' },
                              wrapper_html: { class: 'form-checkbox-wrapper'} %>
  <%= f.button :submit, t('edit_convict_submit'), class: 'form-submit-button edit-convict-submit-button' %>
<% end %>

<% if policy(@convict).destroy? %>
  <div class='convict-relation-container'>
    <h2 class='convict-secondary-title'><%= t('edit_convict_department_title') %></h2>
    <% @convict.departments.order(:number).each do |department|%>
      <p class='convict-attachment'>
        <%= "(#{department.number}) #{department.name}" %>
        <%= link_to t('delete'), areas_convicts_mapping_path(AreasConvictsMapping.find_by(area: department, convict: @convict)),
        method: :delete,
        class: 'convict-attachment-delete' %>
      </p>
    <% end %>

    <%= simple_form_for AreasConvictsMapping.new, html: { id: 'department-form', class: 'single-line-form' } do |f| %>
      <%= f.input :convict_id, as: :hidden, input_html: { value: @convict.id } %>
      <%= f.input :area_type, as: :hidden, input_html: { value: 'Department' } %>
      <%= f.input :area_id, collection: Department.order(:number),
                            label: t('edit_convict_department'),
                            wrapper_html: {class: 'single-line-input'},
                            input_html: {class: 'form-select'} %>
      <%= f.button :submit, t('add'), class: 'form-submit-button convict-attachment-submit' %>
    <% end %>

    <h2 class='convict-secondary-title'><%= t('edit_convict_jurisdiction_title') %></h2>
    <%= simple_form_for AreasConvictsMapping.new, html: { id: 'jurisdiction-form', class: 'single-line-form' } do |f| %>
      <% @convict.jurisdictions.order(:name).each do |jurisdiction|%>
        <p class='convict-attachment'>
          <%= jurisdiction.name %>
          <%= link_to t('delete'), areas_convicts_mapping_path(AreasConvictsMapping.find_by(area: jurisdiction, convict: @convict)),
                                  method: :delete,
                                  class: 'convict-attachment-delete' %>
        </p>
      <% end %>
      <%= f.input :convict_id, as: :hidden, input_html: { value: @convict.id } %>
      <%= f.input :area_type, as: :hidden, input_html: { value: 'Jurisdiction' } %>
      <%= f.input :area_id, collection: Jurisdiction.order(:name),
                            label: t('edit_convict_department'),
                            wrapper_html: {class: 'single-line-input'},
                            input_html: {class: 'form-select'} %>
      <%= f.button :submit, t('add'), class: 'form-submit-button convict-attachment-submit' %>
    <% end %>
  </div>
<% end %>
