<div data-controller="convicts-search">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-4">
          <%= form_with url: convicts_path, method: :get, data: { turbo_frame: "convicts_list", 
                                                                  action: "keyup->convicts-search#triggerSearch change->convicts-search#triggerSearch",
                                                                  convicts_search_target: "searchForm" }, 
                                                                  id: "convicts_search_form" do |form| %>
            <div class="fr-search-bar" id="header-search" role="search">
              <%= form.label'convicts_search_field', t('home.form_label'), class: 'fr-label' %>
              <%= form.search_field :q, placeholder: "Rechercher un probationnaire", id: "convicts_search_field", class: 'fr-input' %>
              <button class="fr-btn" title="<%= t('home.button_label') %>">
                <%= t('home.button_label') %>
              </button>
            </div>
            <% if current_user.cpip? %>
              <%= form.label :my_convicts, t('my_convicts') %>
              <%= form.check_box :my_convicts, id: "my_convicts_checkbox",  data: { action: "change->convicts-search#triggerSearch" } %>
            <% end %>
          <% end %>
        </div>
        <div class="fr-col-4">
          <% if policy(:convict).new? %>
            <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get %>
          <% end %>
        </div>
      </div>

      <%= turbo_frame_tag "convicts_list" do %>
        <%= render partial: "convicts_list", locals: { convicts: @convicts } %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'convicts_index', "data-turbo-track": "reload", defer: true %>

