<div class="convicts-container">
  <% if policy(:convict).new? %>
    <%= button_to t('new_convict_title'), new_convict_path, class: "link-to-new-convict-button", form_class: "link-to-new-convict-form", method: :get %>
  <% end %>

  <div class="convicts-header">
    <div class="convicts-header-title convicts-column-1">
      <%= t('activerecord.attributes.convict.name') %>
    </div>
    <div class="convicts-header-title convicts-column-2">
      <%= t('activerecord.attributes.convict.phone') %>
    </div>
  </div>

  <% @convicts.each do |convict| %>
    <div class="convicts-item-container">
      <div class="convict-data convicts-column-1">
        <%= convict.name %>
      </div>

      <div class="convict-data convicts-column-2">
        <%= convict.phone %>
      </div>

      <div class="convicts-column-3">
        <% if policy(:convict).destroy? %>
          <%= link_to t('delete'), convict_path(convict), data: { confirm: t('delete_confirmation') }, method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
