<div class='convicts-container'>
  <div class='index-tools-container'>
    <div class='index-tools-filter-container'>
      <div>
        <%= select_tag '', options_from_collection_for_select(@all_convicts, :profile_path, 'identity'),
                           id: 'profile-search-field',
                           style: "width: 200%",
                           include_blank: true %>
      </div>
    </div>
    <div class='index-tools-controls-container'>
      <% if current_user.cpip? %>
        <%= button_to t('my_convicts'), convicts_path, params: { only_mine: true }, class: 'fr-btn fr-btn--secondary fr-mr-1w', method: :get %>
      <% end %>
      <% if policy(:convict).new? %>
        <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get %>
      <% end %>
    </div>
  </div>

  <div class='index-basic-table-container'>
    <div class='convicts-header'>
      <div class='convicts-header-title convicts-column-1'>
        <%= t('activerecord.attributes.convict.name') %>
      </div>
      <div class='convicts-header-title convicts-column-2'>
        <%= t('activerecord.attributes.convict.phone') %>
      </div>
      <div class='convicts-header-title convicts-column-3'>
        <%= t('activerecord.attributes.convict.cpip') %>
      </div>
    </div>

    <% @convicts.each do |convict| %>
      <div class='convicts-item-container'>
        <div class='convict-data convicts-column-1'>
          <%= convict.name %>

          <% if convict.discarded? %>
            <span class='convicts-archived'><%= t('archived') %></span>
          <% end %>
        </div>

        <div class='convict-data convicts-column-2'>
          <%= convict.display_phone %>
        </div>

         <div class='convict-data convicts-column-3'>
          <% if convict.cpip.present? %>
            <%= convict.cpip_name %>
          <% elsif policy(convict).self_assign? %>
            <%= link_to t('.self_assign_link'), convict_self_assign_path(convict), method: 'post', class: 'index-control' %>
          <% end %>
        </div>

        <div class='index-controls-container'>
          <% if policy(:convict).show? %>
            <%= link_to t('show_convict'), convict_path(convict), class: 'index-control' %>
          <% end %>

          <% if policy(convict).edit? %>
            <%= link_to t('edit'), edit_convict_path(convict), class: 'index-control', "data-turbolinks": false %>
          <% end %>

          <% if policy(convict).archive? %>
            <%= link_to t('archive'), convict_archive_path(convict), method: :delete,
                                                                     data: { confirm: t('archive_convict_confirmation') },
                                                                     class: 'index-control' %>
          <% end %>

          <% if policy(convict).unarchive? %>
            <%= link_to t('unarchive'), convict_unarchive_path(convict), method: :post, class: 'index-control' %>
          <% end %>

          <% if policy(convict).destroy? %>
            <%= link_to t('delete'), convict_path(convict), class: 'index-control',
                                                            data: { confirm: t('basic_confirmation') },
                                                            method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= paginate @convicts %>
  </div>
</div>
