<div data-controller="search-convicts" data-search-convicts-all-convicts-value="<%= t('all_convicts') %>" data-search-convicts-my-convicts-value="<%= t('my_convicts') %>">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12">
      <div class="fr-grid-row fr-grid-row--left fr-grid-row--gutters">
          <div class="fr-col-4">
            <div class="fr-search-bar" id="header-search" role="search">
              <label class="fr-label" for="search_convicts"><%= t('home.form_label') %></label>
              <input class="fr-input" type="search" placeholder="Rechercher un probationnaire" name="search_convicts" id="search_convicts" data-search-convicts-target="query" data-action="input->search-convicts#search">
              <button class="fr-btn" title="<%= t('home.button_label') %>">
                <%= t('home.button_label') %>
              </button>
            </div>
          </div>
          <div class="fr-col-6">
            <ul class="fr-btns-group fr-btns-group--inline-lg">
              <% if current_user.cpip? %>
                <%= link_to t('my_convicts'), '#', class: 'fr-btn fr-btn--secondary fr-mr-1w', data: { action: 'click->search-convicts#toggleMine', search_convicts_target: 'mineButton' } %>
              <% end %>
              <% if policy(:convict).new? %>
                <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get %>
              <% end %>
            </ul>
          </div>
      </div>
      <div class="fr-col-sm-12 fr-col-md-10">
        <div id="search_results" data-search-convicts-target="results"></div>
        <div class="fr-table fr-table--bordered">
          <table data-search-convicts-target="table">
            <caption>Tous les probationnaires</caption>
            <thead>
              <tr>
                <th scope="col"><%= t('activerecord.attributes.convict.first_name') %></th>
                <th scope="col"><%= t('activerecord.attributes.convict.last_name') %></th>
                <th scope="col"><%= t('activerecord.attributes.convict.appi_uuid') %></th>
                <th scope="col"><%= t('activerecord.attributes.convict.phone') %></th>
                <th scope="col"><%= t('activerecord.attributes.convict.cpip') %></th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @convicts.each do |convict| %>
                <tr>
                  <td><%= convict.first_name %></td>
                  <td><%= convict.last_name %></td>
                  <td><%= convict.appi_uuid %></td>
                  <td><%= convict.display_phone %></td>
                  <td>
                    <% if convict.cpip.present? %>
                      <div class="fr-grid-row fr-grid-row--center">
                        <%= convict.cpip_name %>
                        <% if policy(convict).unassign? %>
                          <%= button_to convict_unassign_path(convict), data: { 'turbo-confirm': t('basic_confirmation') } do %>
                            <span class="fr-icon-close-line" aria-hidden="true"></span>
                          <% end %>
                        <% end %>
                      </div>
                    <% elsif policy(convict).self_assign? %>
                      <%= link_to t('.self_assign_link'), convict_self_assign_path(convict), class: 'index-control', data: { 'turbo-method': :post } %>
                    <% end %>
                  </td>
                  <td>
                    <% if policy(convict).show? %>
                      <%= link_to t('show_convict'), convict_path(convict), class: 'index-control' %>
                    <% end %>
                    <% if policy(convict).edit? %>
                      <%= link_to t('edit'), edit_convict_path(convict), class: 'index-control' %>
                    <% end %>
                    <% if policy(convict).archive? %>
                      <%= link_to t('archive'), convict_archive_path(convict), data: { 'turbo-confirm': t('archive_convict_confirmation'), 'turbo-method': :delete },
                                                                              class: 'index-control' %>
                    <% end %>
                    <% if policy(convict).unarchive? %>
                      <%= link_to t('unarchive'), convict_unarchive_path(convict), class: 'index-control', data: { 'turbo-method': :post } %>
                    <% end %>
                    <% if policy(convict).destroy? %>
                      <%= link_to t('delete'), convict_path(convict), class: 'index-control',
                                                                      data: { 'turbo-confirm': t('basic_confirmation'), 'turbo-method': :delete } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-10 fr-col-lg-8 fr-mt-2w">
      <div id="search_results" data-search-convicts-target="results">
      </div>
    </div>
  </div>
</div>

<%= paginate @convicts %>
