<div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
  <div class="fr-col-6">
    <% if current_user.cpip? %>
      <%= button_to t('my_convicts'), convicts_path, params: { only_mine: true }, class: 'fr-btn fr-btn--secondary fr-mr-1w', method: :get %>
    <% end %>
    <% if policy(:convict).new? %>
      <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get %>
    <% end %>
    <div class="fr-table fr-table--bordered">
      <table>
        <caption>Toutes les ppsmjs</caption>
        <thead>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.convict.first_name') %></th>
            <th scope="col"><%= t('activerecord.attributes.convict.last_name') %></th>
            <th scope="col"><%= t('activerecord.attributes.convict.appi_uuid') %></th>
            <th scope="col"><%= t('activerecord.attributes.convict.phone') %></th>
            <th scope="col"><%= t('activerecord.attributes.convict.cpip') %></th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @convicts.each do |convict| %>
            <tr>
              <td><%= convict.first_name %></td>
              <td><%= convict.last_name %></td>
              <td><%= convict.appi_uuid %></td>
              <td><%= convict.display_phone %></td>
              <td>
                <% if convict.cpip.present? %>
                  <%= convict.cpip_name %>
                <% elsif policy(convict).self_assign? %>
                  <%= link_to t('.self_assign_link'), convict_self_assign_path(convict), method: 'post', class: 'index-control' %>
                <% end %>
              </td>
              <td>
                <% if policy(:convict).show? %>
                  <%= link_to t('show_convict'), convict_path(convict), class: 'index-control' %>
                <% end %>
                <% if policy(convict).edit? %>
                  <%= link_to t('edit'), edit_convict_path(convict), class: 'index-control', "data-turbolinks": false %>
                <% end %>
                <% if policy(convict).archive? %>
                  <%= link_to t('archive'), convict_archive_path(convict), method: :delete,
                                                                          data: { confirm: t('archive_convict_confirmation') },
                                                                          class: 'index-control' %>
                <% end %>
                <% if policy(convict).unarchive? %>
                  <%= link_to t('unarchive'), convict_unarchive_path(convict), method: :post, class: 'index-control' %>
                <% end %>
                <% if policy(convict).destroy? %>
                  <%= link_to t('delete'), convict_path(convict), class: 'index-control',
                                                                  data: { confirm: t('basic_confirmation') },
                                                                  method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @convicts %>