<div class='convicts-container'>
  <div class='index-tools-container'>
    <div class='index-tools-filter-container'>
      <div>
        <%= select_tag '', options_from_collection_for_select(@all_convicts, :profile_path, 'name'),
                           id: 'home-search-field',
                           style: "width: 200%",
                           include_blank: true %>
      </div>
    </div>
    <div class='index-tools-controls-container'>
      <% if policy(:convict).new? %>
        <%= button_to t('new_convict_title'), new_convict_path, class: 'link-to-new-convict-button', form_class: 'link-to-new-convict-form', method: :get %>
      <% end %>
    </div>
  </div>

  <div class='index-table-container'>
    <div class='convicts-header'>
      <div class='convicts-header-title convicts-column-1'>
        <%= t('activerecord.attributes.convict.name') %>
      </div>
      <div class='convicts-header-title convicts-column-2'>
        <%= t('activerecord.attributes.convict.phone') %>
      </div>
    </div>

    <% @convicts.each do |convict| %>
      <div class='convicts-item-container'>
        <div class='convict-data convicts-column-1'>
          <%= convict.name %>

          <% if convict.discarded? %>
            <span class='convicts-archived'><%= t('archived') %></span>
          <% end %>
        </div>

        <div class='convict-data convicts-column-2'>
          <%= convict.display_phone %>
        </div>

        <div class='index-controls-container'>
          <% if policy(:convict).show? %>
            <%= link_to t('show_convict'), convict_path(convict), class: 'index-control' %>
          <% end %>

          <% if policy(convict).edit? %>
            <%= link_to t('edit'), edit_convict_path(convict), class: 'index-control' %>
          <% end %>

          <% if ENV['APP'] != 'mon-suivi-justice-prod' %>
            <% if policy(convict).archive? %>
              <%= link_to t('archive'), convict_archive_path(convict), method: :delete,
                                                                       data: { confirm: t('archive_convict_confirmation') },
                                                                       class: 'index-control' %>
            <% end %>
            <% if policy(convict).unarchive? %>
              <%= link_to t('unarchive'), convict_unarchive_path(convict), method: :post, class: 'index-control' %>
            <% end %>
          <% end %>

          <% if policy(convict).destroy? && convict.undiscarded? %>
            <%= link_to t('delete'), convict_path(convict), class: 'index-control',
                                                            data: { confirm: t('basic_confirmation') },
                                                            method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= paginate @convicts %>
  </div>
</div>
