<h1 class='form-title'><%= t('new_convict_title') %></h1>

<%= simple_form_for @convict, html: { class: 'basic-form' } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :phone %>

  <%= f.input :place_id, label: t('new_convict_first_appointment_place'), collection: Place.all, input_html: { class: 'form-select' }, required: true %>

  <%= f.button :submit, t('new_convict_submit'), class: 'form-submit-button' %>
<% end %>
