<h1 class='form-title'><%= t('new_convict_title') %></h1>
<%= simple_form_for @convict, html: { class: 'basic-form' } do |f| %>
  <%= f.input :last_name %>
  <%= f.input :first_name %>
  <% if current_user.admin? || current_user.work_at_bex? %>
    <%= f.input :prosecutor_number %>
  <% end %>
  <%= f.input :appi_uuid %>
  <%= f.association :user, collection: policy_scope(User.cpip),
                                  label: t('.cpip_label'),
                                  selected: selected_cpip_for(@convict, current_user)&.id,
                                  as: :select,
                                  include_blank: true,
                                  label_method: :name,
                                  input_html: { class: 'form-select', id: 'name-autocomplete' } %>
  <%= f.input :phone, required: true %>
  <%= f.input :no_phone, input_html: { class: 'form-checkbox' },
                         label_html: { class: 'form-checkbox-label' },
                         wrapper_html: { class: 'form-checkbox-wrapper' } %>
  <%= f.input :refused_phone, input_html: { class: 'form-checkbox' },
                              label_html: { class: 'form-checkbox-label' },
                              wrapper_html: { class: 'form-checkbox-wrapper' } %>
  <% if @duplicate_presence %>
    <p class='new-convict-duplicate-warning'><%= t('new_convict_duplicate_warning')%></p>
    <div class='new-convict-submits-container'>
      <%= f.hidden_field :force_duplication, value: true  %>
      <%= f.button :button, id: 'submit-no-appointment', class: 'form-submit-button', name: 'no-appointment' do %>
        <%= t('submit') %><br><%= t('new_convict_submit') %>
      <% end %>
      <%= f.button :button, id: 'submit-with-appointment', class: 'form-submit-button', name: 'with-appointment' do %>
        <%= t('submit') %><br><%= t('new_convict_first_appointment') %>
      <% end %>
    </div>
  <% else %>
    <div class='new-convict-submits-container'>
      <%= f.button :button, id: 'submit-no-appointment', class: 'form-submit-button', name: 'no-appointment' do %>
        <%= t('submit') %><br><%= t('new_convict_submit') %>
      <% end %>
      <%= f.button :button, id: 'submit-with-appointment', class: 'form-submit-button', name: 'with-appointment' do %>
        <%= t('submit') %><br><%= t('new_convict_first_appointment') %>
      <% end %>
    </div>
  <% end %>

<% end %>
