<h1 class='form-title'><%= t('new_convict_title') %></h1>

<%= simple_form_for @convict, html: { class: 'basic-form' } do |f| %>
  <%= f.input :last_name %>
  <%= f.input :first_name %>
  <%= f.input :phone %>

  <div class='new-convict-submits-container'>
    <%= f.button :submit, t('new_convict_submit'), class: 'form-submit-button' %>
    <%= f.button :submit, t('new_convict_first_appointment'), class: 'form-submit-button' %>
  </div>
<% end %>
