<h1 class='form-title'><%= t('new_convict_title') %></h1>

<%= simple_form_for @convict, html: { class: 'basic-form' } do |f| %>
  <%= f.input :title, collection: Convict.titles.symbolize_keys.keys, input_html: { class: 'form-select' } %>
  <%= f.input :last_name %>
  <%= f.input :first_name %>

  <%= f.input :phone %>

  <div class="form-checkbox-field-container">
    <label for='convict_no_phone' class='checkbox-label'><%= t('activerecord.attributes.convict.no_phone') %>
      <input type="checkbox" id='convict_no_phone' name='convict[no_phone]' value='1' />
      <span></span>
    </label>
  </div>

  <div class="form-checkbox-field-container">
    <label for='convict_refused_phone' class='checkbox-label'><%= t('activerecord.attributes.convict.refused_phone') %>
      <input type="checkbox" id='convict_refused_phone' name='convict[refused_phone]' value='1' />
      <span></span>
    </label>
  </div>

  <div class='new-convict-submits-container'>
    <%= f.button :submit, t('new_convict_submit'), class: 'form-submit-button' %>
    <%= f.button :submit, t('new_convict_first_appointment'), class: 'form-submit-button' %>
  </div>
<% end %>
