<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
    <h1 class='form-title'><%= t('new_convict_title') %></h1>
    <%= simple_form_for @convict do |f| %>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-2v ">
        <div class="fr-col">
          <% invalid = @convict.errors.include?(:last_name) %>
          <div class="fr-input-group <%= 'fr-input-group--error' if invalid %>">
            <label class="fr-label" for="convict_last_name">*<%= t('activerecord.attributes.convict.last_name')%></label>
            <input class="fr-input" aria-describedby="text-input-error-desc-error" type="text" value="<%= @convict.last_name %>" name="convict[last_name]" id="convict_last_name">
            <% if invalid %>
              <p id="text-input-error-desc-error" class="fr-error-text">
                <%=  @convict.errors.full_messages_for(:last_name).first %>.
              </p>
            <% end %>
          </div>
        </div>
        <div class="fr-col">
          <% invalid = @convict.errors.include?(:first_name) %>
          <div class="fr-input-group <%= 'fr-input-group--error' if invalid %>">
            <label class="fr-label" for="convict_first_name">*<%= t('activerecord.attributes.convict.first_name')%></label>
            <input class="fr-input" type="text" value="<%= @convict.first_name %>" name="convict[first_name]" id="convict_first_name">
            <% if invalid %>
              <p id="text-input-error-desc-error" class="fr-error-text">
                <%=  @convict.errors.full_messages_for(:first_name).first %>.
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <% invalid = @convict.errors.include?(:date_of_birth) %>
      <div class="fr-input-group <%= 'fr-input-group--error' if invalid %>">
        <label class="fr-label" for="convict_date_of_birth">*<%= t('activerecord.attributes.convict.date_of_birth')%></label>
        <input class="fr-input" type="date" value="<%= l @convict.date_of_birth, format: :value, default: '' %>" max="<%= 16.years.ago.strftime('%Y-%m-%d') %>" name="convict[date_of_birth]" id="convict_date_of_birth">
        <% if invalid %>
          <p id="text-input-error-desc-error" class="fr-error-text">
            <%=  @convict.errors.full_messages_for(:date_of_birth).first %>.
          </p>
        <% end %>
      </div>
      <% invalid = @convict.errors.include?(:appi_uuid) %>
      <div class="fr-input-group <%= 'fr-input-group--error' if invalid %>">
        <label class="fr-label" for="convict_appi_uuid"><%= t('activerecord.attributes.convict.appi_uuid')%></label>
        <input class="fr-input" type="text" value="<%= @convict.appi_uuid %>" name="convict[appi_uuid]" id="convict_appi_uuid">
        <% if invalid %>
          <% @convict.errors.full_messages_for(:appi_uuid).each do |message| %>
            <p id="text-input-error-desc-error" class="fr-error-text">
              <%= message %>.
            </p>
          <% end %>
        <% end %>
      </div>
      <% if current_user.can_use_inter_ressort? %>
        <%= render partial: 'shared/city_selector' %>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
          <div class="fr-checkbox-group">
            <input name="convict[homeless]" id="convict-homeless" type="checkbox" aria-describedby="convict-homeless-messages" value="1" <%= 'checked' if @convict.homeless%>>
            <label class="fr-label" for="convict-homeless">
              <%= t('activerecord.attributes.convict.homeless')%>
            </label>
            <div class="fr-messages-group" id="convict-homeless-messages" aria-live="assertive">
            </div>
          </div>
        </div>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
          <div class="fr-checkbox-group">
            <input name="convict[lives_abroad]" id="convict-lives-abroad" type="checkbox" aria-describedby="convict-lives-abroad-messages" value="1" <%= 'checked' if @convict.lives_abroad %>>
            <label class="fr-label" for="convict-lives-abroad">
              <%= t('activerecord.attributes.convict.lives_abroad')%>
            </label>
            <div class="fr-messages-group" id="convict-lives-abroad-messages" aria-live="assertive">
            </div>
          </div>
        </div>
      <% end %>
      <% if current_user.work_at_spip? || current_user.admin? %>
        <%= render partial: 'shared/user_selector' %>
      <% end %>
      <% if ConvictInvitationPolicy.new(current_user, @convict).create? %>
        <div class="fr-fieldset__element fr-fieldset__element--inline">
          <div class="fr-checkbox-group">
            <input name="invite_convict" id="convict-invite_convict" type="checkbox" checked>
            <label class="fr-label" for="convict-invite_convict">
              <%= t('activerecord.attributes.convict.invite_convict') %>
            </label>
          </div>
        </div>
      <% end %>
      <% invalid = @convict.errors.include?(:phone) %>
      <div class="fr-input-group <%= 'fr-input-group--error' if invalid %>">
        <label class="fr-label" for="convict_phone"><%= t('activerecord.attributes.convict.phone')%></label>
        <input class="fr-input" type="text" value="<%= @convict.phone %>" name="convict[phone]" id="convict_phone">
        <% if invalid %>
          <p id="text-input-error-desc-error" class="fr-error-text">
            <%=  @convict.errors.full_messages_for(:phone).first %>.
          </p>
        <% end %>
      </div>
      <div id="convict-no-phone-checkbox" class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
          <input name="convict[no_phone]" id="convict-no-phone" type="checkbox" aria-describedby="convict-no-phone-messages" value="1" <%= 'checked' if @convict.no_phone %>>
          <label class="fr-label" for="convict-no-phone">
            <%= t('activerecord.attributes.convict.no_phone')%>
          </label>
          <div class="fr-messages-group" id="convict-no-phone-messages" aria-live="assertive">
          </div>
        </div>
      </div>
      <div id="convict-refused-phone-checkbox" class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
          <input name="convict[refused_phone]" id="convict-refused-phone" type="checkbox" aria-describedby="convict-refused-phone-messages" value="1" <%= 'checked' if @convict.refused_phone %>>
          <label class="fr-label" for="convict-refused-phone">
            <%= t('activerecord.attributes.convict.refused_phone')%>
          </label>
          <div class="fr-messages-group" id="convict-refused-phone-messages" aria-live="assertive">
          </div>
        </div>
      </div>
      <div id="convict-japat-checkbox" class="fr-fieldset__element fr-fieldset__element--inline">
        <div class="fr-checkbox-group">
          <input name="convict[japat]" id="convict-japat" type="checkbox" aria-describedby="convict-japat-messages" value="1" <%= 'checked' if @convict.japat %>>
          <label class="fr-label" for="convict-japat">
            Japat
          </label>
          <div class="fr-messages-group" id="convict-japat-messages" aria-live="assertive">
          </div>
        </div>
      </div>
      <div class="fr-container fr-mt-5w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
          <ul class="fr-btns-group fr-btns-group--inline-lg">
            <%= f.button :button, id: 'submit-no-appointment', class: 'fr-btn', name: 'no-appointment', data: {turbo: false} do %>
              <%= t('submit') %><br>
              <%= t('new_convict_submit') %>
            <% end %>
            <%= f.button :button, id: 'submit-with-appointment', class: 'fr-btn', name: 'with-appointment', data: {turbo: false} do %>
              <%= t('submit') %><br>
              <%= t('new_convict_first_appointment') %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <% if @dups_details.present? %>
      <%= render 'duplicate_convict_card', dups_details: @dups_details, user: current_user %>
    <% end %>
    <% if @duplicate_convicts.present? && current_user.can_use_inter_ressort? %>
      <%= render 'duplicate_convict_inter_ressort_card', duplicate_convicts: @duplicate_convicts, user: current_user %>
    <% end %>
  </div>
</div>
