<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
    <% if @convict.passed_appointments.present? %>
      <% policy_scope(@convict.passed_appointments).each do |apt| %>
        <% if apt.booked? && policy(apt).fulfil? %>
          <div class='appointment-fulfilment-container'>
            <div class='appointment-fulfilment-prompt-container'>
              <%= t('show-convict-fulfilment-prompt', name: @convict.name,
                                                        place: apt.slot.agenda.place.name,
                                                        date: apt.slot.date,
                                                        time: apt.slot.localized_time.to_s(:time)) %>
            </div>
            <div class='appointment-fulfilment-controls-container'>
              <%= button_to t('yes'), appointment_fulfil_path(apt),
                                        method: :put,
                                        id: 'show-convict-fulfil-button',
                                        class: 'show-convict-fulfil-button' %>
              <%= button_tag t('no'), type: 'button',
                                        class: 'show-convict-miss-button',
                                        data: { 'micromodal-trigger': "missed-appointment-modal-#{apt.id}" } %>
              <%= button_to t('show-convict-fulfilment-excused'), appointment_excuse_path(apt),
                                                                    method: :put,
                                                                    id: 'show-convict-excuse-button',
                                                                    class: 'show-convict-excuse-button' %>
            </div>
          </div>
          <%= render 'missed_appointment_modal', apt: apt %>
        <% end %>
      <% end %>
    <% end %>
    <% if @convict.discarded? %>
      <div class='show-convict-achived-container'>
        <%= t('show_convict_archived') %>
      </div>
    <% end %>
    <div class="fr-grid-row">
      <div class="fr-col">
        <div class="fr-card fr-p-2w">
          <div class="fr-grid-row  fr-grid-row--middle">
            <div class="fr-col-4">
              <h2 class="fr-mr-2w"><%= t('show_convict_title') %></h2>
            </div>
            <div class="fr-col-8 ">
              <div class="fr-grid-row  fr-grid-row--right">
                <ul class="fr-btns-group fr-btns-group--inline-lg">
                  <% if policy(@convict).edit? %>
                    <%= button_to t('edit'), edit_convict_path(params[:id]),
                                        method: :get,
                                        class: 'fr-btn',
                                        "data-turbolinks": false %>
                  <% end %>
                  <% if policy(@convict).destroy? %>
                    <%= button_to t('delete'), convict_path(params[:id]),
                                          method: :delete,
                                          data: { confirm: t('basic_confirmation') },
                                          class: 'fr-btn fr-btn--danger' %>
                  <% end %>
                  <% if policy(@convict).archive? %>
                    <%= button_to t('archive'), convict_archive_path(@convict),
                                            method: :delete,
                                            data: { confirm: t('archive_convict_confirmation') },
                                            class: 'fr-btn fr-btn--tertiary' %>
                  <% end %>
                  <% if policy(@convict).unarchive? %>
                    <%= button_to t('unarchive'), convict_unarchive_path(@convict), method: :post, class: 'fr-btn fr-btn--tertiary' %>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <p>
            <strong><%= t('activerecord.attributes.convict.last_name')%></strong> : <%= @convict.last_name.upcase %>
          </p>
          <p>
            <strong><%= t('activerecord.attributes.convict.first_name') %></strong> : <%= @convict.first_name.capitalize %>
          </p>
          <p>
            <strong><%= t('activerecord.attributes.convict.cpip') %></strong> :             
            <% if @convict.cpip.present? %>
              <%= @convict.cpip_name %>
            <% elsif policy(@convict).self_assign? %>
              <%= link_to t('.self_assign_link'), convict_self_assign_path(@convict), method: 'post', class: 'index-control' %>
            <% end %>
          </p>
          <p>
            <strong><%= t('activerecord.attributes.convict.appi_uuid') %></strong> : <%= @convict.appi_uuid.presence %>
          </p>
          <p>
            <strong><%= t('activerecord.attributes.convict.phone') %></strong> :
            <% if @convict.no_phone? %>
              <%= t('activerecord.attributes.convict.no_phone') %>
            <% elsif @convict.refused_phone? %>
              <%= t('activerecord.attributes.convict.refused_phone') %>
            <% else %>
              <%= @convict.display_phone %>
            <% end %>
          </p>
          <p>
            <strong>Suivi par</strong> : <%= @convict.organizations.pluck(:name).join(', ') %>
          </p>
        </div>
      </div>
    </div>
    <% if ENV['APP'] != 'mon-suivi-justice-prod' || current_user.can_invite_to_convict_interface? %>
      <div class="fr-grid-row fr-mt-2w">
        <div class="fr-col">
          <div class="fr-card fr-p-2w">
            <div class="fr-grid-row  fr-grid-row--middle">
              <div class="fr-col-4">
                <h3 class="fr-mr-2w">Espace PPSMJ</h3>
              </div>
              <div class="fr-col-8 ">
                <div class="fr-grid-row  fr-grid-row--right">
                  <ul class="fr-btns-group fr-btns-group--inline-lg">
                    <% if ConvictInvitationPolicy.new(current_user, @convict).create? %>
                      <%= button_to @convict.invitation_to_convict_interface_count == 1 ? t('.reinvite') : t('.invite'), convict_invitation_path(@convict), method: :post, class: 'fr-btn fr-btn--secondary', id: 'convict-invitation-button' %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <p>
                <strong><%= t('.interface_invitation_state') %></strong> : <%= t(".#{@convict.interface_invitation_state}", last_invite: @convict.last_invite_to_convict_interface.present? ? l(@convict.last_invite_to_convict_interface, format: :clear) : nil) %>
              </p>
              <p>
                <strong><%= t('.interface_access_timestamp')%></strong> : 
                <% if @convict.can_access_convict_inferface? %>
                  <%= l(@convict.timestamp_convict_interface_creation, format: :clear) %>
                <% else %>
                  <%= t('.interface_no_access') %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @convict.future_appointments.count != 0 %>
      <div class="fr-grid-row fr-mt-2w">
        <div class="fr-col">
          <div class="fr-table fr-table--layout-fixed fr-table--bordered">
            <table>
              <% if @convict.future_appointments.count == 1 %>
                <caption><%= t('show-convict-next-appointments-title1') %></caption>
              <% else %>
                <caption><%= t('show-convict-next-appointments-title2') %></caption>
              <% end %>
              <thead>
                <tr>
                  <th scope="col">Lieu</th>
                  <th scope="col">Date</th>
                  <th scope="col">Horaire</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @convict.future_appointments.each do |apt| %>
                  <tr>
                    <td><%= apt.slot.agenda.place.name %></td>
                    <td><%= apt.slot.date %></td>
                    <td><%= apt.localized_time.to_s(:time) %></td>
                    <td><%= link_to t('see'), appointment_path(apt), class: '' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
    <% if policy(:appointment).new? && @convict.undiscarded? %>
      <div class="fr-grid-row fr-grid-row--center fr-mt-2w">
        <div class="fr-col-4">
          <%= link_to t('show_convict_new_appointment'), new_appointment_path(convict_id: params[:id]),
                                                        class: 'fr-btn  fr-btn--lg',
                                                        
                                                        method: :get %>
        </div>
      </div>
    <% end %>
    <%= render 'shared/history_items' %>
  </div>
</div>
<%= javascript_pack_tag 'convict' %>
