<h1 class='show-title'><%= t('show_convict_title') %></h1>

<% if @convict.passed_appointments.present? %>
  <% @convict.passed_appointments.each do |apt| %>
    <div class='appointment-fulfilment-container'>
      <div class='appointment-fulfilment-prompt-container'>
        <%= t('show-convict-fulfilment-prompt', name: @convict.name,
                                                place: apt.slot.agenda.place.name,
                                                date: apt.slot.date,
                                                time: apt.slot.starting_time.to_s(:time)) %>
      </div>

      <div class='appointment-fulfilment-controls-container'>
        <%= button_to t('yes'), appointment_fulfil_path(apt),
                                method: :put,
                                id: 'show-convict-fulfil-button',
                                class: 'show-convict-fulfil-button' %>

        <%= button_tag t('no'), type: 'button',
                                class: 'show-convict-miss-button',
                                data: { 'micromodal-trigger': "missed-appointment-modal-#{apt.id}" } %>

        <%= button_to t('show-convict-fulfilment-excused'), appointment_excuse_path(apt),
                                                            method: :put,
                                                            id: 'show-convict-excuse-button',
                                                            class: 'show-convict-excuse-button' %>
      </div>
    </div>

    <%= render 'missed_appointment_modal', apt: apt %>
  <% end %>
<% end %>

<div class='show-profile-container'>
  <div class='show-data-container'>
    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.title')%>
      </div>
      <div class='show-data-item'>
        <%= t("activerecord.attributes.convict.convict_titles.#{@convict.title}") %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.last_name')%>
      </div>
      <div class='show-data-item'>
        <%= @convict.last_name.upcase %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.first_name') %>
      </div>
      <div class='show-data-item'>
        <%= @convict.first_name.capitalize %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.appi_uuid') %>
      </div>
      <div class='show-data-item'>
        <%= @convict.appi_uuid.presence %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.phone') %>
      </div>
      <div class='show-data-item'>
        <% if @convict.no_phone? %>
          <%= t('activerecord.attributes.convict.no_phone') %>
        <% elsif @convict.refused_phone? %>
          <%= t('activerecord.attributes.convict.refused_phone') %>
        <% else %>
          <%= @convict.display_phone %>
        <% end %>
      </div>
    </div>
  </div>

  <div class='show-button-to-edit-container'>
    <%= button_to t('edit'), edit_convict_path(params[:id]),
                             method: :get,
                             class: 'show-button-to-edit' %>

    <% if policy(:convict).destroy? %>
      <%= button_to t('delete'), convict_path(params[:id]),
                                 method: :delete,
                                 data: { confirm: t('basic_confirmation') },
                                 class: 'show-button-to-delete' %>
    <% end %>
  </div>
</div>

<% if @convict.booked_appointments.count != 0 %>
  <div class='show-convict-next-appointments-container'>
    <% if @convict.booked_appointments.count == 1 %>
      <p class='show-convict-next-appointments-title'><%= t('show-convict-next-appointments-title1') %></p>
    <% else %>
      <p class='show-convict-next-appointments-title'><%= t('show-convict-next-appointments-title2') %></p>
    <% end %>
    <div class='show-convict-next-appointments-item'>
      <% @convict.booked_appointments.each do |apt| %>
        <p class='show-convict-next-appointment'>
          <%= t('show_convict_next_appointment', place: apt.slot.agenda.place.name,
                                                 date: apt.slot.date,
                                                 time: apt.slot.starting_time.to_s(:time)) %>
          <%= link_to t('see'), appointment_path(apt), class: 'show-convict-next-appointment-link' %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% if policy(:appointment).new? %>
  <div class='show-convict-new-appointment-container'>
    <%= link_to t('show_convict_new_appointment'), new_appointment_path(convict_id: params[:id]),
                                                   class: 'link-to-new-appointment-button',
                                                   form_class: 'link-to-new-appointment-form',
                                                   method: :get %>
  </div>
<% end %>

<h2 class='show-secondary-title'><%= t('show_convict_history_title') %></h2>

<div class='show-history-container'>
  <% @history_items.each do |history_item| %>
    <div class='show-history-item-container'>
      <div class='show-history-item-header'>
        <div class='show-history-item-icon'>
          <%= fa_icon 'circle', class: "icon_#{history_item.event}" %>
        </div>
        <div class='show-history-item-creation'>
          <%= history_item.created_at.strftime('%d/%m/%Y %H:%M') %>
        </div>
      </div>

      <div class='show-history-item'>
        <div class='show-history-item-title'>
          <%= t("show_history_#{history_item.event}_title") %>
        </div>

        <div class='show-history-item-content'>
          <%= t("show_history_#{history_item.event}", name: @convict.name,
                                                      place: history_item.appointment.slot.agenda.place.name,
                                                      date: history_item.appointment.slot.date,
                                                      time: history_item.appointment.slot.starting_time.to_s(:time)) %>
        </div>
      </div>

      <div class='show-history-item-link'>
        <%= link_to t('see_details'), appointment_path(history_item.appointment), class: 'show-convict-history-control' %>
      </div>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'convict' %>
