<% unless current_user.organization.jap_modal_content.empty? %>
  <section class='agendas-modal-trigger-container'>
    <%= button_tag(t('new-appointment-jap-agendas'), type: 'button',
                                                     class: 'jap-agendas-modal-trigger',
                                                     data: { :'micromodal-trigger' => 'jap-agendas-modal' }) %>
  </section>
  <%= render partial: 'shared/jap_agendas_modal', locals: {jap_modal_content: current_user.organization.jap_modal_content} %>
<% end %>

<h1 class='form-title'><%= t('slots.new_batch_title') %></h1>

<p class='form-manual'><%= t('slots.new_batch_manual') %></p>

<%= simple_form_for(:slot_batch, method: :post, url: slots_batch_path, html: { class: 'basic-form' }) do |f| %>
  <%= f.input :agenda_id, collection: agendas_for_slot_creation(current_user),
                          label: t('activerecord.models.agenda'),
                          input_html: { class: 'form-select' } %>

  <%= f.input :appointment_type_id, collection: appointment_types_for_slot_creation(current_user),
                                    label: t('activerecord.models.appointment_type'),
                                    input_html: { class: 'form-select' } %>

  <%= f.input :date, input_html: { class: 'form-select', min: Date.today },
                     label: t('activerecord.attributes.slot.date'),
                     as: :date,
                     html5: true %>

  <div class='new-slots-time-fields-container' id='new-slots-time-fields-container'>
    <%= f.input :starting_time, input_html: { class: 'form-select', name: 'starting_times[]' },
                                wrapper_html: { class: 'new-slots-time-fields' },
                                label: t('activerecord.attributes.slot.starting_time'),
                                as: :time,
                                wrapper: :custom_time,
                                include_blank: true,
                                multiple: true,
                                start_hour: 6,
                                end_hour: 20,
                                minute_step: 5 %>

  </div>

  <%= link_to 'Ajouter une heure', display_time_fields_path, type: 'button', class: 'new-slots-add-starting-time', remote: true %>

  <%= f.input :duration, label: t('activerecord.attributes.slot.duration') %>
  <%= f.input :capacity, label: t('activerecord.attributes.slot.capacity') %>

  <%= f.button :submit, t('submit'), class: 'form-submit-button' %>
<% end %>