<div id="spip_creation_page" style="padding: 20px">
  <h1>Création de page sur le site public - https://www.mon-suivi-justice.beta.gouv.fr</h1>
  <br>

  <%= form_with url: admin_create_page_path, class: 'form' do |form| %>
    <div class="field-unit field-unit--string field-unit--optional">
      <%= form.label :organization_name, "Nom du service :", class: 'field-unit__label' %>
      <%= form.text_field :organization_name, class: 'field-unit__field', placeholder: "Ex: spip78, spip54_val_de_briey, sap_draguignan...", required: true %>
    </div>
    <div class="field-unit field-unit--string field-unit--optional">
      <%= form.label :picture, "Image du SPIP:", class: 'field-unit__label' %> 
      <%= form.file_field :picture, style: 'margin-left: 2rem;', required: true %>
    </div>
    <div class="form-actions">
      <%= form.submit "Créer" %>
    </div>
  <% end %>
</div>