<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 fr-mt-2w fr-mb-2w">
    <div class="fr-grid-row">
      <div class="fr-col">
        <div class="fr-card fr-p-2w">
          <%= simple_form_for @user, html: { class: 'fr-form' } do |f| %>
            <div class="fr-grid-row  fr-grid-row--middle">
              <div class="fr-col-6">
                <h2 class="fr-mr-2w"><%= current_user?(@user) ? t('edit_user_title_own') :  t('edit_user_title') %></h2>
              </div>
              <div class="fr-col-6">
                <div class="fr-grid-row  fr-grid-row--right">
                  <ul class="fr-btns-group fr-btns-group--inline-lg">
                    <%= f.button :submit, t('submit') %>
                  </ul>
                </div>
              </div>
            </div>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :email, required: true %>
            <%= f.input :phone %>
            <% if UserServiceSwitchPolicy.new(current_user, @user).create? %>
              <%= f.association :organization, collection: selectable_organizations_for_update, include_blank: false,
                                              input_html: { class: 'form-select' } %>
            <% end %>
            <% if (current_user.admin? || current_user.local_admin?) && current_user != @user %>
              <%= f.input :role, collection: available_user_roles,
                                label_method: lambda {|k| t("activerecord.attributes.user.user_roles.#{k}")},
                                input_html: { class: 'form-select' } %>
            <% end %>
            <% if @user.can_follow_convict? && @user == current_user %>
              <%= f.input :share_phone_to_convict, as: :boolean,
                                                  input_html: { class: 'form-checkbox' },
                                                  label_html: { class: 'form-checkbox-label' },
                                                  wrapper_html: { class: 'form-checkbox-wrapper'} %>
              <%= f.input :share_email_to_convict, as: :boolean,
                                                  input_html: { class: 'form-checkbox' },
                                                  label_html: { class: 'form-checkbox-label' },
                                                  wrapper_html: { class: 'form-checkbox-wrapper'} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>