<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-mb-2w">
    <div class="fr-grid-row">
      <div class="fr-col">
        <div class='index-tools-container'>
          <div class='index-tools-filter-container'>
            <div>
              <%= form_with url: users_path, method: :get, data: { turbo_frame: "users-table", turbo_stream: true } do %>
                <%= text_field_tag :search, params[:search], oninput: "this.form.requestSubmit()", class: "fr-input", placeholder: "nom de famille", autofocus: true %>
              <% end %>
            </div>
          </div>
          <div class='index-tools-controls-container'>
            <% if policy(:user).new? %>
              <%= button_to t('new_user_title'), new_user_invitation_path, class: 'fr-btn', form_class: 'link-to-new-user-form', method: :get %>
            <% end %>
          </div>
        </div>
        <%= turbo_frame_tag "users-table" do %>
          <%= render partial: 'users_table', locals: { users: @users } %>
        <% end %>

        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
