<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-mb-2w">
    <div class="fr-grid-row">
      <div class="fr-col">
        <div class='index-tools-container'>
          <div class='index-tools-filter-container'>
            <div>
              <%= select_tag '', options_from_collection_for_select(@all_users, :profile_path, 'identity'),
                                id: 'profile-search-field',
                                style: "width: 200%",
                                include_blank: true %>
            </div>
          </div>
          <div class='index-tools-controls-container'>
            <% if policy(:user).new? %>
              <%= button_to t('new_user_title'), new_user_invitation_path, class: 'fr-btn', form_class: 'link-to-new-user-form', data: { "turbo_method": :get } %>
            <% end %>
          </div>
        </div>

          <div class="fr-table">
            <table>
              <thead>
                <tr>
                  <th scope="col"><%= t('activerecord.attributes.user.name') %></th>
                  <th scope="col"><%= t('activerecord.attributes.user.email') %></th>
                  <th scope="col"><%= t('activerecord.attributes.user.role') %></th>
                  <th scope="col"><%= t('activerecord.attributes.user.organization') %></th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td>
                      <%= user.name %>
                    </td>

                    <td>
                      <%= user.email %>
                    </td>

                    <td>
                      <%= t("activerecord.attributes.user.user_roles.#{user.role}") %>
                    </td>
                    <td>
                      <%= user.organization.name %>
                    </td>

                    <td>
                      <%= link_to t('see_profile'), user_path(user), class: 'index-control' %>

                      <% if policy(:user).edit? %>
                        <%= link_to t('edit'), edit_user_path(user), class: 'index-control' %>
                      <% end %>

                      <% if policy(:user).destroy? %>
                        <% if !user.admin? %>
                          <%= link_to t('delete'), user_path(user),
                                                  data: { 'turbo-confirm': t('basic_confirmation'), 'turbo-method': :delete },
                                                  class: 'index-control' %>
                        <% else %>
                          <% if current_user.admin? %>
                            <%= link_to t('delete'), user_path(user),
                                                    data: { 'turbo-confirm': t('basic_confirmation'), 'turbo-method': :delete },
                                                    class: 'index-control' %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </tbody>
            </table>
          </div>

          <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
