<h1 class="form-title"><%= t('new_user_title') %></h1>

<%= simple_form_for @user, html: { class: "basic-form" } do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :role, collection: User.roles.keys %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, t('new_user_submit') %>
<% end %>
