  <header role="banner" class="fr-header">
      <div class="fr-header__body">
          <div class="fr-container">
              <div class="fr-header__body-row">
                  <div class="fr-header__brand fr-enlarge-link">
                      <div class="fr-header__brand-top">
                          <div class="fr-header__logo">
                              <a href=<%= root_path %> title="Accueil - Ministère de la justice - Mon Suivi Justice">
                                  <p class="fr-logo">
                                      Ministère de
                                      <br>la Justice
                                  </p>
                              </a>
                          </div>
                          <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-851" aria-haspopup="menu" id="button-852" title="Menu">
                              Menu
                            </button>
                          </div>
                      </div>
                      <div class="fr-header__service">
                        <%= image_tag "static/logo_msj.svg" %>
                      </div>
                  </div>

                  <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                      <%= button_to 'Espace agents', home_path, method: :get, class: 'static-home-back-office-button'  %>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="fr-header__menu fr-modal" id="modal-851" aria-labelledby="button-852">
          <div class="fr-container">
              <button class="fr-link--close fr-link" aria-controls="modal-851">Fermer</button>
              <nav class="fr-nav" id="navigation-850" role="navigation" aria-label="Menu principal">
                  <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                      <a class="fr-nav__link" href=<%= preparer_mon_rdv_path %> target="_self">Préparer mon rendez-vous</a>
                    </li>
                    <li class="fr-nav__item">
                      <a class="fr-nav__link" href=<%= comprendre_ma_peine_path %> target="_self">Comprendre ma peine</a>
                    </li>
                    <li class="fr-nav__item">
                      <a class="fr-nav__link" href=<%= ma_reinsertion_path %> target="_self">Investir ma réinsertion</a>
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="https://beta.gouv.fr/startups/justif.html" target="_blank">Qui sommes nous ?</a>
                    </li>
                  </ul>
              </nav>
          </div>
      </div>
  </header>
