<div class='index-header-container'>
  <div class='index-header-filters-container'>
    <%= search_form_for @q, url: user_appointments_path, class: 'index-header-filters-form', id: 'index-header-filters-form' do |f| %>
      <div class='index-header-filters-fields-container'>
        <%= f.date_field :slot_date_eq, id: 'index-appointment-date-filter',
                            class: "index-header-search-field #{@q.slot_date_eq ? 'in-use' : ''}",
                            value: @q.slot_date_eq ? @q.slot_date_eq.strftime('%Y-%m-%d') : '',
                            placeholder: t('search-appointment-placeholder') %>

        <%= f.select :slot_agenda_place_id_eq, options_from_collection_for_select(Place.in_organization(current_user.organization), 'id', 'name', @q.slot_agenda_place_id_eq),
                                               { include_blank: t('slots.index_place_filter') },
                                               { class: "form-select index-header-filter-field #{@q.slot_agenda_place_id_eq ? 'in-use' : ''}" } %>

        <%= f.select :slot_agenda_id_eq, options_from_collection_for_select(Agenda.in_organization(current_user.organization), 'id', 'name', @q.slot_agenda_id_eq),
                                         { include_blank: t('index-appointment-agenda-filter') },
                                         { class: "form-select index-header-filter-field #{@q.slot_agenda_id_eq ? 'in-use' : ''}" } %>

        <%= f.select :slot_appointment_type_id_eq, options_from_collection_for_select(AppointmentType.assignable, 'id', 'name', @q.slot_appointment_type_id_eq),
                                                   { include_blank: t('index-slots-appointment-type-filter') },
                                                   { class: "form-select index-header-filter-field #{@q.slot_appointment_type_id_eq ? 'in-use' : ''}" } %>
      </div>
    <% end %>

    <div class='index-header-filters-button-container'>
        <%= button_tag t('filter'), type: 'submit', class: 'index-header-filters-button', form: 'index-header-filters-form' %>

        <% if @q.conditions.any? %>
          <%= button_to "#{t('index-appointment-clear-filters')} (#{@q.conditions.length})", user_appointments_path,
                                                            class: 'index-header-filters-button',
                                                            data: { 'turbo-method': :get } %>
        <% end %>

    </div>
  </div>

  <div class='index-header-controls-container'>
    <div class="index-header-controls-appointments-buttons-wrapper">
      <% if policy(:appointment).new? %>
        <%= button_to t('new_appointment_title'), new_appointment_path,
                                                  class: 'link-to-new-appointment-button',
                                                  data: { 'turbo-method': :get } %>
      <% end %>
    </div>

    <%= button_to t('print_button'), appointments_path(format: :pdf),
                                     data: { 'turbo-method': :get },
                                     form: { target: '_blank' },
                                     class: 'fr-btn' %>
  </div>
</div>



<div class='appointments-container'>


  <div class='index-sorting-tool-container'>
    <div class='index-sorting-tool-title'>
      <%= t('order') %>
    </div>

    <div class='index-sorting-tool-item'>
      <%= sort_link(@q, 'slot_agenda_place_name', t('appointment_place'), default_order: :desc) %>
    </div>

    <div class='index-sorting-tool-item'>
      <%= sort_link(@q, 'slot_date', t('activerecord.attributes.slot.date'), default_order: :desc) %>
    </div>

    <div class='index-sorting-tool-item'>
      <%= sort_link(@q, 'slot_starting_time', t('activerecord.attributes.slot.starting_time'), default_order: :desc) %>
    </div>

    <div class='index-sorting-tool-item'>
      <%= sort_link(@q, 'slot_agenda_name', t('activerecord.models.agenda'), default_order: :desc) %>
    </div>

    <div class='index-sorting-tool-item'>
      <%= sort_link(@q, 'slot_appointment_type_name', t('activerecord.attributes.slot.appointment_type'), default_order: :desc) %>
    </div>

  </div>

  <% if current_page?(user_appointments_path) %>
    <div class="user-appointments-index-title-container">
        <h1><%= @appointments.any? ? t('appointments.index.my_appointments') : t('appointments.index.no_appointments')  %></h1>
    </div>
  <% end %>

  <div class='user-appointments-index-cards-wrapper '>
    <% @appointments.each do |appointment| %>
      <%= render 'shared/appointment_card', appointment: appointment %>
    <% end %>
  </div>

  <%= paginate @appointments %>
</div>

<%= javascript_include_tag 'appointment_index', "data-turbo-track": "reload", defer: true %>
