<tr>
  <% if policy(appointment.convict).show? %>
    <td><%= link_to appointment.convict.name, convict_path(appointment.convict) %></td>
  <% else %>
    <td><%= appointment.convict.name %></td>
  <% end %>
  <td><%= appointment.slot.date.to_fs(:base_date_format) %></td>
  <td><%= appointment.localized_time.to_fs(:time) %></td>
  <td><%= appointment.slot.agenda.place.name %></td>
  <td><%= appointment.slot.agenda.name %></td>
  <td><%= appointment.slot.appointment_type.name %></td>
  <% if current_user.work_at_spip? %>
    <td><%= appointment.user&.name %></td>
  <% end %>
  <td>
    <% if policy(appointment).change_state_old? %>
      <div class='index-card-state-container index-card-state-controls-wrapper'>
        <div class='index-card-state-controls-container'>
          <% if policy(appointment).fulfil_old?%>
            <%= button_to t('activerecord.state_machines.states.fulfiled'), appointment_fulfil_path(appointment),
                                                                            method: :put,
                                                                            class: 'index-appointments-fulfil-button' %>
          <% end %>
          <% if policy(appointment).miss_old? %>
            <%= button_tag t('activerecord.state_machines.states.no_show'), type: 'button',
                                                                            class: 'index-appointments-miss-button',
                                                                            data: { 'micromodal-trigger': "missed-appointment-modal-#{appointment.id}" } %>
          <% end %>
          <% if policy(appointment).excuse_old? %>
            <%= button_to t('activerecord.state_machines.states.excused'), appointment_excuse_path(appointment),
                                                                         method: :put,
                                                                         class: 'index-appointments-excuse-button' %>
          <% end %>
        </div>
        <%= render 'appointments/missed_appointment_modal', apt: appointment %>
      </div>
    <% else %>
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
        <div class='index-card-state-container'>
          <% if %w[fulfiled no_show excused].include?(appointment.state) %>
            <span class="circle-icon icon_<%= appointment.state %> fr-mr-1w"></span>
          <% end %>
          <span class='index-card-state-data'><%= appointment.human_state_name %></span>
        </div>
      </div>
    <% end %>
  </td>
  <td>
    <% if policy(appointment).show? %>
      <%= link_to "Voir", appointment_path(appointment), class: 'index-control fr-text--bold' %>
    <% end %>
    <% if policy(appointment).cancel? %>
      <% if appointment.convict&.can_receive_sms? %>
        <button class="index-control fake-link" data-fr-opened="false" aria-controls="<%= "fr-modal-cancel-apt-#{appointment.id}" %>">
          <%= t('cancel') %>
        </button>
        <%= render 'cancel_appointment_modal', appointment: appointment %>
      <% else %>
        <%= link_to t('cancel'), appointment_cancel_path(appointment),
                      class: 'index-control',
                      data: { 'turbo-confirm': t('cancel_appointment_warning'), "turbo_method": :put } %>
      <% end %>
    <% end %>
    <% if appointment.in_the_future? && policy(appointment).excuse? %>
      <%= link_to t('.excuse'), appointment_excuse_path(appointment),
                                                                  data: {'turbo_method': :put},
                                                                  class: 'index-control' %>
    <% end %>
  </td>
</tr>
