              
<tr>
  <td><%= appointment.convict.name %></td>
  <td><%= appointment.slot.date.to_s(:base_date_format) %></td>
  <td><%= appointment.localized_time.to_s(:time) %></td>
  <td><%= appointment.slot.agenda.place.name %></td>
  <td><%= appointment.slot.agenda.name %></td>
  <td><%= appointment.slot.appointment_type.name %></td>
  <td>
    <% if appointment.in_the_past? && appointment.booked? && policy(appointment).fulfil_old? %>
      <div class='index-card-state-container index-card-state-controls-wrapper'>
        <div class='index-card-state-controls-container'>
          <%= button_to t('activerecord.state_machines.states.fulfiled'), appointment_fulfil_path(appointment),
                                                                          method: :put,
                                                                          class: 'index-appointments-fulfil-button' %>
          <%= button_tag t('activerecord.state_machines.states.no_show'), type: 'button',
                                                                          class: 'index-appointments-miss-button',
                                                                          data: { 'micromodal-trigger': "missed-appointment-modal-#{appointment.id}" } %>
          <%= button_to t('activerecord.state_machines.states.excused'), appointment_excuse_path(appointment),
                                                                         method: :put,
                                                                         class: 'index-appointments-excuse-button' %>
        </div>
        <%= render 'appointments/missed_appointment_modal', apt: appointment %>
      </div>
    <% else %>
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
        <div class='index-card-state-container'>
          <%= fa_icon 'circle', class: "index-appointments-state-icon icon_#{appointment.state}" %>
          <span class='index-card-state-data'><%= appointment.human_state_name %></span>
        </div>
      </div>
    <% end %>
  </td>
  <td>
    <% if policy(:appointment).show? %>
          <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">

      <%= link_to appointment_path(appointment), class: 'appointment-info-link' do %>
        <span class="fr-icon-info-line" aria-hidden="true"></span>
        </div>
      <% end %>
    <% end %>
  </td>
</tr>
