<div class="fr-table fr-table--bordered fr-table--layout-fixed">
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t('activerecord.models.convict', count: 1) %></th>
        <th scope="col"><%= sort_link_with_expandable_arrow('slot_date', t('activerecord.attributes.slot.date')) %></th>
        <th scope="col"><%= sort_link_with_expandable_arrow('slot_starting_time', t('activerecord.attributes.slot.starting_time')) %></th>
        <th scope="col"><%= sort_link_with_expandable_arrow('slot_agenda_place_name', t('activerecord.models.place')) %></th>
        <th scope="col"><%= sort_link_with_expandable_arrow('slot_agenda_name', t('activerecord.models.agenda')) %></th>
        <th scope="col"><%= sort_link_with_expandable_arrow('slot_appointment_type_name', t('activerecord.attributes.slot.appointment_type')) %></th>
        <% if current_user.work_at_spip? %>
          <th><%= t('index-user-filter') %></th>
        <% end %>
        <th scope="col">
          <div class="fr-grid-row fr-grid-row--center">
            <%= t('index-appointment-state') %>
          </div>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <%= render 'shared/appointment_card', appointment: appointment %>
      <% end %>
    </tbody>
  </table>
  <%= paginate @appointments %>
</div>
