<% city_organizations = @convict.city&.organizations&.count %>
<div data-controller="search-cities search-cities-results" data-action="search-cities-results:citySelected->search-cities#clearResults">
  <div class="fr-input-group">
    <label class="fr-label" for="convict_city_id"><%= t('activerecord.attributes.convict.city_id')%></label>
    <input class="fr-input" type="search" name="convict[city_id]" id="convict_city_id" data-search-cities-target="query" data-action="input->search-cities#search">
  </div>
  <div id="search_results" data-search-cities-target="results"></div>
  <p data-search-cities-results-target="selectedCity">
  <% if @convict.city %>
    <strong>Commune sélectionnée : </strong><%= @convict.city.name %>
  <% end %>
  </p>
  <div class="fr-alert fr-alert--error fr-alert--sm" data-search-cities-results-target="organizationsInfo" <%= 'hidden' if !(city_organizations === 1 || city_organizations === 0) %> >
    <p>
    <% if city_organizations === 1 %>
      Attention Mon suivi Justice n’est déployé que pour le <%= @convict.city&.organizations.first.name %>. Vous ne pourrez poursuivre la prise de rendez-vous que pour ce service
    <% elsif city_organizations === 0 %>
      Attention, Mon Suivi Justice n' est déployé dans aucun ressort de cette commune. Vous ne pourrez poursuivre la prise de rendez-vous que pour votre ressort
    <% end %>
    </p>
  </div>
  <input value="" autocomplete="off" type="hidden" value="<%= @convict.city&.id %>" data-search-cities-results-target="hiddenField" name="convict[city_id]">
</div>
