<% invalid = @convict.errors.include?(:base) %>
<div data-controller="search-cities search-cities-results" data-action="search-cities-results:citySelected->search-cities#clearResults" data-search-cities-results-ir-cities-value="<%= ir_available_services(@convict) %>" data-search-cities-results-action-name-value="<%= action_name %>">
  <div class="fr-input-group">
    <label class="fr-label" for="convict_city_id"><%= t('activerecord.attributes.convict.city_id')%></label>
    <input class="fr-input" type="search" placeholder="<%= 'Changer de commune' if @convict.city %>" name="convict[city_id]" id="convict_city_id" data-search-cities-target="query" data-action="input->search-cities#search">
    <% if invalid %>
      <p id="text-input-error-desc-error" class="fr-error-text">
        <%=  @convict.errors.full_messages_for(:base).first %>.
      </p>
    <% end %>
  </div>
  <div id="search_results" data-search-cities-target="results"></div>
  <p data-search-cities-results-target="selectedCity">
    <% if @convict.city %>
      <strong>Commune <%= action_name == 'new' ? 'sélectionnée' : 'actuelle' %>  : </strong><%= @convict.city.name %>
    <% end %>
  </p>
  <div data-search-cities-results-target="organizationsInfo">
    <p>
    </p>
  </div>
  <input autocomplete="off" type="hidden" value="<%= @convict.city&.id %>" data-search-cities-results-target="hiddenField" name="convict[city_id]">
</div>