<div class="fr-grid-row fr-mt-2w">
  <div class="fr-col">
    <div class="fr-table fr-table--bordered fr-table--layout-fixed">
      <table>
        <caption><%= t('show_convict_history_title') %></caption>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Date</th>
            <th scope="col">Evènement</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @history_items.each do |history_item| %>
            <tr>
              <td>
                <% if %w[fulfil_appointment miss_appointment excuse_appointment].include?(history_item.event) %>
                  <div  class='show-history-item-icon text-center'>
                    <span class="circle-icon icon_<%= history_item.event %> fr-mr-1w"></span>
                  </div>
                <% end %>
              </td>
              <td>
                <%= history_item.created_at.strftime('%d/%m/%Y %H:%M') %>
              </td>
              <td>
                <%= t("history_item.#{history_item.event}_title") %> : <%= history_item.content %>
              </td>
              <td>
                <% if history_item.appointment? && policy(history_item.appointment).show? && !current_page?(controller: 'appointments', action: 'show') %>
                  <%= link_to t('see_details'), appointment_path(history_item.appointment), class: '' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>