<div class="fr-grid-row fr-mt-2w">
  <div class="fr-col">
    <div class="fr-table fr-table--bordered fr-table--layout-fixed">
      <table>
        <caption><%= t('show_convict_history_title') %></caption>
        <thead>
          <tr>
            <th scope="col" class="fr-col-1"></th>
            <th scope="col" class="fr-col-3">Date</th>
            <th scope="col">Evènement</th>
            <% if show_actions_link %>
              <th scope="col" class="fr-col-3">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @history_items.each do |history_item| %>
            <tr>
              <td>
                <% if history_item.appointment_completion_event? %>
                  <div  class='show-history-item-icon text-center'>
                    <span class="circle-icon icon_<%= history_item.event %>"></span>
                  </div>
                <% end %>
              </td>
              <td>
                <%= history_item.created_at.strftime('%d/%m/%Y %H:%M') %>
              </td>
              <td>
                <%= t("history_item.#{history_item.event}_title") %> : <%= history_item.content %>
              </td>
              <% if show_actions_link %>
                <td>
                  <% if history_item.appointment? && policy(history_item.appointment).show? %>
                    <%= link_to t('see_details'), appointment_path(history_item.appointment), class: '' %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>