<div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="statistiques">
        <li role="presentation">
            <% tab_index = @global_stats ? '-1' : '1'%>
            <% aria_selected = @global_stats ? 'false' : 'true'%>
            <%= link_to current_organization.name, home_path, id: "tabpanel-404", class:"fr-tabs__tab fr-icon-line-chart-fill fr-tabs__tab--icon-left", tabindex:tab_index, role:"tab", 'aria-selected': aria_selected, 'aria-controls':"tabpanel-404-panel"%>
        </li>
        <li role="presentation">
            <% tab_index = @global_stats ? '1' : '-1'%>
            <% aria_selected = @global_stats ? 'true' : 'false'%>
            <%= link_to t('home.stats_global'), home_path(global_stats: true), id: "tabpanel-405", class:"fr-tabs__tab fr-icon-france-fill fr-tabs__tab--icon-left", tabindex: tab_index, role:"tab", 'aria-selected':aria_selected, 'aria-controls':"tabpanel-405-panel"%>
        </li>
    </ul>
    <% selected = @global_stats ? '' : 'fr-tabs__panel--selected'%>
    <div id="tabpanel-404-panel" class="fr-tabs__panel <%= selected %>" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0" style="display: flex;">
      <div class='home-stats-subsection'>
        <div class='stat-card-container'>
          <p class='stat-card-title'><%= t('home.stats_users') %></p>
          <p class='stat-card-value'><%= data[:users] %></p>
        </div>

        <div class='stat-card-container'>
          <p class='stat-card-title'><%= t('home.stats_convicts') %></p>
          <p class='stat-card-value'><%= data[:convicts] %></p>
        </div>

        <div class='stat-card-container'>
          <p class='stat-card-title'><%= t('home.stats_reminded') %></p>
          <p class='stat-card-value'><%= data[:passed_no_canceled_with_phone] %></p>
        </div>
      </div>

      <div class='home-stats-subsection fr-ml-4w'>
        <p class='stat-card-title'><%= t('home.stats_from_informed') %></p>

        <div class='home-stats-appointment-states'>
          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:fulfiled_percentage] %>%</b> <%= t('home.stats_fulfiled') %></p>
          </div>

          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:excused_percentage] %>%</b> <%= t('home.stats_excused') %></p>
          </div>

          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:no_show_percentage] %>%</b> <%= t('home.stats_no_show') %></p>
          </div>

          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:passed_uninformed_percentage] %>%</b> <%= t('home.stats_passed_booked') %></p>
          </div>
        </div>
      </div>
    </div>
    <% selected = @global_stats ? 'fr-tabs__panel--selected' : ''%>
    <div id="tabpanel-405-panel" class="fr-tabs__panel <%= selected %>" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0" style="display: flex;">
      <div class='home-stats-subsection'>
        <div class='stat-card-container'>
          <p class='stat-card-title'><%= t('home.stats_users') %></p>
          <p class='stat-card-value'><%= data[:users] %></p>
        </div>

        <div class='stat-card-container'>
          <p class='stat-card-title'><%= t('home.stats_convicts') %></p>
          <p class='stat-card-value'><%= data[:convicts] %></p>
        </div>

        <div class='stat-card-container'>
          <p class='stat-card-title'><%= t('home.stats_reminded') %></p>
          <p class='stat-card-value'><%= data[:passed_no_canceled_with_phone] %></p>
        </div>
      </div>

      <div class='home-stats-subsection fr-ml-4w'>
        <p class='stat-card-title'><%= t('home.stats_from_informed') %></p>

        <div class='home-stats-appointment-states'>
          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:fulfiled_percentage] %>%</b> <%= t('home.stats_fulfiled') %></p>
          </div>

          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:excused_percentage] %>%</b> <%= t('home.stats_excused') %></p>
          </div>

          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:no_show_percentage] %>%</b> <%= t('home.stats_no_show') %></p>
          </div>

          <div class='stat-card-container'>
            <p class='home-stat-percentage'><b><%= data[:passed_uninformed_percentage] %>%</b> <%= t('home.stats_passed_booked') %></p>
          </div>
        </div>
      </div>
    </div>
</div>
