<div data-controller="convicts-search">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
          <h2>
            <%= t('home.welcome_title', name: current_user.name(reverse: true) )%>
          </h2>
          <% unless current_user.local_admin? %>
            <p class="fr-mb-0"><%= t('home.local_admin_list', admins: current_user.all_local_admins.pluck(:full_name).to_sentence, count: current_user.all_local_admins.count) %></p>
          <% end %>
        </div>
        <div class="fr-col-12">
          <p>
            <%= t('home.welcome_text')%>
          </p>
        </div>
        <div class="fr-col-6">
          <%= render partial: 'shared/convict_search_form' %>
        </div>
        <div class="fr-col-6">
          <% if policy(:convict).new? %>
            <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get, data: { turbo: false } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-mt-2w">
      <%= turbo_frame_tag "convicts_list" do %>
        <%= render partial: "shared/convicts_list", locals: { convicts: @convicts } %>
      <% end %>
    </div>
  </div>
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-6">
      <% if UserServiceSwitchPolicy.new(current_user, current_user).create? %>
        <%= simple_form_for current_user, html: { class: 'basic-form' } do |f| %>
          <div class="select-organization-container">
            <%= f.association :organization, collection: selectable_organizations_for_update,
                                            wrapper_html: { class: 'select-organization-wrapper' },
                                            input_html: { class: 'form-input select-organization-input' },
                                            label_html: { class: "select-organization-label" }, include_blank: false %>
            <%= f.hidden_field :redirect_to_home, value: true %>
            <%= f.button :submit, switch_organization_submit_text(current_user), class: 'fr-btn fr-btn--secondary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="fr-col-12 fr-mt-4w fr-mb-4w">
    <div class="fr-tabs">
      <ul class="fr-tabs__list" role="tablist" aria-label="statistiques">
        <li role="presentation">
          <button id="tabpanel-404" class="fr-tabs__tab fr-icon-line-chart-fill fr-tabs__tab--icon-left" tabindex="0" role="tab" aria-selected="false" aria-controls="tabpanel-404-panel"><%= current_organization.name %></button>
        </li>
        <li role="presentation">
          <button id="tabpanel-405" class="fr-tabs__tab fr-icon-france-fill fr-tabs__tab--icon-left" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel"><%= t('home.stats_global') %></button>
        </li>
      </ul>
      <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0" style="display: flex;">
        <iframe
          src="<%= MetabaseDashboard.new(dashboard_id: 27, service_id: current_organization.id).iframe_url %>"
          frameborder="0"
          width="100%"
          height="550px"
          allowtransparency
        ></iframe>
      </div>
      <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0" style="display: flex;">
        <iframe
          src="<%= MetabaseDashboard.new(dashboard_id: 28).iframe_url %>"
          frameborder="0"
          width="100%"
          height="550px"
          allowtransparency
        ></iframe>
      </div>
    </div>
  </div>
</div>
