<div data-controller="convicts-search">
  <div class="fr-grid-row">
    <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12">
        <h2>
          <%= t('home.welcome_title', name: current_user.name(reverse: true) )%>
        </h2>
        </div>
        <div class="fr-col-12">
          <p>
            <%= t('home.welcome_text')%>
          </p>
        </div>
        <div class="fr-col-6">
          <%= form_with url: convicts_path, method: :get, data: { turbo_frame: "convicts_list", 
                                                                  action: "keyup->convicts-search#triggerSearch",
                                                                  convicts_search_target: "searchForm" }, 
                                                                  id: "convicts_search_form" do |form| %>
            <div class="fr-search-bar" id="header-search" role="search">
              <%= form.label'convicts_search_field', t('home.form_label'), class: 'fr-label' %>
              <%= form.search_field :q, placeholder: "Rechercher un probationnaire", id: "convicts_search_field", class: 'fr-input', data: { convicts_search_target: "searchField" } %>
              <button class="fr-btn" title="<%= t('home.button_label') %>">
                <%= t('home.button_label') %>
              </button>
            </div>
          <% end %>
        </div>
        <div class="fr-col-6">
          <% if policy(:convict).new? %>
            <%= button_to t('new_convict_title'), new_convict_path, class: 'fr-btn', method: :get %>
          <% end %>
        </div>
      </div>
    </div>
  </div>




  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-10 fr-col-lg-8 fr-mt-2w">
      <%= turbo_frame_tag "convicts_list" do %>
        <%= render partial: "shared/convicts_list", locals: { convicts: @convicts } %>
      <% end %>
    </div>
  </div>




  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-6">
      <% if UserServiceSwitchPolicy.new(current_user, nil).create? %>
        <%= simple_form_for current_user, html: { class: 'basic-form' } do |f| %>
          <div class="select-organization-container">
            <%= f.association :organization, collection: current_user.headquarter.organizations,
                                            wrapper_html: { class: 'select-organization-wrapper' },
                                            input_html: { class: 'form-input select-organization-input' },
                                            label_html: { class: "select-organization-label" }, include_blank: false %>
            <%= f.button :submit, t('home.select_organization'), class: 'fr-btn fr-btn--secondary' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="fr-col-12 fr-mt-4w fr-mb-4w">
    <%= render 'home_stats', data: @stats, title: t('home.stats_title') %>
  </div>
</div>
