<div class='home-wrapper'>
  <div class='home-container'>
    <div class='home-convict-search-container'>
      <p class='home-convict-search-title'><%= t('home_find_convict') %></p>
      <div class='home-search-field-container'>
        <%= select_tag '', options_from_collection_for_select(@convicts, :profile_path, 'name'),
                           id: 'home-search-field',
                           style: "width: 100%",
                           include_blank: true %>
      </div>
    </div>

    <div class='home-controls-container'>
      <% if policy(:appointment).new? %>
        <%= button_to t('home_new_appointment'), new_appointment_path,
                                                 class: 'home-control',
                                                 method: :get %>
      <% end %>

      <% if policy(:convict).new? %>
        <%= button_to t('home_new_convict'), new_convict_path, class: 'home-control', method: :get %>
      <% end %>
    </div>

    <div class='home-custom-links-wrapper'>
      <% if policy(:appointment).agenda_jap? || policy(:appointment).agenda_spip?  %>
        <div class='home-custom-links-container'>
          <div class='home-custom-links'>
            <% if policy(:appointment).agenda_jap? %>
              <%= button_to t('home_bex_jap'), agenda_jap_path,
                                               class: 'home-agenda-link',
                                               method: :get %>
            <% end %>

            <% if policy(:appointment).agenda_spip? %>
              <%= button_to t('home_bex_spip'), agenda_spip_path,
                                                class: 'home-agenda-link',
                                                method: :get %>
            <% end %>

            <% if policy(:appointment).index_today? %>
              <%= button_to t('home_today_appointments'), today_appointments_path,
                                                          class: 'home-agenda-link',
                                                          method: :get %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if current_user.admin? %>
    <%= render 'shared/data_card', data: @stats %>
  <% end %>
</div>
