<div class='bex-agendas-container'>
  <div class='bex-agendas-tools-container'>
    <%= button_to t('print_button'), 'fake_link',
                                      class: 'bex-print-button',
                                      onclick: 'window.print();return false;'%>
  </div>

  <div class='bex-agendas-date-container'>
    <div class='bex-date-title-container'>
      <%= t('bex_spip_appointments_title') %>
    </div>
    <div class='bex-date-select-container'>
      <%= form_tag agenda_spip_path, method: 'get' do %>
        <%= select_tag :date, options_for_select(formated_month_for_select(six_next_months), params[:date]),
                               id: 'spip-appointments-month-select',
                               class: 'form-select form-text-input spip-date-select',
                               onchange: 'this.form.submit()' %>
      <% end %>
    </div>
  </div>

  <% if @agenda.nil? %>
    <p class='bex-agenda-spip-no-agenda'><%= t('bex_spip_no_agenda_available') %></p>
  <% else %>
    <% open_days_for_the_month(@current_date).each do |day| %>
      <% days_appointments = appointments_for_a_day(@appointments, day) %>
      <% next if @agenda.available_slots_hours(day).empty? %>

      <div class='bex-agenda-container'>
        <div class='bex-agenda-header spip-agenda-header'>
          <div class='bex-agenda-header-title'>
            <%= day %>
          </div>
        </div>

        <div class='bex-agenda-table'>
          <div class='bex-agenda-table-header bex-agenda-line'>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_hour') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_last_name') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_first_name') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_prosecutor') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_origin') %>
            </div>
          </div>

          <% @agenda.available_slots_hours(day).each do |hour| %>
            <% appointment = appointment_of_the_hour(days_appointments, hour) %>
            <div class='bex-agenda-line'>
              <div class='bex-agenda-column'>
                <%= hour %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointment&.convict&.last_name&.upcase %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointment&.convict&.first_name %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointment&.convict&.prosecutor_number %>
              </div>
              <div class='bex-agenda-column'>
                <% if appointment.present? %>
                  <%= t("activerecord.attributes.appointment.origin_departments.#{appointment.origin_department}") %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
