<%= image_tag wicked_pdf_asset_base64('logo_msj.svg') %>
<h1 class='pdf-bex-title'><%= t('pdf.bex-jap.title') %></h1>
<div class='bex-agenda-date'><%= (I18n.l date, format: '%B %Y').capitalize %> - <%= @place.name %> - <%= @agenda.name %></div>
<% if @agenda.nil? %>
  <p class='bex-agenda-spip-no-agenda'><%= t('bex.jap.no_agenda_available') %></p>
<% else %>
  <% open_days_for_the_month(@current_date).each do |day| %>
    <% next if @agenda.slots_for_date(day, @appointment_type).count == 0 %>
    <div class='bex-agenda-header jap-agenda-header'>
      <div class='bex-agenda-header-title'>
        <%= day %>
      </div>
    </div>
    <div class='bex-agenda-container'>
      <div class='bex-agenda-table'>
        <div class='bex-agenda-table-header bex-agenda-line'>
          <div class='bex-agenda-header-title bex-agenda-small-column'>
            <%= t('bex.jap.header_hour') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('activerecord.attributes.convict.name') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex.jap.header_prosecutor') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex.jap.header_origin') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex.jap.header_role') %>
          </div>
          <% @extra_fields.each do |extra_field| %>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= extra_field.name %>
            </div>
          <% end %>
        </div>
        <% @agenda.slots_for_date(day, @appointment_type).each do |slot| %>
          <% appointments = slot.appointments.active %>
          <% slot.real_capacity.times do |i| %>
            <div class='bex-agenda-line'>
              <div class='bex-agenda-small-column'>
                <% if i == 0 %>
                  <%= slot.localized_time.to_fs(:lettered) %>
                <% end %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointments[i]&.convict&.name %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointments[i]&.prosecutor_number %>
              </div>
              <div class='bex-agenda-column'>
                <% if appointments[i].present? && appointments[i].creating_organization.present? %>
                  <%= appointments[i].creating_organization.name %>
                <% elsif appointments[i].present? && appointments[i].inviter_user_id.present? %>
                  <% user = User.find(appointments[i].inviter_user_id) %>
                  <%= user.organization.name %>
                <% end %>
              </div>
              <div class='bex-agenda-column'>
                <% if appointments[i].present? %>
                  <% if appointments[i].origin_department.present? %>
                    <%= t("activerecord.attributes.appointment.origin_departments.#{appointments[i].origin_department}") %>
                  <% elsif appointments[i].inviter_user_id.present? %>
                    <% user = User.find(appointments[i].inviter_user_id) %>
                    <%= t("activerecord.attributes.user.user_roles.#{user.role}") %>
                  <% end %>
                <% end %>
              </div>
              <% @extra_fields.each do |extra_field| %>
                <div class="bex-agenda-column">
                  <%= display_extra_field(extra_field, appointments[i]) %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
