<div class='bex-agendas-container'>
  <div class='bex-agendas-tools-container'>
    <%= button_to t('print_button'), agenda_spip_path(format: :pdf),
                                     method: :get,
                                     params: {date: params[:date]},
                                     form: { target: '_blank' },
                                     class: 'bex-print-button' %>
  </div>

  <div class='bex-agendas-date-container'>
    <div class='bex-date-title-container'>
      <%= t('bex_spip_appointments_title') %>
    </div>
    <div class='bex-date-select-container'>
      <%= form_tag agenda_spip_path, method: 'get' do %>
        <%= select_tag :date, options_for_select(formated_month_for_select(six_next_months), params[:date]),
                               id: 'spip-appointments-month-select',
                               class: 'form-select form-text-input spip-date-select',
                               onchange: 'this.form.submit()' %>
      <% end %>
    </div>
  </div>

  <% if @agenda.nil? %>
    <p class='bex-agenda-spip-no-agenda'><%= t('bex_spip_no_agenda_available') %></p>
  <% else %>
    <% open_days_for_the_month(@current_date).each do |day| %>
      <% next if @agenda.slots_for_date(day, @appointment_type).count == 0 %>

      <div class='bex-agenda-container'>
        <div class='bex-agenda-header spip-agenda-header'>
          <div class='bex-agenda-header-title'>
            <%= day %>
          </div>
        </div>

        <div class='bex-agenda-table'>
          <div class='bex-agenda-table-header bex-agenda-line'>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_hour') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_last_name') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_first_name') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_prosecutor') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex_jap_agenda_header_origin') %>
            </div>
            <% if current_user.work_at_bex? || current_user.admin? %>
              <div class='bex-agenda-header-title bex-agenda-column'>
                <%= t('bex_jap_agenda_header_case_prepared') %>
              </div>
            <% end %>
          </div>

          <% @agenda.slots_for_date(day, @appointment_type).each do |slot| %>
            <% appointments = slot.appointments.active %>
            <% slot.capacity.times do |i| %>
              <div class='bex-agenda-line'>
                <div class='bex-agenda-column'>
                  <% if i == 0 %>
                    <%= slot.starting_time.to_s(:lettered) %>
                  <% end %>
                </div>
                <div class='bex-agenda-column'>
                  <% unless appointments[i].nil? %>
                    <%= link_to convict_path(appointments[i]&.convict), class: 'index-control' do %>
                      <%= appointments[i]&.convict&.last_name&.upcase %>
                    <% end %>
                  <% end %>
                </div>
                <div class='bex-agenda-column'>
                  <%= appointments[i]&.convict&.first_name %>
                </div>
                <div class='bex-agenda-column'>
                  <%= appointments[i]&.prosecutor_number %>
                </div>
                <div class='bex-agenda-column'>
                  <% if appointments[i].present? %>
                    <%= t("activerecord.attributes.appointment.origin_departments.#{appointments[i].origin_department}") %>
                  <% end %>
                </div>
                <% if current_user.work_at_bex? || current_user.admin? %>
                  <div class='bex-agenda-column'>
                    <% if appointments[i].present? %>
                      <%= form_tag appointment_prepare_path(appointments[i]), method: 'put', class: 'bex-agenda-case-prepared-form' do %>
                        <%= check_box_tag "case-prepared-#{appointments[i].id}",
                                          true,
                                          appointments[i].case_prepared,
                                          class: 'bex-agenda-case-prepared-checkbox',
                                          onchange: 'this.form.submit()' %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
