<%= image_tag wicked_pdf_asset_base64('logo_msj.svg') %>
<h1 class='pdf-bex-title'><%= t('pdf.bex-sap-ddse.title') %></h1>
<div class='bex-agenda-date'><%= date.strftime('%d/%m/%Y') %></div>
<% if @agendas.empty? %>
  <p class='bex-agenda-spip-no-agenda'><%= t('bex.sap_ddse.no_agenda_available') %></p>
<% else %>
  <% @agendas.each_with_index do |agenda, index| %>
    <% unless agenda.slots_for_date(@current_date, @appointment_type).count.zero? %>
      <div class='bex-agenda-container'>
        <div class='bex-agenda-header jap-agenda-header<%= index+1%>'>
          <div class='bex-agenda-header-title'>
            <%= agenda.name %>
          </div>
        </div>
        <div class='bex-agenda-table'>
          <div class='bex-agenda-table-header bex-agenda-line'>
            <div class='bex-agenda-header-title bex-agenda-small-column'>
              <%= t('bex.jap.header_hour') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('activerecord.attributes.convict.name') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex.jap.header_prosecutor') %>
            </div>
            <div class='bex-agenda-header-title bex-agenda-column'>
              <%= t('bex.jap.header_origin') %>
            </div>
          </div>
          <% agenda.slots_for_date(@current_date, @appointment_type).each do |slot| %>
            <% appointments = slot.appointments.active %>
            <% slot.real_capacity.times do |i| %>
              <div class='bex-agenda-line'>
                <div class='bex-agenda-small-column'>
                  <% if i == 0 %>
                    <%= slot.localized_time.to_fs(:lettered) %>
                  <% end %>
                </div>
                <div class='bex-agenda-column'>
                  <%= appointments[i]&.convict&.name %>
                </div>
                <div class='bex-agenda-column'>
                  <%= appointments[i]&.prosecutor_number %>
                </div>
                <div class='bex-agenda-column'>
                  <% if appointments[i].present? && appointments[i].inviter_user_id.present? %>
                    <% user = User.find(appointments[i].inviter_user_id) %>
                    <%= user.organization.name %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
