<div class='bex-agendas-container'>
  <div class='bex-agendas-date-container'>
    <div class='bex-date-title-container'>
      <%= t('bex.sap_ddse.appointments_title') %>
    </div>
    <div class='bex-filters-container'>
      <%= form_tag agenda_sap_ddse_path, method: 'get' do %>
        <div class="bex-form-input-wrapper">
          <%= label_tag 'date', 'Date :' %>
          <%= select_tag :date, options_for_select(formated_month_for_select(six_next_months), params[:date]),
                                id: 'spip-appointments-month-select',
                                class: 'form-select form-text-input sap_ddse-date-select',
                                onchange: 'this.form.submit()' %>
        </div>
        <% if @places.count > 0 %>
          <div class="bex-form-input-wrapper">
            <%= label_tag 'place_id', 'Lieu :' %>
            <%= select_tag :place_id, options_from_collection_for_select(@places, 'id', 'name', @place.id), class: 'form-select form-text-input spip-place-select', onchange: 'this.form.submit()' %>
          </div>
        <% end %>
        <% if @agendas.count > 1 %>
          <div class="bex-form-input-wrapper">
            <%= label_tag 'agenda_id', 'Agenda :' %>
            <%= select_tag :agenda_id, options_from_collection_for_select(@agendas, 'id', 'name', @agenda.id), class: 'form-select form-text-input spip-agenda-select', onchange: 'this.form.submit()' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @agenda.nil? %>
    <p class='bex-agenda-sap_ddse-no-agenda'><%= t('bex.sap_ddse.no_agenda_available') %></p>
  <% else %>
    <% open_days_for_the_month(@current_date).each do |day| %>
      <% next if @agenda.slots_for_date(day, @appointment_type).count == 0 %>
      <div class="fr-table fr-table--bordered fr-table--layout-fixed">
        <table class="agenda-jap-table">
          <caption class='sap_ddse-agenda-header'><%= day.to_fs %></caption>
          <thead>
            <th scope="col">
              <%= t('bex.jap.header_hour') %>
            </th>
            <th scope="col">
              <%= t('activerecord.attributes.convict.name') %>
            </th>
            <th scope="col">
              <%= t('bex.jap.header_prosecutor') %>
            </th scope="col">
            <th scope="col">
              <%= t('bex.jap.header_origin') %>
            </th>
            <th scope="col">
              <%= t('bex.jap.header_role') %>
            </th>
          </thead>
          <tbody>
            <% @agenda.slots_for_date(day, @appointment_type).each do |slot| %>
              <% appointments = slot.appointments.active %>
              <% slot.real_capacity.times do |i| %>
                <tr>
                  <td>
                    <% if i == 0 %>
                      <%= slot.localized_time.to_fs(:lettered) %>
                    <% end %>
                  </td>
                  <td>
                    <% if appointments[i].present? && policy(appointments[i]&.convict).show? %>
                      <%= link_to convict_path(appointments[i]&.convict), class: 'index-control' do %>
                        <%= appointments[i]&.convict&.name %>
                      <% end %>
                    <% elsif appointments[i].present? %>
                      <%= appointments[i]&.convict&.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= appointments[i]&.prosecutor_number %>
                  </td>
                  <td>
                    <% if appointments[i].present? && appointments[i].creating_organization.present? %>
                      <%= appointments[i].creating_organization.name %>
                    <% elsif appointments[i].present? && appointments[i].inviter_user_id.present? %>
                      <% user = User.find(appointments[i].inviter_user_id) %>
                      <%= user.organization.name %>
                    <% end %>
                  </td>
                  <td>
                    <% if appointments[i].present? %>
                      <% if appointments[i].origin_department.present? %>
                        <%= t("activerecord.attributes.appointment.origin_departments.#{appointments[i].origin_department}") %>
                      <% elsif appointments[i].inviter_user_id.present? %>
                        <% user = User.find(appointments[i].inviter_user_id) %>
                        <%= t("activerecord.attributes.user.user_roles.#{user.role}") %>
                      <% end %>
                    <% end %>
                  </td>
                </div>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>