<div class='bex-agendas-container'>
  <div class='bex-agendas-tools-container'>
    <%= button_to t('print_button'), 'fake_link',
                                      class: 'bex-print-button',
                                      onclick: 'window.print();return false;'%>
  </div>

  <% if @agendas.empty? %>
    <p class='bex-agenda-spip-no-agenda'><%= t('bex_jap_no_agenda_available') %></p>
  <% else %>
    <div class='bex-agendas-date-container'>
      <div class='bex-date-title-container'>
        <%= t('bex_jap_agendas_title') %>
      </div>
      <div class='bex-date-select-container'>
        <%= form_tag agenda_jap_path, method: 'get' do %>
          <%= select_tag :date, options_for_select(formated_dates_for_select(current_organization.ten_next_days_with_slots(@appointment_type)), params[:date]),
                                id: 'jap-appointments-date-select',
                                class: 'form-select form-text-input jap-date-select',
                                onchange: 'this.form.submit()' %>
        <% end %>
      </div>
    </div>

    <% @agendas.each_with_index do |agenda, index| %>
      <% unless agenda.slots_for_date(@current_date, @appointment_type).count.zero? %>
        <div class='bex-agenda-container'>
          <div class='bex-agenda-header jap-agenda-header<%= index+1%>'>
            <div class='bex-agenda-header-title'>
              <%= agenda.name %>
            </div>
          </div>

          <div class='bex-agenda-table'>
            <div class='bex-agenda-table-header bex-agenda-line'>
              <div class='bex-agenda-header-title bex-agenda-column'>
                <%= t('bex_jap_agenda_header_hour') %>
              </div>
              <div class='bex-agenda-header-title bex-agenda-column'>
                <%= t('bex_jap_agenda_header_last_name') %>
              </div>
              <div class='bex-agenda-header-title bex-agenda-column'>
                <%= t('bex_jap_agenda_header_first_name') %>
              </div>
              <div class='bex-agenda-header-title bex-agenda-column'>
                <%= t('bex_jap_agenda_header_prosecutor') %>
              </div>
              <div class='bex-agenda-header-title bex-agenda-column'>
                <%= t('bex_jap_agenda_header_origin') %>
              </div>
            </div>

            <% agenda.slots_for_date(@current_date, @appointment_type).each do |slot| %>
              <% appointments = slot.appointments.active %>
              <% slot.capacity.times do |i| %>
                <div class='bex-agenda-line'>
                  <div class='bex-agenda-column'>
                    <% if i == 0 %>
                      <%= slot.starting_time.to_s(:lettered) %>
                    <% end %>
                  </div>
                  <div class='bex-agenda-column'>
                    <%= appointments[i]&.convict&.last_name&.upcase %>
                  </div>
                  <div class='bex-agenda-column'>
                    <%= appointments[i]&.convict&.first_name %>
                  </div>
                  <div class='bex-agenda-column'>
                    <%= appointments[i]&.convict&.prosecutor_number %>
                  </div>
                  <div class='bex-agenda-column'>
                    <% if appointments[i].present? %>
                      <%= t("activerecord.attributes.appointment.origin_departments.#{appointments[i].origin_department}") %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
