<%= image_tag wicked_pdf_asset_base64('logo_msj.svg') %>
<h1 class='pdf-title'><%= t('pdf.bex-spip.title') %></h1>

<% if @agenda.nil? %>
  <p class='bex-agenda-spip-no-agenda'><%= t('bex_spip_no_agenda_available') %></p>
<% else %>
  <% open_days_for_the_month(@current_date).each do |day| %>
    <% next if @agenda.slots_for_date(day, @appointment_type).count == 0 %>

    <div class='bex-agenda-container'>
      <div class='bex-agenda-header spip-agenda-header'>
        <div class='bex-agenda-header-title'>
          <%= day %>
        </div>
      </div>

      <div class='bex-agenda-table'>
        <div class='bex-agenda-table-header bex-agenda-line'>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex_jap_agenda_header_hour') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex_jap_agenda_header_last_name') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex_jap_agenda_header_first_name') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex_jap_agenda_header_prosecutor') %>
          </div>
          <div class='bex-agenda-header-title bex-agenda-column'>
            <%= t('bex_jap_agenda_header_origin') %>
          </div>
        </div>

        <% @agenda.slots_for_date(day, @appointment_type).each do |slot| %>
          <% appointments = slot.appointments.active %>
          <% slot.capacity.times do |i| %>
            <div class='bex-agenda-line'>
              <div class='bex-agenda-column'>
                <% if i == 0 %>
                  <%= slot.starting_time.to_s(:lettered) %>
                <% end %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointments[i]&.convict&.last_name&.upcase %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointments[i]&.convict&.first_name %>
              </div>
              <div class='bex-agenda-column'>
                <%= appointments[i]&.prosecutor_number %>
              </div>
              <div class='bex-agenda-column'>
                <% if appointments[i].present? %>
                  <%= t("activerecord.attributes.appointment.origin_departments.#{appointments[i].origin_department}") %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
