<div class="fr-grid-row fr-grid-row--right fr-mb-2w">
  <ul class="fr-btns-group fr-btns-group--inline-lg">
    <% unless current_user.organization.jap_modal_content.empty? %>
      <% if current_user.admin? || current_user.local_admin? || current_user.work_at_bex? || current_user.work_at_sap? %>
        <section class='bex-agendas-modal-trigger-container'>
          <%= button_tag(t('new-appointment-jap-agendas'), type: 'button',
                                                             class: 'fr-btn fr-btn--secondary',
                                                             data: { :'micromodal-trigger' => 'jap-agendas-modal' }) %>
        </section>
        <%= render partial: 'shared/jap_agendas_modal', locals: { jap_modal_content: current_user.organization.jap_modal_content } %>
      <% end %>
    <% end %>
    <% if !@agenda.nil? %>
      <%= button_to t('print_button'), agenda_jap_path(format: :pdf),
                                     method: :get,
                                     params: { date: params[:date], agenda_id: @agenda.id, place_id: @place.id }, 
                                     form: { target: '_blank' },
                                     class: 'fr-btn' %>
    <% end %>
  </ul>
</div>
<div>
  <div class='bex-agendas-date-container'>
    <div class='bex-date-title-container'>
      <%= t('bex.jap.agendas_title') %>
    </div>
    <div class='bex-filters-container'>
      <%= form_tag agenda_jap_path, method: 'post' do %>
        <div class="bex-form-input-wrapper">
          <%= label_tag 'month', 'Mois :' %>
          <%= select_tag :date, options_for_select(formated_month_for_select(six_next_months), params[:date]),
                                  id: 'jap-appointments-month-select',
                                  class: 'fr-select',
                                  onchange: 'this.form.submit()' %>
        </div>
        <% if @agendas.count > 1 %>
          <div class="bex-form-input-wrapper">
            <%= label_tag 'agenda_id', 'Agenda :' %>
            <%= select_tag :agenda_id, options_from_collection_for_select(@agendas, 'id', 'name', @agenda.id), class: 'fr-select', onchange: 'this.form.submit()' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @agendas.empty? %>
    <p class='bex-agenda-spip-no-agenda'><%= t('bex.jap.no_agenda_available') %></p>
  <% else %>
    <% open_days_for_the_month(@current_date).each do |day| %>
      <% slots_for_date = @agenda.slots_for_date(day, @appointment_type) %>
      <% next if slots_for_date.count == 0 %>
      <div class="fr-table fr-table--bordered fr-table--layout-fixed">
        <table class="agenda-jap-table">
          <caption class='jap-agenda-header'><%= day.to_fs %></caption>
          <thead>
            <th scope="col">
              <%= t('bex.jap.header_hour') %>
            </th>
            <th scope="col">
              <%= t('activerecord.attributes.convict.name') %>
            </th>
            <th scope="col">
              <%= t('bex.jap.header_prosecutor') %>
            </th scope="col">
            <th scope="col">
              <%= t('bex.jap.header_origin') %>
            </th>
            <th scope="col">
              <%= t('bex.jap.header_role') %>
            </th>
            <% @extra_fields&.each do |extra_field| %>
              <th scope="col">
                <%= extra_field.name %>
              </th>
            <% end %>
          </thead>
          <tbody>
            <% slots_for_date.each do |slot| %>
              <% appointments = slot.appointments.active %>
              <% slot.real_capacity.times do |i| %>
                <tr>
                  <td>
                    <% if i == 0 %>
                      <%= slot.localized_time.to_fs(:lettered) %>
                    <% end %>
                  </td>
                  <td>
                    <% if appointments[i].present? && policy(appointments[i]&.convict).show? %>
                      <%= link_to convict_path(appointments[i]&.convict), class: 'index-control' do %>
                        <%= appointments[i]&.convict&.name %>
                      <% end %>
                    <% elsif appointments[i].present? %>
                      <%= appointments[i]&.convict&.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= appointments[i]&.prosecutor_number %>
                  </td>
                  <td>
                    <% if appointments[i].present? && appointments[i].creating_organization.present? %>
                      <%= appointments[i].creating_organization.name %>
                    <% elsif appointments[i].present? && appointments[i].inviter_user_id.present? %>
                      <% user = User.find(appointments[i].inviter_user_id) %>
                      <%= user.organization.name %>
                    <% end %>
                  </td>
                  <td>
                    <% if appointments[i].present? %>
                      <% if appointments[i].origin_department.present? %>
                        <%= t("activerecord.attributes.appointment.origin_departments.#{appointments[i].origin_department}") %>
                      <% elsif appointments[i].inviter_user_id.present? %>
                        <% user = User.find(appointments[i].inviter_user_id) %>
                        <%= t("activerecord.attributes.user.user_roles.#{user.role}") %>
                      <% end %>
                    <% end %>
                  </td>
                  <% @extra_fields&.each do |extra_field| %>
                    <% if extra_field.appointment_update? && appointments[i].present? %>
                      <th data-controller="table-update-field">
                        <input data-table-update-field-target="inputField" data-action="table-update-field#update" data-appointment="<%= appointments[i].id %>" data-extra-field="<%= extra_field.id %>"
                          class="fr-input" type="<%= extra_field.data_type %>" value="<%= extra_field.appointment_extra_fields_for_appointment(appointments[i].id)&.value if appointments[i].present? %>" />
                      </td>
                    <% else %>
                      <td>
                        <%= display_extra_field(extra_field, appointments[i]) %>
                      </td>
                    <%end%>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
