<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Rapport d'import SRJ dans msj :</h1>
    <ul>
          <% if @csv_errors.present? %>
          <h1><%= @csv_errors.length %> erreurs de syntaxe dans le fichier :</h1>
          <% @csv_errors.each do |error| %>
              <li style="color: red"><%= error %></li>
          <% end %>
        <% end %>
        <% if @import_errors.present? %>
          <h1><%= @import_errors.length %> erreurs détectées :</h1>
          <% @import_errors.each do |error| %>
              <li style="color: red"><%= error %></li>
          <% end %>
        <% end %>
        <% if @import_successes.present? %>
          <h1><%= @import_successes.length %> succès :</h1>
          <% @import_successes.each do |success| %>
              <li><%= success %></li>
          <% end %>
        <% end %>
    </ul>
  </body>
</html>