<div class="fr-table fr-table--bordered fr-table--layout-fixed">
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t('activerecord.models.convict', count: 1) %></th>
        <th scope="col"><%= past ? 'Date de décision' : 'Date de demande' %></th>
        <% if past %>
          <th scope="col">Status</th>
        <% end %>
        <th scope="col">Services</th>
      </tr>
    </thead>
    <tbody>
      <% divestments.each do |divestment| %>
        <tr>
          <td>
            <% if policy(divestment.convict).show? %>
                <%= link_to divestment.convict.name, convict_path(divestment.convict), class: 'index-control', data: { turbo: false } %>
            <% else %>
                <%= divestment.convict.name %>
            <% end %>
          </td>
          <td><%= past ? divestment.decision_date&.strftime("%d/%m/%Y") : divestment.created_at.strftime("%d/%m/%Y") %></td>
          <% if past %>
            <td>
              <% badge_class = case divestment.state
                              when "accepted", "auto_accepted" then "fr-badge--success"
                              when "ignored" then "fr-badge--new"
                              when "refused" then "fr-badge--error"
                              else ""
                              end %>
              <p class="fr-my-0-5v fr-badge fr-badge--no-icon <%= badge_class %> hyphens-auto"><%= divestment.human_state_name %></p>
            </td>
          <% end %>
          <td>
            <% divestment.organization_divestments.each do |organization_divestment| %>
              <% badge_class = case organization_divestment.state
                              when "accepted", "auto_accepted" then "fr-badge--success"
                              when "ignored" then "fr-badge--new"
                              when "refused" then "fr-badge--error"
                              else ""
                              end %>
              <% od_id = organization_divestment.id %>
              <p class="fr-my-0-5v fr-badge fr-badge--no-icon <%= badge_class %>" aria-describedby="tooltip-od-<%= od_id %>" id="link-od-<%= od_id %>"><%= organization_divestment.organization_name %></p>
              <span class="fr-tooltip fr-placement" id="tooltip-od-<%= od_id %>" role="tooltip" aria-hidden="true"><%= comment_text(organization_divestment.comment) %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate divestments %>
