<div class="fr-grid-row fr-grid-row--left fr-grid-row--center fr-grid-row--gutters">
  <div class="col">
    <div class="fr-table fr-table--bordered fr-table--layout-fixed">
      <table>
        <thead>
          <tr>
            <th scope="col"><%= t('activerecord.models.convict', count: 1) %></th>
            <th scope="col"><%= past ? 'Date de décision' : 'Date de demande' %></th>
            <th scope="col">Service demandeur</th>
            <% if past %>
              <th scope="col">Status du dessaisissement</th>
            <% end %>
            <th scope="col">Services</th>
            <% if past %>
              <th scope="col">Votre décision</th>
              <th scope="col">Comment</th>
            <% else %>
              <th scope="col">Actions</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% organization_divestments.each do |organization_divestment| %>
            <tr>
              <td>
                <% if policy(organization_divestment.convict).show? %>
                    <%= link_to organization_divestment.convict.name, convict_path(organization_divestment.convict), class: 'index-control', data: { turbo: false } %>
                <% else %>
                    <%= organization_divestment.convict.name %>
                <% end %>
              </td>
              <td><%= past ? organization_divestment.decision_date&.strftime("%d/%m/%Y") : organization_divestment.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= organization_divestment.source.name %></td>
              <% if past %>
                <td>
                  <% badge_class = case organization_divestment.divestment.state
                                  when "accepted", "auto_accepted" then "fr-badge--success"
                                  when "ignored" then "fr-badge--new"
                                  when "refused" then "fr-badge--error"
                                  else ""
                                  end %>
                  <p class="fr-badge fr-my-0-5v fr-badge--no-icon <%= badge_class %> hyphens-auto"><%= organization_divestment.divestment.human_state_name %></p>
                </td>
              <% end %>
              <td>
                <% organization_divestment.divestment.organization_divestments.each do |other_organizations_divestment| %>
                  <% badge_class = case other_organizations_divestment.state
                                  when "accepted", "auto_accepted" then "fr-badge--success"
                                  when "ignored" then "fr-badge--new"
                                  when "refused" then "fr-badge--error"
                                  else ""
                                  end %>
                  <% ood_id = other_organizations_divestment.id %>
                  <p class="fr-my-0-5v fr-badge fr-badge--no-icon <%= badge_class %> hyphens-auto" aria-describedby="tooltip-ood-<%= ood_id %>" id="link-ood-<%= ood_id %>"><%= other_organizations_divestment.organization_name %></p>
                  <% if other_organizations_divestment.answered? %>
                    <span class="fr-tooltip fr-placement" id="tooltip-ood-<%= ood_id %>" role="tooltip" aria-hidden="true"><%= comment_text(other_organizations_divestment.comment) %></span>
                  <% end %>
                <% end %>
              </td>
              <% if past %>
                <td>
                  <% badge_class = case organization_divestment.state
                                  when "accepted", "auto_accepted" then "fr-badge--success"
                                  when "ignored" then "fr-badge--new"
                                  when "refused" then "fr-badge--error"
                                  else ""
                                  end %>
                  <p class="fr-my-0-5v fr-badge fr-badge--no-icon <%= badge_class %> hyphens-auto"><%= organization_divestment.human_state_name %></p>
                </td>
                <td>
                  <%= comment_text(organization_divestment.comment) %>
                </td>
              <% else %>
                <td>
                  <% if policy(organization_divestment).edit? %>
                    <div class="col-fr">
                      <%= link_to t('answer'), edit_organization_divestment_path(organization_divestment), class: 'slots-index-control' %>
                    </div>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate organization_divestments %>
