<div class="fr-grid-row fr-grid-row--left fr-grid-row--middle">
  <h3 class="fr-mr-2w"><%= t('.incoming_divestment_requests') %></h3>
</div>
<div class="fr-tabs">
  <ul class="fr-tabs__list" role="tablist" aria-label="divestments-state">
    <li role="presentation">
      <button id="tabpanel-404" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="<%= !params[:od_display_past_tab] %>" aria-controls="tabpanel-404-panel"><%= t('.current') %></button>
    </li>
    <li role="presentation">
      <button id="tabpanel-405" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="<%= params[:od_display_past_tab] %>" aria-controls="tabpanel-405-panel"><%= t('.past') %></button>
    </li>
  </ul>
  <div id="tabpanel-404-panel" class="fr-tabs__panel <%= !params[:od_display_past_tab] ? "fr-tabs__panel--selected" : "" %> role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
    <%= render 'organization_divestments_table', organization_divestments: current_orga_divestments, past: false %>
  </div>
  <div id="tabpanel-405-panel" class="fr-tabs__panel <%= params[:od_display_past_tab] ? "fr-tabs__panel--selected" : "" %>" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0">
    <%= render 'organization_divestments_table', organization_divestments: past_orga_divestments, past: true %>
  </div>
</div>
