<h3 class='form-title'>Décision concernant le dessaisissement de <%= @organization_divestment.convict_name %></h3>
<%= form_with(model: @organization_divestment, local: true) do |form| %>
  <% if @organization_divestment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_divestment.errors.count, "error") %> prohibited this organization divestment from being saved:</h2>

      <ul>
        <% @organization_divestment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fr-input-group">
    <%= form.label :comment, class: "fr-label" %>
    <%= form.text_area :comment, class: "fr-input" %>
  </div>

  <ul class="fr-btns-group fr-btns-group--inline-md">
    <li>
        <%= form.submit "Accept", name: 'transition', value: 'accept', class: "fr-btn" %>
    </li>
    <li>
        <%= form.submit "Refuse", name: 'transition', value: 'refuse', class: "fr-btn fr-btn--secondary-danger" %>
    </li>
</ul>

<% end %>