<% if @organization_divestments.empty? && @divestments.empty?%>
  <div class="fr-grid-row fr-grid-row--center">
    <h6 class="fr-mr-2w">Vous n'avez pas encore de dessaisissements en cours ou passés</h6>
  </div>
<% end %>
<% if @organization_divestments.present? %>
  <div class="fr-grid-row fr-grid-row--left fr-grid-row--middle fr-grid-row--gutters">
    <h3 class="fr-mr-2w">Demandes de dessaisissement sortantes</h3>
  </div>
    <div class="fr-tabs">
      <ul class="fr-tabs__list" role="tablist" aria-label="divestments-state">
        <li role="presentation">
          <button id="tabpanel-404" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel">En cours</button>
        </li>
        <li role="presentation">
          <button id="tabpanel-405" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel">Passé</button>
        </li>
      </ul>
      <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
        <div class="fr-grid-row fr-grid-row--left fr-grid-row--center fr-grid-row--gutters">
          <div class="col">
            <div class="fr-table fr-table--bordered fr-table--layout-fixed">
              <table>
                <thead>
                  <tr>
                    <th scope="col"><%= t('activerecord.models.convict', count: 1) %></th>
                    <th scope="col">Date</th>
                    <th scope="col">Source</th>
                    <th scope="col">Services</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% @current_orga_divestments.each do |organization_divestment| %>
                    <tr>
                      <td>
                        <% if policy(organization_divestment.convict).show? %>
                            <%= link_to organization_divestment.convict.name, convict_path(organization_divestment.convict), class: 'index-control', data: { turbo: false } %>
                        <% else %>
                            <%= organization_divestment.convict.name %>
                        <% end %>
                      </td>
                      <td><%= organization_divestment.created_at.strftime("%d/%m/%Y") %></td>
                      <td><%= organization_divestment.source.name %>
                      </td>
                      <td>
                        <% organization_divestment.other_organizations_divestments.each do |other_organizations_divestment| %>
                          <% badge_class = case other_organizations_divestment.state
                                          when "accepted", "auto_accepted" then "fr-badge--success"
                                          when "ignored" then "fr-badge--new"
                                          when "refused" then "fr-badge--error"
                                          else ""
                                          end %>
                          <% ood_id = other_organizations_divestment.id %>
                          <p class="fr-badge fr-badge--no-icon <%= badge_class %>" aria-describedby="tooltip-ood-<%= ood_id %>" id="link-ood-<%= ood_id %>"><%= other_organizations_divestment.organization_name %></p>
                          <% if other_organizations_divestment.comment %>
                            <span class="fr-tooltip fr-placement" id="tooltip-ood-<%= ood_id %>" role="tooltip" aria-hidden="true"><%= other_organizations_divestment.comment %></span>
                          <% end %>
                        <% end %>
                      </td>
                      <td>
                        <% if policy(organization_divestment).edit? %>
                          <div class="col-fr">
                            <%= link_to t('edit'), edit_organization_divestment_path(organization_divestment), class: 'slots-index-control' %>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <%= paginate @current_orga_divestments %>
      </div>
      <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="0">
        <div class="fr-grid-row fr-grid-row--left fr-grid-row--center fr-grid-row--gutters">
          <div class="col">
            <div class="fr-table fr-table--bordered fr-table--layout-fixed">
              <table>
                <thead>
                  <tr>
                    <th scope="col"><%= t('activerecord.models.convict', count: 1) %></th>
                    <th scope="col">Date</th>
                    <th scope="col">Source</th>
                    <th scope="col">Status du dessaisissement</th>
                    <th scope="col">Services</th>
                    <th scope="col">Votre décision</th>
                    <th scope="col">Comment</th>
                  </tr>
                </thead>
                <tbody>
                  <% @past_orga_divestments.each do |organization_divestment| %>
                    <tr>
                      <td>
                        <% if policy(organization_divestment.convict).show? %>
                            <%= link_to organization_divestment.convict.name, convict_path(organization_divestment.convict), class: 'index-control', data: { turbo: false } %>
                        <% else %>
                            <%= organization_divestment.convict.name %>
                        <% end %>
                      </td>
                      <td><%= organization_divestment.created_at.strftime("%d/%m/%Y") %></td>
                      <td><%= organization_divestment.source.name %></td>
                      <td>
                        <% badge_class = case organization_divestment.divestment.state
                                        when "accepted", "auto_accepted" then "fr-badge--success"
                                        when "ignored" then "fr-badge--new"
                                        when "refused" then "fr-badge--error"
                                        else ""
                                        end %>
                        <p class="fr-badge fr-badge--no-icon <%= badge_class %>"><%= organization_divestment.divestment.state %></p>
                      </td>
                      <td>
                        <% organization_divestment.other_organizations_divestments.each do |other_organizations_divestment| %>
                          <% badge_class = case other_organizations_divestment.state
                                          when "accepted", "auto_accepted" then "fr-badge--success"
                                          when "ignored" then "fr-badge--new"
                                          when "refused" then "fr-badge--error"
                                          else ""
                                          end %>
                          <p class="fr-badge fr-badge--no-icon <%= badge_class %>"><%= other_organizations_divestment.organization_name %></p>
                        <% end %>
                      </td>
                      <td>
                          <% badge_class = case organization_divestment.state
                                          when "accepted", "auto_accepted" then "fr-badge--success"
                                          when "ignored" then "fr-badge--new"
                                          when "refused" then "fr-badge--error"
                                          else ""
                                          end %>
                          <p class="fr-badge fr-badge--no-icon <%= badge_class %>"><%= organization_divestment.state %></p>
                      </td>
                      <td>
                        <%= organization_divestment.comment %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <%= paginate @past_orga_divestments %>
      </div>
    </div>
<% end %>
<% if @divestments.present? %>
  <div class="fr-grid-row fr-grid-row--left fr-grid-row--middle fr-grid-row--gutters">
    <h3 class="fr-mr-2w">Demandes de dessaisissement entrantes</h3>
  </div>
  <div class="fr-tabs">
    <ul class="fr-tabs__list" role="tablist" aria-label="divestments-state">
      <li role="presentation">
        <button id="tabpanel-404" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="true" aria-controls="tabpanel-404-panel">En cours</button>
      </li>
      <li role="presentation">
        <button id="tabpanel-405" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-405-panel">Passé</button>
      </li>
    </ul>
    <div id="tabpanel-404-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-404" tabindex="0">
      <div class="fr-table fr-table--bordered fr-table--layout-fixed">
        <table>
          <thead>
            <tr>
              <th scope="col"><%= t('activerecord.models.convict', count: 1) %></th>
              <th scope="col">Date</th>
              <th scope="col">Services</th>
            </tr>
          </thead>
          <tbody>
            <% @current_divestments.each do |divestment| %>
              <tr>
                <td>
                  <% if policy(divestment.convict).show? %>
                      <%= link_to divestment.convict.name, convict_path(divestment.convict), class: 'index-control', data: { turbo: false } %>
                  <% else %>
                      <%= divestment.convict.name %>
                  <% end %>
                </td>
                <td><%= divestment.created_at.strftime("%d/%m/%Y") %></td>
                <td>
                  <% divestment.organization_divestments.each do |organization_divestment| %>
                    <% badge_class = case organization_divestment.state
                                    when "accepted", "auto_accepted" then "fr-badge--success"
                                    when "ignored" then "fr-badge--new"
                                    when "refused" then "fr-badge--error"
                                    else ""
                                    end %>
                    <% od_id = organization_divestment.id %>
                    <p class="fr-badge fr-badge--no-icon <%= badge_class %>" aria-describedby="tooltip-od-<%= od_id %>" id="link-od-<%= od_id %>"><%= organization_divestment.organization_name %></p>
                    <% if organization_divestment.comment %>
                      <span class="fr-tooltip fr-placement" id="tooltip-od-<%= od_id %>" role="tooltip" aria-hidden="true"><%= organization_divestment.comment %></span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> 
      <%= paginate @current_divestments %>
    </div>
    <div id="tabpanel-405-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-405" tabindex="-1">
      <div class="fr-table fr-table--bordered fr-table--layout-fixed">
          <table>
            <thead>
              <tr>
                <th scope="col"><%= t('activerecord.models.convict', count: 1) %></th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Services</th>
              </tr>
            </thead>
            <tbody>
              <% @past_divestments.each do |divestment| %>
                <tr>
                  <td>
                    <% if policy(divestment.convict).show? %>
                        <%= link_to divestment.convict.name, convict_path(divestment.convict), class: 'index-control', data: { turbo: false } %>
                    <% else %>
                        <%= divestment.convict.name %>
                    <% end %>
                  </td>
                  <td><%= divestment.created_at.strftime("%d/%m/%Y") %></td>
                  <td>
                    <% badge_class = case divestment.state
                                      when "accepted", "auto_accepted" then "fr-badge--success"
                                      when "ignored" then "fr-badge--new"
                                      when "refused" then "fr-badge--error"
                                      else ""
                                      end %>
                    <p class="fr-badge fr-badge--no-icon <%= badge_class %>"><%= divestment.state %></p>
                    </td>
                  <td>
                    <% divestment.organization_divestments.each do |organization_divestment| %>
                      <% badge_class = case organization_divestment.state
                                      when "accepted", "auto_accepted" then "fr-badge--success"
                                      when "ignored" then "fr-badge--new"
                                      when "refused" then "fr-badge--error"
                                      else ""
                                      end %>
                      <% od_id = organization_divestment.id %>
                      <p class="fr-badge fr-badge--no-icon <%= badge_class %>" aria-describedby="tooltip-od-<%= od_id %>" id="link-od-<%= od_id %>"><%= organization_divestment.organization_name %></p>
                      <% if organization_divestment.comment %>
                        <span class="fr-tooltip fr-placement" id="tooltip-od-<%= od_id %>" role="tooltip" aria-hidden="true"><%= organization_divestment.comment %></span>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @past_divestments %>
      </div>
    </div>
<% end %>