<% if @slots_by_date.length > 0 %>
  <p class='new-appointment-slots-title'><%= t('new-appointment-available-slots') %></p>
  <div class='new-appointment-slots-container' id='appointment-slots-container'>
    <div class='new-appointment-slots-header'>
      <% @slots_by_date.each do |date| %>
        <div class='slot-date-title'><%= t('date.day_names')[date.first.wday].capitalize %> <%= date.first %></div>
      <% end %>
    </div>

    <div class='new-appointment-slots-body'>
      <% @slots_by_date.each do |date| %>
        <div class='slot-date-container'>
          <% date.drop(1).first.sort_by(&:starting_time).each do |slot| %>
            <div>
              <input type='radio' value=<%= slot.id %> name="appointment[slot_id]" id=<%="appointment_slot_id_#{slot.id}"%>>
              <label for=<%="appointment_slot_id_#{slot.id}"%>>
                <%= slot.starting_time.to_s(:time) %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @appointment_type.name == 'RDV BEX SPIP' %>
    <p class='new-appointment-bex-warning'><%= t('new-appointment-bex-warning') %></p>
  <% end %>

  <input type='submit' name='commit' value=<%= t('submit')%> class='form-submit-button new-appointment-submit-button' id='submit-new-appointment' disabled='disabled' data-disable-with='Enregistrer'>
  <p class='new-appointment-form-warning'><%= t('new-appointment-warning') %></p>
<% else %>
  <p class='new-appointment-form-no-slot'><%= t('new-appointment-no-slot') %></p>
  <%= button_to t('new_appointment_reload'), new_appointment_path, class: 'form-submit-button reload-button', method: :get %>
<% end %>
