<% if Slot.future.relevant_and_available(@place, @appointment_type).length > 0 %>
  <p class='new-appointment-slots-title'><%= t('new-appointment-available-slots') %></p>

  <div class="form-input-wrapper new-appointment-slots-container" id='appointment-slots-container'>
    <% Slot.future.relevant_and_available(@place, @appointment_type).group_by(&:date).each do |date| %>
      <div class='slot-date-container'>
        <p class='slot-date-title'><%= t("date.day_names")[date.first.wday].capitalize %> <%= date.first %></p>
        <% date.drop(1).first.each do |slot| %>
          <span class="radio form-radio-wrapper">
            <input class="select-slot-button form-radio-input"
            type="radio"
            value=<%= slot.id %>
            name="appointment[slot_id]"
            id=<%="appointment_slot_id_#{slot.id}"%>>
            <label class="form-radio-label collection_radio_buttons" for=<%="appointment_slot_id_#{slot.id}"%>>
              <%= slot.starting_time.to_s(:time) %>
            </label>
          </span>
        <% end %>
      </div>

    <% end %>
  </div>

  <input type='submit' name='commit' value=<%= t('submit')%> class='form-submit-button' id='submit-new-appointment' disabled='disabled' data-disable-with='Enregistrer'>
<% else %>
  <p class='new-appointment-form-no-slot'><%= t('new-appointment-no-slot') %></p>
  <%= button_to t('new_appointment_reload'), new_appointment_path, class: 'form-submit-button reload-button', method: :get %>
<% end %>
