<div class='appointments-container'>
  <div class='index-tools-container'>
    <div class='index-tools-filter-container'>
      <%= search_form_for @q, url: today_appointments_path, html: { class: 'index-place-filter-form' } do |f| %>
        <%= f.select :slot_place_id_eq, options_from_collection_for_select(Place.all, 'id', 'name', @q.slot_place_id_eq),
                                        { include_blank: 'Filtrer par lieu de RDV' },
                                        { onchange: 'this.form.submit();', class: 'form-select index-place-filter-field' } %>
      <% end %>
    </div>

    <div class='index-tools-controls-container'>
      <%= button_to t('print_button'), 'fake_link',
                                        class: 'print-button',
                                        onclick: 'window.print();return false;'%>
    </div>
  </div>

  <% if @appointments.count == 0 %>
    <p class='no-appointment-today'><%= t('no_appointment_today') %></p>
  <% else %>
    <div class='index-table-container'>
      <div class='appointments-header'>
        <div class='appointments-header-title appointments-column-1'>
          <%= t('activerecord.models.convict') %>
        </div>
        <div class='appointments-header-title appointments-column-3'>
          <%= t('activerecord.attributes.slot.date') %>
        </div>
        <div class='appointments-header-title appointments-column-4'>
          <%= t('activerecord.attributes.slot.starting_time') %>
        </div>
      </div>

      <% @appointments.each do |appointment| %>
        <div class='appointments-item-container'>
          <div class='appointment-data appointments-column-1'>
            <%= appointment.convict.name %>
          </div>

          <div class='appointments-column-3'>
            <%= appointment.slot.date.to_s(:base_date_format) %>
          </div>

          <div class='appointments-column-4'>
            <%= appointment.slot.starting_time.to_s(:time) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
