<div class='appointments-container'>

  <div class='index-tools-container'>
    <%= search_form_for @q, class: 'index-search-form' do |f| %>
      <%= f.search_field :slot_date_eq, id: 'search-field',
                                        class: 'index-search-field',
                                        value: @q.slot_date_eq ? @q.slot_date_eq .strftime('%d/%m/%Y') : '',
                                        placeholder: t('search_appointment_placeholder') %>

      <%= f.submit t('search'), class: 'index-search-button' %>
    <% end %>

    <% if policy(:appointment).new? %>
      <%= button_to t('new_appointment_title'), new_appointment_path,
                                                class: 'link-to-new-appointment-button',
                                                form_class: 'link-to-new-appointment-form',
                                                method: :get %>
    <% end %>
  </div>

  <div class='index-table-container'>
    <div class='appointments-header'>
      <div class='appointments-header-title appointments-column-1'>
        <%= t('activerecord.models.convict') %>
      </div>
      <div class='appointments-header-title appointments-column-2'>
        <%= t('activerecord.models.place') %>
      </div>
      <div class='appointments-header-title appointments-column-3'>
        <%= t('activerecord.attributes.slot.date') %>
      </div>
      <div class='appointments-header-title appointments-column-4'>
        <%= t('activerecord.attributes.slot.starting_time') %>
      </div>
    </div>

    <% @appointments.each do |appointment| %>
      <div class='appointments-item-container'>
        <div class='appointment-data appointments-column-1'>
          <%= appointment.convict.name %>
        </div>

        <div class='appointment-data appointments-column-2'>
          <%= appointment.slot.place.name %>
        </div>

        <div class='appointments-column-3'>
          <%= appointment.slot.date.to_s(:base_date_format) %>
        </div>

        <div class='appointments-column-4'>
          <%= appointment.slot.starting_time.to_s(:time) %>
        </div>
      </div>
    <% end %>

    <%= paginate @appointments %>
  </div>
</div>
