<div class="fr-grid-row fr-grid-row--right fr-mb-2w">
  <ul class="fr-btns-group fr-btns-group--inline-lg">
    <% if @q.conditions.any? %>
      <%= button_to "#{t('index-appointment-clear-filters')} (#{@q.conditions.length})", appointments_path,
                                                          class: 'fr-btn fr-btn--tertiary',
                                                          method: :get %>
    <% end %>
    <%= button_to t('print_button'), appointments_path(format: :pdf),
                                      method: :get,
                                      form: { target: '_blank' },
                                      class: 'fr-btn fr-btn--secondary' %>
  </ul>
</div>
<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-xs-12">
    <%= search_form_for @q, id: 'index-header-filters-form' do |f| %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col">
          <%= f.date_field :slot_date_eq, id: 'index-appointment-date-filter',
                          class: "fr-input #{@q.slot_date_eq ? 'in-use' : ''}",
                          value: @q.slot_date_eq ? @q.slot_date_eq.strftime('%Y-%m-%d') : '',
                          placeholder: t('search-appointment-placeholder') %>
        </div>
        <div class="fr-col">
          <%= f.select :slot_agenda_place_id_eq, options_from_collection_for_select(Place.in_organization(current_user.organization), 'id', 'name', @q.slot_agenda_place_id_eq),
                                            { include_blank: t('slots.index_place_filter') },
                                            { class: "fr-select #{@q.slot_agenda_place_id_eq ? 'in-use' : ''}" } %>
        </div>
        <div class="fr-col">
          <%= f.select :slot_agenda_id_eq, options_from_collection_for_select(Agenda.in_organization(current_user.organization), 'id', 'name', @q.slot_agenda_id_eq),
                                      { include_blank: t('index-appointment-agenda-filter') },
                                      { class: "fr-select #{@q.slot_agenda_id_eq ? 'in-use' : ''}" } %>
        </div>
        <div class="fr-col">
          <%= f.select :slot_appointment_type_id_eq, options_from_collection_for_select(appointment_types_for_user(current_user), 'id', 'name', @q.slot_appointment_type_id_eq),
                                                { include_blank: t('index-slots-appointment-type-filter') },
                                                { class: "fr-select #{@q.slot_appointment_type_id_eq ? 'in-use' : ''}" } %>
        </div>
        <% if current_user.work_at_spip? %>
          <div class="fr-col">
            <%= f.select :user_id_eq, options_from_collection_for_select(assignable_user_in_organization(), 'id', lambda { |user|
                                                                                  return user.name unless user === current_user
                                                                                   user.name + " (#{t('current_user_title')})"
                                                                                 }, @q.user_id_eq),
                                                  { include_blank: t('index-user-filter') },
                                                  { class: "fr-select #{@q.user_id_eq ? 'in-use' : ''}" } %>
          </div>
        <% end %>
      </div>
    <% end %>
      <% if  @appointments.any? %>
        <%= render 'shared/appointments_table', appointments: @appointments %>
      <% else %>
        <span><%= t('appointments.index.no_appointments') %></span>
      <% end %>
  </div>
</div>
<%= javascript_pack_tag 'appointment_index' %>
