<div class="appointments-container">
  <div class="appointments-header">
    <div class="appointments-header-title appointments-column-1">
      <%= t('activerecord.models.convict') %>
    </div>
    <div class="appointments-header-title appointments-column-2">
      <%= t('activerecord.models.place') %>
    </div>
    <div class="appointments-header-title appointments-column-3">
      <%= t('activerecord.attributes.slot.date') %>
    </div>
    <div class="appointments-header-title appointments-column-4">
      <%= t('activerecord.attributes.slot.starting_time') %>
    </div>
  </div>

  <% @appointments.each do |appointment| %>
    <div class="appointments-item-container">
      <div class="appointment-data appointments-column-1">
        <%= appointment.convict.name %>
      </div>

      <div class="appointment-data appointments-column-2">
        <%= appointment.slot.place.name %>
      </div>

      <div class="appointments-column-3">
        <%= appointment.slot.date.to_s(:base_date_format) %>
      </div>

      <div class="appointments-column-4">
        <%= appointment.slot.starting_time.to_s(:time) %>
      </div>
    </div>
  <% end %>
</div>
