<div class="fr-grid-row fr-grid-row--right fr-mb-2w">
  <ul class="fr-btns-group fr-btns-group--inline-lg">
    <% if @q.conditions.any? %>
      <%= button_to "#{t('index-appointment-clear-filters')} (#{@q.conditions.length})", appointments_path,
                                                          class: 'fr-btn fr-btn--tertiary',
                                                          method: :get %>
    <% end %>
    <%= button_to t('print_button'), appointments_path(format: :pdf),
                                      method: :get,
                                      form: { target: '_blank' },
                                      class: 'fr-btn fr-btn--secondary' %>
    <% if policy(:appointment).new? %>
      <%= button_to t('new_appointment_title'), new_appointment_path,
                                                  class: 'fr-btn',
                                                  method: :get %>
    <% end %>
  </ul>
</div>
<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-xs-12">
    <%= search_form_for @q, id: 'index-header-filters-form' do |f| %>
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col">
          <%= f.date_field :slot_date_eq, id: 'index-appointment-date-filter',
                          class: "fr-input #{@q.slot_date_eq ? 'in-use' : ''}",
                          value: @q.slot_date_eq ? @q.slot_date_eq.strftime('%Y-%m-%d') : '',
                          placeholder: t('search-appointment-placeholder') %>
        </div>
        <div class="fr-col">
          <%= f.select :slot_agenda_place_id_eq, options_from_collection_for_select(Place.in_organization(current_user.organization), 'id', 'name', @q.slot_agenda_place_id_eq),
                                            { include_blank: t('slots.index_place_filter') },
                                            { class: "fr-select #{@q.slot_agenda_place_id_eq ? 'in-use' : ''}" } %>
        </div>
        <div class="fr-col">
          <%= f.select :slot_agenda_id_eq, options_from_collection_for_select(Agenda.in_organization(current_user.organization), 'id', 'name', @q.slot_agenda_id_eq),
                                      { include_blank: t('index-appointment-agenda-filter') },
                                      { class: "fr-select #{@q.slot_agenda_id_eq ? 'in-use' : ''}" } %>
        </div>
        <div class="fr-col">
          <%= f.select :slot_appointment_type_id_eq, options_from_collection_for_select(appointment_types_for_user(current_user), 'id', 'name', @q.slot_appointment_type_id_eq),
                                                { include_blank: t('index-slots-appointment-type-filter') },
                                                { class: "fr-select #{@q.slot_appointment_type_id_eq ? 'in-use' : ''}" } %>
        </div>
        <% if current_user.cpip? || current_user.dpip? %>
          <div class="fr-col">
            <div class="fr-fieldset__element fr-fieldset__element--inline fr-mt-1w">
              <div class="fr-checkbox-group">
                <input name="q[user_id_eq]" id="q_user_id_eq" type="checkbox" aria-describedby="convict-lives-abroad-messages" value="<%= current_user.id %>" <%= 'checked' if @q.user_id_eq %>>
                <label  class="fr-label" for="q_user_id_eq"><%= t('index-appointment-only-my-appointments') %></label>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
      <% if  @appointments.any? %>
        <%= render 'shared/appointments_table', appointments: @appointments %>
      <% else %>
        <span><%= t('appointments.index.no_appointments') %></span>
      <% end %>
  </div>
</div>
<%= javascript_pack_tag 'appointment_index' %>
