<div class='appointments-container'>
  <div class='today-appointments-tools-container'>
    <div class='index-tools-controls-container'>
      <%= button_to t('print_button'), 'fake_link',
                                        class: 'print-button',
                                        onclick: 'window.print();return false;'%>
    </div>
  </div>

  <div class='today-agendas-date-container'>
    <div class='today-date-title-container'>
      <%= t('today_agendas_title') %>
    </div>

    <div class='today-date-select-container'>
      <%= form_tag today_appointments_path, method: 'get' do %>
        <%= select_tag :date, options_for_select(formated_dates_for_select(ten_next_open_days), params[:date]),
                              id: 'today-appointments-date-select',
                              class: 'form-select form-text-input today-appointments-date-select',
                              onchange: 'this.form.submit()' %>
      <% end %>
    </div>

    <div class='today-date-title-container'>
      <%= t('today_agendas_title_part2') %>
    </div>

    <div class='today-date-select-container'>
      <%= form_tag today_appointments_path, method: 'get' do %>
        <%= select_tag :place, options_for_select(available_places_list, params[:place]),
                               id: 'today-appointments-date-select',
                               class: 'form-select form-text-input today-appointments-date-select',
                               onchange: 'this.form.submit()' %>
      <% end %>
    </div>
  </div>

  <% if @appointments.count == 0 %>
    <p class='no-appointment-today'><%= t('no_appointment_today') %></p>
  <% else %>
    <div class='index-table-container'>
      <div class='appointments-header'>
        <div class='appointments-header-title appointments-column-1'>
          <%= t('activerecord.models.convict') %>
        </div>
        <div class='appointments-header-title appointments-column-3'>
          <%= t('activerecord.attributes.slot.date') %>
        </div>
        <div class='appointments-header-title appointments-column-4'>
          <%= t('activerecord.attributes.slot.starting_time') %>
        </div>
      </div>

      <% @appointments.each do |appointment| %>
        <div class='appointments-item-container'>
          <div class='appointment-data appointments-column-1'>
            <%= appointment.convict.name %>
          </div>

          <div class='appointments-column-3'>
            <%= appointment.slot.date.to_s(:base_date_format) %>
          </div>

          <div class='appointments-column-4'>
            <%= appointment.slot.starting_time.to_s(:time) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
