<% unless current_user.organization.jap_modal_content.empty? %>
  <% if current_user.admin? || current_user.local_admin? || current_user.work_at_bex? || current_user.work_at_sap? %>
    <section class='agendas-modal-trigger-container'>
        <%= button_tag(t('new-appointment-jap-agendas'), type: 'button',
                                                         class: 'jap-agendas-modal-trigger',
                                                         data: { :'micromodal-trigger' => 'jap-agendas-modal' }) %>
    </section>
  <% end %>
<% end %>

<h1 class='form-title'><%= t('new_appointment_title') %></h1>
<% if @convict %>
  <h2 class='form-subtitle'><%= @convict.name %></h2>
<% end %>

<%= simple_form_for @appointment do |f| %>
  <div class='new-appointment-form'>
    <% if @convict %>
      <%= f.input :convict_id, as: :hidden, input_html: { value: params[:convict_id] } %>
    <% else %>
      <%= f.association :convict, collection: policy_scope(Convict.all),
                                  label: t('activerecord.models.convict'),
                                  as: :select,
                                  label_method: :name,
                                  input_html: { class: 'form-select', id: 'convict-name-autocomplete' } %>
    <% end %>

    <div class='appointment-form-cpip-container' id='cpip-container'>
      <% if can_be_linked_to_user?(@convict, current_user) %>
        <%= f.input :user_is_cpip, as: :radio_buttons, collection: [['1', 'Oui'], ['0', 'Non']], label_method: :second, value_method: :first, label: t('.is_cpip_label'), checked: '1' %>
      <% end %>
    </div>

    <div class='appointment-form-appointment-type-container' id='appointment-type-container'>
      <%= f.input :appointment_appointment_type_id, collection: appointment_types_for_user(current_user),
                                                    label: t('activerecord.models.appointment_type'),
                                                    as: :fake_select,
                                                    label_method: :name,
                                                    input_html: { class: 'form-select' } %>
    </div>

    <div class='appointment-form-prosecutor-container' id='prosecutor-container'></div>
    <div class='appointment-form-places-container' id='places-container'></div>
    <div class='appointment-form-departments-container' id='departments-container'></div>
    <div class='appointment-form-agendas-container' id='agendas-container'></div>
    <div class='appointment-form-slot-fields-container' id='slot-fields-container'></div>
  </div>

  <div class='appointment-form-slots-container' id='slots-container'></div>
  <div id='submit-btn-container'>
    <input type='submit' name='commit' value=<%= t('submit')%> class='form-submit-button new-appointment-submit-button' id='submit-new-appointment' disabled='disabled' data-disable-with='Enregistrer'>
  </div>
<% end %>

<div class='appointment-form-submit-button-container' id='submit-button-container'></div>
<%= render 'new_appointment_confirmation_modal' %>

<%= render 'shared/jap_agendas_modal' %>
<%= javascript_pack_tag 'appointment_new' %>
