<section class='new-appointment-links-container'>
  <% if current_user.admin? || current_user.local_admin? || current_user.work_at_bex? || current_user.work_at_sap? %>
    <%= button_tag(t('new-appointment-jap-agendas'), type: 'button',
                                                     class: 'jap-agendas-modal-trigger',
                                                     data: { :'micromodal-trigger' => 'jap-agendas-modal' }) %>
  <% end %>
</section>

<h1 class='form-title'><%= t('new_appointment_title') %></h1>
<% if params.key?(:convict_id) %>
  <h2 class='form-subtitle'><%= @convict.name %></h2>
<% end %>

<%= simple_form_for @appointment do |f| %>
  <div class='new-appointment-form'>
    <% if params.key?(:convict_id) %>
      <%= f.input :convict_id, as: :hidden, input_html: { value: params[:convict_id] } %>
    <% else %>
      <%= f.association :convict, collection: policy_scope(Convict.all),
                                  label: t('activerecord.models.convict'),
                                  as: :select,
                                  label_method: :name,
                                  input_html: { class: 'form-select', id: 'convict-name-autocomplete' } %>
    <% end %>

    <% if current_user.admin? || current_user.local_admin? || current_user.work_at_bex? %>
      <%= f.input :origin_department, collection: Appointment.origin_departments.keys,
                                      label_method: lambda {|k| t("simple_form.options.appointment.origin_department.#{k}")},
                                      input_html: { class: 'form-select' } %>
    <% end %>

    <%= f.input :appointment_appointment_type_id, collection: appointment_types_for_user(current_user),
                                         label: t('activerecord.models.appointment_type'),
                                         as: :fake_select,
                                         label_method: :name,
                                         input_html: { class: 'form-select' } %>

    <div class='appointment-form-places-container' id='places-container'></div>
    <div class='appointment-form-agendas-container' id='agendas-container'></div>
    <div class='appointment-form-slot-fields-container' id='slot-fields-container'></div>
  </div>

  <div class='appointment-form-slots-container' id='slots-container'>
    <div class='new-appointment-help-container'>
      <%= t('new-appointment-help') %>
    </div>
  </div>
  <div id='submit-btn-container'>
    <input type='submit' name='commit' value=<%= t('submit')%> class='form-submit-button new-appointment-submit-button' id='submit-new-appointment' disabled='disabled' data-disable-with='Enregistrer'>
  </div>
<% end %>

<div id='before-submit-modal-option-container'>
  <p class='new-appointment-form-warning'><%= t('new-appointment-warning') %></p>
  <%= button_tag t('submit'), type: 'button', class: 'form-submit-button', data: { :'micromodal-trigger' => 'appointment-send-sms-modal' } %>
  <div class='modal micromodal-slide' id='appointment-send-sms-modal' aria-hidden='true'>
    <div class='modal__overlay' tabindex='-1' data-micromodal-close>
      <div class='modal__container test-modal-container' role='dialog' aria-modal='true' aria-labelledby='appointment-send-sms-modal-title'>
        <header class='modal__header'>
          <h2 class="modal__title" id="appointment-send-sms-modal-title"></h2>
          <button class='modal__close' aria-label='Close modal' data-micromodal-close></button>
        </header>
        <div class='appointment-send-sms-modal-modal'>
          <%= t('new-appointment-confirmation-warning') %>
        </div>
        <div class='appointment-send-sms-modal-button-container'>
          <button id='btn-modal-with-sms' class='show-convict-fulfil-button modal__close' aria-label='Close modal' data-micromodal-close><%= t('yes') %></button>
          <button id='btn-modal-without-sms' class='show-convict-miss-button modal__close' aria-label='Close modal' data-micromodal-close><%= t('no') %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'jap_agendas_data_modal' %>
<%= javascript_pack_tag 'appointment' %>
