<section class='new-appointment-links-container'>
  <% if current_user.admin? || current_user.bex? %>
    <%= button_tag('Liste Cabinets JAP', type: 'button',
                                         class: 'jap-agendas-modal-trigger',
                                         data: { :'micromodal-trigger' => 'jap-agendas-modal' }) %>
  <% end %>
</section>

<h1 class='form-title'><%= t('new_appointment_title') %></h1>

<%= simple_form_for @appointment do |f| %>
  <div class='new-appointment-form'>
    <% if params.has_key?(:convict_id) %>
      <%= f.input :convict_id, as: :hidden, input_html: { value: params[:convict_id] }  %>
    <% else %>
      <%= f.association :convict, collection: Convict.all,
                                  label: t('activerecord.models.convict'),
                                  as: :select,
                                  label_method: :name,
                                  input_html: { class: 'form-select', id: 'convict-name-autocomplete' } %>
    <% end %>

    <% if current_user.admin? || current_user.bex? %>
      <%= f.input :origin_department, collection: Appointment.origin_departments.keys,
                                      label_method: lambda {|k| t("simple_form.options.appointment.origin_department.#{k}")},
                                      input_html: { class: 'form-select' } %>
    <% end %>

    <%= f.association :appointment_type, collection: AppointmentType.all,
                                         label: t('activerecord.models.appointment_type'),
                                         as: :select,
                                         label_method: :name,
                                         input_html: { class: 'form-select' } %>

    <div class='appointment-form-places-container' id='places-container'></div>
    <div class='appointment-form-agendas-container' id='agendas-container'></div>
  </div>

  <div class='appointment-form-slots-container' id='slots-container'>
    <div class='new-appointment-help-container'>
      <%= t('new-appointment-help') %>
    </div>
  </div>
<% end %>

<%= render 'jap_agendas_data_modal' %>
<%= javascript_pack_tag 'appointment' %>
