<h1 class='form-title'><%= t('new_first_appointment_title') %></h1>
<p class='new-appointment-form-place'><%= t('new-appointment-place') %> <%= @place.name %></p>

<% if Slot.for_place(@place).length > 0 %>
  <%= simple_form_for @appointment, html: { class: 'basic-form' } do |f| %>
    <%= f.input :place_id, as: :hidden, input_html: { value: @place.id }  %>
    <%= f.input :convict_id, as: :hidden, input_html: { value: params[:convict_id] }  %>
      <%= f.association :slot, collection: Slot.for_place(@place),
                               label: false,
                               as: :radio_buttons,
                               boolean_style: :inline,
                               input_html: { class: 'form-radio-input' },
                               item_wrapper_class: 'form-radio-wrapper',
                               item_label_class: 'form-radio-label',
                               label_method: :form_label %>

    <%= f.button :submit, t('new_appointment_submit'), class: 'form-submit-button' %>
  <% end %>
<% else %>
  <p class='new-appointment-form-no-slot'><%= t('new-appointment-no-slot') %></p>
<% end %>
