<h1 class='form-title'>RESCHEDULE APPT</h1>

<%= simple_form_for Appointment.new do |f| %>
  <div class='new-appointment-form'>
    <%= f.hidden_field :convict_id, value: @appointment.convict_id  %>
    <%= f.hidden_field :appointment_type_id, value: @appointment.appointment_type_id  %>
    <%= f.hidden_field :origin_department, value: @appointment.origin_department  %>
  </div>

  <div class='appointment-form-slots-container'>
    <% if @slots_by_date.length > 0 %>
      <p class='new-appointment-slots-title'><%= t('new-appointment-available-slots') %></p>
      <% if @appointment.appointment_type.name == 'RDV BEX SPIP' %>
        <p class='new-appointment-bex-warning'><%= t('new-appointment-bex-warning') %></p>
      <% end %>
      <div class='new-appointment-slots-container'>
        <div class='new-appointment-slots-header'>
          <% @slots_by_date.each do |date| %>
            <div class='slot-date-title'><%= t('date.day_names')[date.first.wday].capitalize %> <%= date.first %></div>
          <% end %>
        </div>
        <div class='new-appointment-slots-body'>
          <% @slots_by_date.each do |date| %>
            <div class='slot-date-container'>
              <% date.drop(1).first.sort_by(&:starting_time).each do |slot| %>
                <div>
                  <input type='radio' value=<%= slot.id %> name="appointment[slot_id]" id=<%="appointment_slot_id_#{slot.id}"%>>
                  <label for=<%="appointment_slot_id_#{slot.id}"%>>
                    <%= slot.starting_time.to_s(:time) %>
                  </label>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <p class='new-appointment-form-no-slot'><%= t('new-appointment-no-slot') %></p>
      <%= button_to t('new_appointment_reload'), new_appointment_path, class: 'form-submit-button reload-button', method: :get %>
    <% end %>
  </div>

  <div>
    <%= f.submit t('submit'), class: 'form-submit-button new-appointment-submit-button'  %>
  </div>
<% end %>
