<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
    <h1 class=''><%= t('show_appointment_title') %></h1>
    <% if policy(@appointment).change_state? %>
      <div class='appointment-fulfilment-container'>
        <div class='appointment-fulfilment-prompt-container'>
          <% if @appointment.in_the_past? %>
            <%= t('show-convict-fulfilment-prompt', name: @convict.name,
                                                place: @appointment.slot.agenda.place.name,
                                                date: @appointment.slot.date.to_fs,
                                                time: @appointment.localized_time.to_fs(:time)) %>
          <% else %>
            <%= t('show-convict-excuse-prompt', name: @convict.name) %>
          <% end %>
        </div>
        <div class='appointment-fulfilment-controls-container'>
          <% if policy(@appointment).fulfil? %>
            <%= button_to t('yes'), appointment_fulfil_path(@appointment),
                                method: :put,
                                id: 'show-convict-fulfil-button',
                                class: 'show-convict-fulfil-button' %>
          <% end %>
          <% if policy(@appointment).miss? %>
            <%= button_tag t('no'), type: 'button',
                              class: 'show-convict-miss-button',
                              data: { 'micromodal-trigger': "missed-appointment-modal-#{@appointment.id}" } %>
          <% end %>
          <% if policy(@appointment).excuse? %>
            <%= button_to t('show-convict-fulfilment-excused'), appointment_excuse_path(@appointment),
                                                          method: :put,
                                                          id: 'show-convict-excuse-button',
                                                          class: 'show-convict-excuse-button' %>
          <% end %>
        </div>
      </div>
      <%= render 'missed_appointment_modal', apt: @appointment %>
    <% end %>
    <div class="fr-grid-row">
      <div class="fr-col">
        <div class="fr-card fr-p-2w">
          <div class="fr-grid-row">
            <div class="fr-col-8">
              <p>
                <strong><%= t('activerecord.attributes.convict.last_name')%></strong> : <%= @convict.last_name %>
              </p>
              <p>
                <strong><%= t('activerecord.attributes.convict.first_name') %></strong> : <%= @convict.first_name %>
              </p>
              <p>
                <strong><%= t('activerecord.attributes.convict.phone') %></strong> :
                <% if @convict.no_phone? %>
                  <%= t('activerecord.attributes.convict.no_phone') %>
                <% elsif @convict.refused_phone? %>
                  <%= t('activerecord.attributes.convict.refused_phone') %>
                <% else %>
                  <%= @convict.display_phone %>
                <% end %>
              </p>
            </div>
            <div class="fr-col-4">
                <ul class="fr-btns-group fr-btns-group--equisized fr-btns-group--right">
                  <li>
                    <%= button_to t('see_profile'), convict_path(@convict.id),
                                    method: :get,
                                    class: 'fr-btn fr-btn--secondary' %>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fr-grid-row fr-mt-2w">
      <div class="fr-col">
        <div class="fr-card fr-p-2w">
          <div class="fr-grid-row  ">
            <div class="fr-col-8">
              <p>
                <strong><%= t('activerecord.models.appointment_type') %></strong> : <%= @appointment.slot.appointment_type.name %>
              </p>
              <p>
                <strong><%= t('appointment_place') %></strong> : <%= @appointment.slot.agenda.place.name %>
              </p>
              <% if @appointment.slot.agenda.place.multiple_agendas? %>
                <p>
                  <strong><%= t('appointment_agenda') %></strong> : <%= @appointment.slot.agenda.name %>
                </p>
              <% end %>
              <% if @appointment.slot.appointment_type.sortie_audience? %>
                <p>
                  <strong><%= t('activerecord.attributes.appointment.prosecutor_number') %></strong> : <%= @appointment.prosecutor_number %>
                </p>
              <% end %>
              <p>
                <strong><%= t('appointment_date') %></strong> : <%= @appointment.slot.date.to_fs %>
              </p>
              <p>
                <strong><%= t('appointment_starting_time') %></strong> : <%= @appointment.localized_time.to_fs(:time) %>
              </p>
              <p>
                <strong><%= t('appointments.show.inviter_user_role') %></strong> :   
                <% if @appointment.origin_department.present? %>
                  <%= t("activerecord.attributes.appointment.origin_departments.#{@appointment.origin_department}") %>
                <% elsif @appointment.inviter_user_id.present? && User.find_by(id: @appointment.inviter_user_id).present? %>
                  <% user = User.find(@appointment.inviter_user_id) %>
                  <%= t("activerecord.attributes.user.user_roles.#{user.role}") %>
                <% end %>
              </p>
              <% if @appointment.user %>
                <p>
                  <strong><%= t('appointments.show.assigned_user') %></strong> :
                  <%= @appointment.user.name %>
                </p>
              <% end %>
              <p class="show-appointment-state-container">
                <strong><%= t('appointment_state') %></strong> : <%= @appointment.human_state_name %>
                <% if policy(@appointment).rebook? && @appointment.can_rebook? && @appointment.no_show? %>
                  <%= content_tag(:span, t('edit'),
                                    class: 'show-appointment-change-state-link fake-link',
                                    data: { 'micromodal-trigger': "rebook-missed-appointment-modal-#{@appointment.id}" }) %>
                  <%= render 'rebook_missed_appointment_modal', apt: @appointment %>
                <% elsif policy(@appointment).rebook? && @appointment.can_rebook? %>
                  <%= link_to t('edit'), appointment_rebook_path(@appointment), class: 'show-appointment-change-state-link', data: { "turbo-method": :put } %>
                <% end %>
              </p>
            </div>
            <div class="fr-col-4">
              <ul class="fr-btns-group fr-btns-group--equisized fr-btns-group--right">
                  <% ap_reschedules_policy = AppointmentsReschedulesPolicy.new(current_user, @appointment) %>
                  <% if ap_reschedules_policy.new? %>
                    <li>
                      <%= button_to t('reschedule'), new_appointment_reschedule_path(@appointment),
                                        method: :get,
                                        class: 'fr-btn' %>
                    </li>
                  <% end %>
                  <% if policy(@appointment).cancel? %>
                    <li>
                      <% if @convict&.can_receive_sms? %>
                      <button class="fr-btn" data-fr-opened="false" aria-controls="fr-modal-cancel-apt">
                          <%= t('cancel') %>
                      </button>
                      <% else %>
                        <%= button_to t('cancel'), appointment_cancel_path(@appointment),
                                      class: 'fr-btn',
                                      data: { 'turbo-confirm': t('cancel_appointment_warning'), "turbo_method": :put } %>
                      <% end %>
                    </li>
                  <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/history_items' %>
  </div>
</div>
<dialog aria-labelledby="fr-modal-cancel-apt-title" id="fr-modal-cancel-apt" class="fr-modal" role="dialog" >
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-cancel-apt">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-cancel-apt-title" class="fr-modal__title">
                            Annuler la convocation
                        </h1>
                        <p>
                          Vous vous appretez à annuler la convocation et le SMS de rappel prévu. 
                          Vous pouvez choisir de prévenir par sms le probationnaire ou non.
                          Êtes-vous sûr.e ?
                        </p>
                    </div>
                    <div class="fr-modal__footer">
                      <%= form_with url: appointment_cancel_path(@appointment), method: :put, data: { turbo: 'true' }, id: 'confirm-form' do %>
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <%= button_tag 'annuler et prévenir le probationnaire', name: "send_sms", value: "true", type: 'submit', class: 'fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left' %>
                            <%= button_tag 'annuler sans prévenir le probationnaire', name: "send_sms", value: "false", type: 'submit', class: 'fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary' %>
                        </div>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
<%= javascript_include_tag 'appointment_show', "data-turbo-track": "reload", defer: true %>
