<h1 class='show-title'><%= t('show_appointment_title') %></h1>

<div class='show-profile-container'>
  <div class='show-data-container'>
    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.title')%>
      </div>
      <div class='show-data-item'>
        <%= t("activerecord.attributes.convict.convict_titles.#{@convict.title}") %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.last_name')%>
      </div>
      <div class='show-data-item'>
        <%= @convict.last_name.upcase %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.first_name')%>
      </div>
      <div class='show-data-item'>
        <%= @convict.first_name.capitalize %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.phone')%>
      </div>
      <div class='show-data-item'>
        <% if @convict.no_phone? %>
          <%= t('activerecord.attributes.convict.no_phone')%>
        <% elsif @convict.refused_phone? %>
          <%= t('activerecord.attributes.convict.refused_phone')%>
        <% else %>
          <%= num_to_phone(@convict.phone) %>
        <% end %>
      </div>
    </div>

    <div class='show-data-item-container'>
      <div class='show-data-label'>
        <%= t('activerecord.attributes.convict.prosecutor_number')%>
      </div>
      <div class='show-data-item'>
        <%= @convict.prosecutor_number %>
      </div>
    </div>
  </div>

  <div class='show-button-to-edit-container'>
    <%= button_to t('see_profile'), convict_path(@convict.id),
                                    method: :get,
                                    class: 'show-button-to-edit' %>
  </div>
</div>

<div class='show-appointment-container'>
  <div class='show-appointment-summon-container'>
    <div class='show-appointment-data-container'>
      <div class='show-appointment-summon-data'>
        <div class='show-appointment-summon-title'>
          <%= t('appointment_place') %>
        </div>
        <div class='show-appointment-summon-item'>
          <%= @appointment.slot.agenda.place.name %>
        </div>
      </div>

      <div class='show-appointment-summon-data'>
        <div class='show-appointment-summon-title'>
          <%= t('appointment_date') %>
        </div>
        <div class='show-appointment-summon-item'>
          <%= @appointment.slot.date %>
        </div>
      </div>

      <div class='show-appointment-summon-data'>
        <div class='show-appointment-summon-title'>
          <%= t('appointment_starting_time') %>
        </div>
        <div class='show-appointment-summon-item'>
          <%= @appointment.slot.starting_time.to_s(:time) %>
        </div>
      </div>

      <div class='show-appointment-summon-data'>
        <div class='show-appointment-summon-title'>
          <%= t('appointment_origin_department') %>
        </div>
        <div class='show-appointment-summon-item'>
          <%= t("activerecord.attributes.appointment.origin_departments.#{@appointment.origin_department}") %>
        </div>
      </div>

      <div class='show-appointment-summon-data'>
        <div class='show-appointment-summon-title'>
          <%= t('appointment_state') %>
        </div>
        <div class='show-appointment-summon-item'>
          <%= @appointment.human_state_name %>
        </div>
      </div>
    </div>

    <div class='show-appointment-controls-container'>
      <%= button_to t('cancel'), appointment_cancel_path(@appointment),
                                 method: :put,
                                 data: { confirm: t('cancel_appointment_warning') },
                                 class: 'show-button-to-edit',
                                 disabled: !@appointment.booked? %>
    </div>
  </div>
</div>
