<div class="fr-grid-row fr-grid-row--left fr-grid-row--middle fr-grid-row--gutters">
  <div class="fr-col-4">
    <h3 class="fr-mr-2w">Services</h3>
  </div>
  <div class="fr-col-8">
    <div class="fr-grid-row fr-grid-row--right fr-grid-row--middle">
      <%= button_to t('new_organization_title'), new_organization_path, class: 'fr-btn', form_class: 'link-to-new-organization-form', method: :get %>
    </div>
  </div>
</div>
<div class="fr-grid-row fr-grid-row--left fr-grid-row--center fr-grid-row--gutters">
  <div class="col">
    <div class="fr-table fr-table--bordered fr-table--layout-fixed">
      <table>
        <thead>
          <tr>
            <th scope="col"><%= t('activerecord.attributes.organization.name') %></th>
            <th scope="col"><%= t('activerecord.attributes.organization.email') %></th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @organizations.each do |organization| %>
            <tr>
              <td><%= organization.name %></td>
              <td><%= organization.email %></td>
              <td>
                <% if policy(organization).edit? %>
                  <%= link_to t('edit'), edit_organization_path(organization), class: 'index-control' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= paginate @organizations %>
