<%= render 'steering_header' %>

<div class='steering-container'>
  <div class='steering-convict-app-data'>
    <div class='stat-card-container'>
      <p class='stat-card-title'><%= t('stats.invites') %></p>
      <p class='stat-card-value'><%= @invites %></p>
    </div>

    <div class='stat-card-container'>
      <p class='stat-card-title'><%= t('stats.reminder') %></p>
      <p class='stat-card-value'><%= @reminder %></p>
    </div>

    <div class='stat-card-container'>
      <p class='stat-card-title'><%= t('stats.account_created') %></p>
      <p class='stat-card-value'><%= @account_created %></p>
    </div>
  </div>
</div>
