<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% page.attributes(controller.action_name).each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <% if action_name == 'new' %>
    <div class="field-unit field-unit--string field-unit--optional">
      <%= label_tag :organization_id, 'service :',  class: 'field-unit__label' %>
      <div class="field-unit__field">
        <%= select_tag :organization_id, options_from_collection_for_select(Organization.all, 'id', 'name'), include_blank: 'Tous les services' %>
      </div>
    </div>

    <div class="field-unit field-unit--string field-unit--optional">
      <%= label_tag :role, 'rôle :',  class: 'field-unit__label' %>
      <div class="field-unit__field">
        <%= select_tag :role, options_for_select(User.roles.keys.unshift(['Tous les rôles', nil])) %>
      </div>
    </div>

    <div class="field-unit field-unit--string field-unit--optional">
      <%= label_tag :alert_type, 'Type d\'alerte :', class: 'field-unit__label' %>
      <div class="field-unit__field">
        <%= select_tag :alert_type, options_for_select(['info', 'success', 'error'], 'info') %>
      </div>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
