<div id="user_alert_creation_form" style="padding: 20px">
  <h1>Création d'alertes pour les utilisateurs</h1>
  <br>
  <%= form_tag admin_create_user_alert_path, method: :post, class: 'form' do %>
    <div class="field-unit field-unit--string field-unit--optional">
      <%= label_tag :organization_id, 'Service :',  class: 'field-unit__label' %>
      <%= select_tag :organization_id, options_from_collection_for_select(Organization.all, 'id', 'name'), include_blank: 'Tous les services', style: 'margin-left: 2rem;' %>
    </div>

    <div class="field-unit field-unit--string field-unit--optional">
      <%= label_tag :role, 'Rôle :',  class: 'field-unit__label' %>
      <%= select_tag :role, options_for_select(User.roles.keys.unshift(['Tous les rôles', nil])), {style: 'margin-left: 2rem;'} %>
    </div>

    <div class="field-unit field-unit--string field-unit--optional">
      <%= label_tag :comment, 'Contenu:',  class: 'field-unit__label' %>
      <%= text_area_tag :comment, nil, style: 'margin-left: 2rem;', required: true %>
    </div>

    <%= submit_tag "Créer l'alerte" %>
  <% end %>
</div>