<!-- app/views/divestments/new.html.erb -->

<div class="fr-grid-row fr-grid-row--center">
  <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
    <h1 class='form-title'><%= t('divestments.new.title') %></h1>

        <%= form_with model: @divestment, local: true do |form| %>  
            <%= form.label :organization_to_id %>
            <%= form.collection_select :organization_to_id, @organizations, :id, :name, prompt: true, input_html: { class: 'form-select' } %>
        
            <%= form.label :decision_date %>
            <%= form.date_field :decision_date %>
        
            <%= form.label :comment %>
            <%= form.text_area :comment %>
        
            <%= form.submit %>
        <% end %>
    </div>
</div>


