<h1 class='form-title'><%= t('edit_place_title') %></h1>
<div class='edit-place-wrapper'>
  <div class='edit-place-form-container'>
    <%= simple_form_for @place, html: { class: 'edit-place-form' } do |f| %>
      <% invalid = @place.errors.include?(:appointment_types) %>
      <% if invalid %>
        <div class="fr-alert fr-alert--warning fr-my-2w">
            <h3 class="fr-alert__title"><%=  @place.errors.full_messages_for(:appointment_types).first %></h3>
        </div>
      <% end %>
      <div class='edit-place-data-container'>
        <%= f.input :name %>
        <%= f.input :adress %>
        <%= f.input :phone, input_html: { value: @place.display_phone } %>
        <%= f.input :contact_email %>
        <%= f.input :main_contact_method, collection: form_main_contact_methods,
                                          input_html: { class: 'form-select' },
                                          include_blank: false %>
        <%= f.input :preparation_link %>
        <%= f.association :organization, collection: orga_for_user, include_blank: false,
                                         label: t('activerecord.attributes.user.organization'),
                                         input_html: { class: 'form-select' } %>
        <div class='edit-place-appointment-types-wrapper'>
          <h2 class='form-secondary-title'><%= t('edit_place_appointment_types') %></h2>
          <div class='edit-place-appointment-types-container'>
            <%= f.association :appointment_types, as: :check_boxes,
                                                  label: '',
                                                  item_wrapper_class: 'form-checkbox-wrapper',
                                                  item_label_class: 'form-checkbox-label',
                                                  input_html: { class: 'form-checkbox' } %>
          </div>
        </div>
        <%= f.button :submit, t('submit'), class: 'form-submit-button' %>
      </div>
    <% end %>
  </div>
  <div class='edit-place-agendas-container'>
    <h2 class='form-secondary-title'><%= t('edit_place_agendas') %></h2>
    <% @place.agendas.kept.each do |agenda| %>
      <%= simple_form_for agenda, html: { class: 'edit-place-form' } do |form| %>
        <div class='edit-place-agenda-form-container'>
          <%= form.hidden_field :place_id, value: @place.id %>
          <%= form.input :name, wrapper_html: { class: 'edit-place-agenda-name'} %>
          <% if policy(agenda).edit? %>
            <%= form.button :submit, t('edit_place_update_agenda'), class: 'save-agenda-button' %>
          <% end %>
        </div>
      <% end %>
      <div class='edit-place-cta-container'>
        <% if agenda.appointment_type_with_slot_types? %>
          <%= link_to t('edit_place_slot_types_agenda'), agenda_slot_types_path(agenda) %>
        <% end %>
      </div>
    <% end %>
    <% if policy(:agenda).new? %>
      <div class='edit-place-new-agenda-container'>
        <%= simple_form_for Agenda.new(place: @place), html: { class: 'edit-place-form' } do |form| %>
          <div class='edit-place-agenda-form-container'>
            <%= form.hidden_field :place_id, value: @place.id %>
            <%= form.input :name, wrapper_html: { class: 'edit-place-agenda-name'} %>
            <%= form.button :submit, t('edit_place_add_agenda'), class: 'save-agenda-button' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
