<div class="fr-grid-row fr-grid-row--left fr-grid-row--middle fr-grid-row--gutters">
  <div class="fr-col-4">
    <h3 class="fr-mr-2w">Lieux</h3>
  </div>
  <div class="fr-col-8">
    <div class="fr-grid-row fr-grid-row--right fr-grid-row--middle">
      <%= button_to t('new_place_title'), new_place_path, class: 'fr-btn', form_class: 'link-to-new-place-form', method: :get %>
    </div>
  </div>
</div>
<div class="fr-table fr-table--bordered fr-table--layout-fixed">
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t('activerecord.attributes.place.name') %></th>
        <th scope="col"><%= t('activerecord.attributes.place.adress') %></th>
        <th scope="col"><%= t('activerecord.attributes.place.phone') %></th>
        <th scope="col"><%= t('activerecord.attributes.user.organization') %></th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @places.includes(:organization).each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.adress %></td>
          <td><%= place.display_phone %></td>
          <td><%= place.organization.name %></td>
          <td>
            <% if policy(place).edit? %>
              <%= link_to t('edit'), edit_place_path(place), class: 'index-control' %>
            <% end %>
            <% if policy(place).archive? %>
              <%= link_to t('archive'), place_archive_path(place), class: 'index-control', data: { 'turbo-confirm': t('basic_confirmation'), "turbo_method": :patch }  %>
            <% end%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @places %>
