<h1 class='form-title'><%= t('new_place_title') %></h1>
<%= simple_form_for @place, html: { class: 'basic-form' } do |f| %>
  <% invalid = @place.errors.include?(:appointment_types) %>
  <% if invalid %>
    <div class="fr-alert fr-alert--warning fr-my-2w">
      <h3 class="fr-alert__title"><%=  @place.errors.messages_for(:appointment_types).first %></h3>
    </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :adress %>
  <%= f.input :phone %>
  <%= f.input :contact_email %>
  <%= f.input :main_contact_method, collection: form_main_contact_methods,
                                    input_html: { class: 'form-select' },
                                    include_blank: false %>
  <%= f.input :preparation_link %>
  <%= f.association :organization, collection: orga_for_user, include_blank: false,
                                         label: t('activerecord.attributes.user.organization'),
                                         input_html: { class: 'form-select' },
                                         selected: current_user.organization_id %>
  <div class='new-place-appointment-types-wrapper'>
    <h2 class='form-secondary-title'><%= t('edit_place_appointment_types') %></h2>
    <div class='edit-place-appointment-types-container'>
      <%= f.association :appointment_types, as: :check_boxes,
                                            label: '',
                                            item_wrapper_class: 'form-checkbox-wrapper',
                                            item_label_class: 'form-checkbox-label',
                                            input_html: { class: 'form-checkbox' } %>
    </div>
  </div>
  <%= f.button :submit, t('new_place_submit'), class: 'form-submit-button' %>
<% end %>
