<header class='header <%= 'header-staging' if ENV['APP'] == 'mon-suivi-justice-staging' %>'>
  <%= link_to home_path, class: 'header-home-link' do %>
    <h1 class='header-title'><%= t('header_title') %> <%= t('header_staging') if ENV['APP'] == 'mon-suivi-justice-staging' %></h1>
  <% end %>
  <h4><%= current_organization&.name %></h4>
  <div class='header-controls-container'>
    <% if ENV['APP'] != 'mon-suivi-justice-prod' %>
      <% if current_user != true_user %>
        Vous (<%= true_user.last_name %>) êtes connecté  en tant  que <%= current_user.last_name %>
        <%= link_to("Retour à l'admin", stop_impersonating_users_path, method: :post,  class: 'header-link') %>
      <% end %>
    <% end %>
    <%= link_to(t('my_profile'), user_path(current_user.id), class: 'header-link') %>
    <%= link_to(t('log_out'), destroy_user_session_path, method: :delete, class: 'header-link') %>
  </div>
</header>
