<header class='header <%= 'header-staging' if ENV['APP'] == 'mon-suivi-justice-staging' %>'>
  <%= link_to home_path, class: 'header-home-link' do %>
    <h1 class='header-title'><%= t('header_title') %> <%= t('header_staging') if ENV['APP'] == 'mon-suivi-justice-staging' %></h1>
  <% end %>
  <h4><%= current_organization&.name %></h4>
  <div class='header-controls-container'>
    <% if current_user != true_user %>
      ATTENTION : Vous, <%= true_user.first_name %> <%= true_user.last_name %>, êtes connecté  en tant  que <strong><%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.role %>)</strong>
      <%= link_to("Retour à l'admin", stop_impersonating_users_path, method: :post,  class: 'header-link') %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to("Interface admin", admin_root_path, method: :get,  class: 'header-link') %>
    <% end %>
    <%= link_to("Notifications #{current_user.user_notifications.unread.size}", user_user_notifications_path, class: 'header-link') %>
    <%= link_to(t('my_profile'), user_path(current_user.id), class: 'header-link') %>
    <%= link_to(t('log_out'), destroy_user_session_path, method: :delete, class: 'header-link') %>
  </div>
</header>
