<div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
  <div class="fr-container">
    <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          <%= link_to home_path, class: "fr-nav__link", 'aria-controls': "modal-header__menu", 'aria-current': current?("page", home_path) || current?("page", authenticated_root_path) do %>
            <%= t('sidebar.home') %>
          <% end %>
        </li>
        <% if policy(:convict).index? %>
          <li class="fr-nav__item">
            <%= link_to convicts_path, class: 'fr-nav__link', 'aria-current': current?("page", convicts_path) do %>
              <%= t('sidebar.convicts') %>
            <% end %>
          </li>
        <% end %>
        <% if policy(:appointment).index? %>
          <li class="fr-nav__item">
            <%= link_to appointments_path({ q: {slot_date_eq: Date.today.to_fs }}), class: 'fr-nav__link', 'aria-current': current?("page", appointments_path) do %>
              <%= t('sidebar.appointments') %>
            <% end %>
          </li>
        <% end %>
        <% if policy(:appointment).agenda_jap? || policy(:appointment).agenda_spip?  %>
          <% if policy(:appointment).agenda_jap? %>
            <li class="fr-nav__item">
              <%= link_to agenda_jap_path, class: 'fr-nav__link', 'aria-current': current?("page", agenda_jap_path) do %>
                <%= t('home.bex_jap') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(:appointment).agenda_sap_ddse? %>
            <li class="fr-nav__item">
              <%= link_to agenda_sap_ddse_path, class: 'fr-nav__link', 'aria-current': current?("page", agenda_sap_ddse_path) do %>
                <%= t('home.sap_ddse') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(:appointment).agenda_spip? %>
            <li class="fr-nav__item">
              <%= link_to agenda_spip_path, class: 'fr-nav__link', 'aria-current': current?("page", agenda_spip_path) do %>
                <%= t('home.bex_spip') %>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <% if access_advanced_nav? %>
          <li class="fr-nav__item">
            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-774" <%= (['/appointment_types', '/places', '/slots', '/users', '/organizations'].include? request.path) ? "aria-current=true" : nil %>>Administration</button>
            <div class="fr-collapse fr-menu" id="menu-774">
              <ul class="fr-menu__list">
                <% if policy(:appointment_type).index? %>
                  <li class="fr-nav__item">
              <%= link_to appointment_types_path, class: 'fr-nav__link', 'aria-current': current?("page", appointment_types_path) do %>
                <%= t('sidebar.message_templates') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(:place).index? %>
            <li class="fr-nav__item">
              <%= link_to places_path, class: 'fr-nav__link', 'aria-current': current?("page", places_path) do %>
                <%= t('sidebar.places') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(:slot).index? %>
            <li class="fr-nav__item">
              <%= link_to slots_path, class: 'fr-nav__link', 'aria-current': current?("page", slots_path) do %>
                <%= t('sidebar.slots') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(:user).index? %>
            <li class="fr-nav__item">
              <%= link_to users_path, class: 'fr-nav__link', 'aria-current': current?("page", users_path) do %>
                <%= t('sidebar.users') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(:organization).index? %>
            <li class="fr-nav__item">
              <%= link_to organizations_path, class: 'fr-nav__link', 'aria-current': current?("page", organizations_path) do %>
                <%= t('sidebar.organizations') %>
              <% end %>
            </li>
          <% end %>
          <% if Organizations::StatisticPolicy.new(current_user, current_organization).index? %>
            <li class="fr-nav__item">
              <%= link_to organization_statistics_path, class: 'fr-nav__link', 'aria-current': current?("page", organization_statistics_path) do %>
                <%= t('sidebar.statistics') %>
              <% end %>
            </li>
          <% end %>
          <% if policy(:organization_divestment).index? %>
            <li class="fr-nav__item">
              <%= link_to organization_divestments_path, class: 'fr-nav__link', 'aria-current': current?("page", organization_divestments_path) do %>
                <%= t('sidebar.organization_divestments') %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
  <li class="fr-nav__item">
    <%= link_to 'https://decouvrir.mon-suivi-justice.beta.gouv.fr/', class: 'fr-nav__link', target: '_blank' do %>
      <%= t('sidebar.guides') %>
    <% end %>
  </li>
</ul>
</nav>
</div>
</div>
