<section class="sidebar">
  <%= link_to home_path, class: 'sidebar-item-link' do %>
    <div class="sidebar-item <%= active_class_if_controller('home') %>">
      <%= t('sidebar.home') %>
    </div>
  <% end %>

  <% if policy(:convict).index? %>
    <%= link_to convicts_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_controller('convicts') %>">
        <%= t('sidebar.convicts') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:appointment).index? %>
    <%= link_to appointments_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_controller(['appointments', 'bex']) %>">
        <%= t('sidebar.appointments') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:appointment_type).index? %>
    <%= link_to appointment_types_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_controller('appointment_types') %>">
        <%= t('sidebar.appointment_types') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:place).index? %>
    <%= link_to places_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_controller(['places', 'slot_types']) %>">
        <%= t('sidebar.places') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:slot).index? %>
    <%= link_to slots_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_controller('slots') %>">
        <%= t('sidebar.slots') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:user).index? %>
    <%= link_to users_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_controller('users') %>">
        <%= t('sidebar.users') %>
      </div>
    <% end %>
  <% end %>
</section>
