<section class="sidebar">
  <% if policy(:convict).index? %>
    <%= link_to convicts_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_url([convicts_path, new_convict_path]) %>">
        <%= t('sidebar.convicts') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:appointment).index? %>
    <%= link_to appointments_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_url([appointments_path, new_appointment_path, today_appointments_path]) %>">
        <%= t('sidebar.appointments') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:appointment_type).index? %>
    <%= link_to appointment_types_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_url([appointment_types_path, appointment_type_path(:id)]) %>">
        <%= t('sidebar.appointment_types') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:place).index? %>
    <%= link_to places_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_url([places_path, new_place_path, edit_place_path(:id)]) %>">
        <%= t('sidebar.places') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:slot).index? %>
    <%= link_to slots_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_url([slots_path, new_slot_path]) %>">
        <%= t('sidebar.slots') %>
      </div>
    <% end %>
  <% end %>

  <% if policy(:user).index? %>
    <%= link_to users_path, class: 'sidebar-item-link' do %>
      <div class="sidebar-item <%= active_class_if_url([users_path, new_user_path]) %>">
        <%= t('sidebar.users') %>
      </div>
    <% end %>
  <% end %>
</section>
