<% content_for :content do %>
  <%= render 'layouts/header' %>

  <section class='agent-interface-container'>
    <%= render 'layouts/sidebar' %>

    <section class='content-container'>
      <% flash.each do |type, msg| %>
        <p class=<%= type %>><%= msg %></p>
      <% end %>

      <%= yield %>
    </section>

  </section>
  <div class='support-link' data-micromodal-trigger='support-modal'>
    <%= t('contact') %>
  </div>
<% end %>

<%= render template: 'layouts/application' %>

<%= render 'layouts/support_modal' %>
<%= javascript_pack_tag 'agent_interface', 'data-turbolinks-eval': false, defer: true %>
