<% content_for :content do %>
  <%= render 'layouts/header' %>

  <% flash.each do |type, msg| %>
    <p class=<%= type %>><%= msg %></p>
  <% end %>

  <section class="agent-interface-container">
    <%= render 'layouts/sidebar' %>

    <section class="content-container">
      <%= yield %>
    </section>
  </section>
<% end %>

<%= render template: "layouts/application" %>
