<% content_for :content do %>
  <%= render 'layouts/header' %>
  <% if current_user != true_user %>
    <div class="fr-alert fr-alert--info fr-alert--sm">
      <p>
        ATTENTION : Vous, <%= true_user.first_name %> <%= true_user.last_name %>, êtes connecté  en tant  que <strong><%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.role %>)</strong>
      </p>
    </div>
  <% end %>
  <div id="user_alerts">
    <% if @unread_alerts.any? %>
      <% @unread_alerts.each do |alert| %>
        <% user_user_alert = alert.user_user_alerts.find { |uua| uua.user_id == current_user.id } %>
        <%= render 'shared/alert_notice', user_user_alert:, alert: %>
      <% end %>
    <% end %>
  </div>
  <div id="turbostream_error_messages"></div>
  <div id="flash_messages">
    <% flash.each do |type, msg| %>
      <div class="fr-alert fr-alert--<%= dsfr_class_for(type) %> fr-alert--sm">        
        <p><%= msg.html_safe %></p>
      </div>
    <% end %>
  </div>
  <%# render 'layouts/breadcrumb' %>
  <main class="fr-container fr-pt-5w">
    <%= yield %>
    <section id="user-notifications-container">
    </section>
  </main>
  <%= render 'layouts/ie_warning' %>
  <div class='support-link' data-micromodal-trigger='support-modal'>
    <%= t('contact') %>
  </div>
  <%= render 'layouts/support_modal' %>
  <%= javascript_include_tag 'agent_interface', "data-turbo-track": "reload", defer: true %>
<% end %>
<%= render template: 'layouts/application' %>
