<% content_for :content do %>
  <%= render 'layouts/header' %>
      <div id="flash_messages">
        <% flash.each do |type, msg| %>
          <div class="fr-alert <%= "fr-alert--#{type == 'notice' ? 'info' : type}" %> fr-alert--sm">
            <p><%= msg %></p>
          </div>
        <% end %>
      </div>
      <main id="content">
        <div class="fr-container--fluid">
          <%= yield %>
        </div>
      </main>

  <%= render 'layouts/ie_warning' %>

  <div class='support-link' data-micromodal-trigger='support-modal'>
    <%= t('contact') %>
  </div>
  <%= render 'layouts/support_modal' %>
  <%= javascript_pack_tag 'agent_interface' %>
<% end %>

<%= render template: 'layouts/application' %>
