<% content_for :content do %>
  <%= render 'layouts/header' %>

  <section class='agent-interface-container'>
    <%= render 'layouts/sidebar' %>

    <section class='content-container'>
      <% flash.each do |type, msg| %>
        <p class=<%= type %>><%= msg %></p>
      <% end %>

      <div class="fr-notice fr-notice--info">
    <div class="fr-container">
        <div class="fr-notice__body text-center">
            <p class="fr-notice__title">Nous allons mettre à jour notre interface le 4 mai prochain. Pas de panique, on vous explique tout <a href='https://content-manager-msj.osc-secnum-fr1.scalingo.io/nouvelle-version/' rel='noopener' target='_blank'>ici</a></p>
        </div>
    </div>
</div>


      <%= yield %>
      <section id="user-notifications-container">
      </section>
    </section>
  </section>

  <%= render 'layouts/ie_warning' %>

  <div class='support-link' data-micromodal-trigger='support-modal'>
    <%= t('contact') %>
  </div>
  <%= render 'layouts/support_modal' %>
  <%= javascript_pack_tag 'agent_interface' %>
<% end %>

<%= render template: 'layouts/application' %>
