<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= t('header_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <%= javascript_include_tag 'gouvfr-module', type: 'module', 'data-turbo-track': 'reload', defer: true %>
    <%= javascript_include_tag 'gouvfr-nomodule', type: 'text/javascript', nomodule: true, 'data-turbo-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= render 'shared/analytics' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/environment_alert' %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
