<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Mon Suivi Justice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="description" content="Mon Suivi Justice est un service public numérique dédié à la réduction de l'absentéisme pour les rendez-vous avec le Ministère de la Justice.">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application_static', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application_static', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/static/header' %>

    <div class='static-wrapper'>
      <%= yield %>
    </div>

    <%= render 'layouts/static/footer' %>
  </body>
</html>
