<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= ENV['APP'] == 'mon-suivi-justice-staging' ? 'Staging - ' : '' %><%= t('header_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= render 'shared/analytics' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
