<% content_for :content do %>
  <% flash.delete(:timedout).each do |type, msg| %>
    <div class="fr-alert fr-alert--<%= dsfr_class_for(type) %> fr-alert--sm">
      <p><%= msg %></p>
    </div>
  <% end %>

  <section class="authentication-form-container">
    <%= yield %>
  </section>

  <%= render 'layouts/ie_warning' %>
<% end %>

<%= render template: "layouts/application" %>
